svg .overlay {
    fill: none;
    pointer-events: all;
}
text {
    cursor: pointer;
}
text:hover {
    cursor: pointer;
    fill: red;
}
.tooltip, .popup {
    position: absolute;
    text-align: left;
    min-width: 100px;
    padding: 2px;
    font: 12px sans-serif;
    background-color: lavender;
    border: solid 1px lightgray;
    color: gray;
    opacity: 0;
}
.popup {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #ffe5e9;
}
.popup td {
    padding-right: 4px;
    padding-left: 4px;
    background-color: #ffe5e9;
    color: gray;
}
.popup tr td:hover {
    padding-right: 4px;
    padding-left: 4px;
    background-color: #cefdce;
    color: black;
    cursor: pointer;
}
.links {
    fill: none;
    stroke: #000;
}
g circle {
    display: none;
    fill: transparent;
}
g.selected circle {
    display: block;
    fill: red;
}
rect.selection {
    stroke: gray;
    stroke-dasharray: 4px;
    stroke-opacity: 0.5;
    fill: transparent;
}
