#ruler {
    visibility: hidden;
    white-space: nowrap;
    font: 10px Helvetica; /* same as the title which is measured */
}
.tooltip {
    position: absolute;
    text-align: center;
    min-width: 100px;
    max-width: 200px;
    padding: 2px;
    font: 12px sans-serif;
    background: lavender;
    border: solid 1px lightgray;
    color: gray;
    opacity: 0;
}
.label {
    fill: gray;
    font: 10px Helvetica;
    text-anchor: start;
}
.table {
    border: 1px solid darkgray; 
}
td {
    vertical-align: top;
    font: 10px Helvetica;
    text-align: left;
}
#square {
    width: 12px;
    height: 12px;
    background-color: lightgray;
}