rect {
    fill: transparent;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
}

text {
    stroke: none;
    fill: #666666;
    font-size: .6em;
    font-family: "Sans-serif"
    cursor: pointer;
}

text:hover {
    cursor: pointer;
    fill: red;
}

.label {
    fill: #414241;
}

.dot {
    fill-opacity: .7;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    text-align: center;
    min-width: 100px;
    max-width: 200px;
    padding: 2px;
    font: 12px sans-serif;
    background: lavender;
    border: solid 1px lightgray;
    color: gray;
    opacity: 0;
}

.legend {
    float: left;
    overflow-y: auto;
    overflow-x: none;
    height: 500px;
    width: 220px;
}

.scatterplot {
    float: left;
}

#ruler {
    visibility: hidden;
    white-space: nowrap;
}

circle.dot {
    stroke: none;
}
circle.dot.selected {
    stroke: black;
    stroke-width: 2;
}
rect.dot {
    stroke: none;
}
rect.dot.selected {
    stroke: black;
    stroke-width: 2;
}
text.legend.selected {
    fill: red;
}
text.legend {
    fill: #666666;
}
