div.horizontal {
    height: 44px;
    width: 100%;
    background-color: #648DAA;
}
div.horizontal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.horizontal li {
    float: left;
}
div.horizontal a {
    display: block;
    height: 35px;
    width: 110px;
}
div.horizontal a:link, div.horizontal a:visited {
    background-color: #648DAA;
    color: #FFFFFF;
    font-weight: bold;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
div.horizontal a:hover, div.horizontal a:active {
    background-color: #065893;
}