[%
	WRAPPER layouts/default.html.tt;
	title = 'IMG ProPortal: Clade Graph';
%]
<h2>Sample Distribution by Clade</h2>
<p>
	This visualisation shows the
</p>
<section class="clade" id="primary">
<h3>Species distribution by Clade</h3>
[%	IF data_filters && data_filters.all %]
<section id="filters">
<p>Filter by subset:</p>
<ul>
[%	# filter domain
		FOR fd IN data_filters.all.keys.sort;
			FOR f IN data_filters.all.$fd.values; %]
<li><a href="[% link('proportal/clade') %]/[% f.id %]">[% f.label %]</a>[%
				IF data_filters.active && data_filters.active.$fd == f.id;
		%] (currently displayed)[%
				END; %]
</li>
[%			END; %]
<li><a href="[% link('proportal/clade') %]">no filter</a>[%
			IF ! data_filters.active || data_filters.active.datamart %] (currently displayed)[%
			END; %]</li>
[%		END; %]
</ul>
</section>
[% END %]
<div id="clade">
</div>
</section>
<section role="complementary" class="init" id="info">
<ul class="noDot">
	<li class="instructions">
		<h3>Sample details</h3>
		<p>
			Click on a clade to view the details.
		</p>
	</li>
[%	FOREACH clade IN results.data.keys.sort;
		c = results.data.$clade; %]
<li data-clade-id="[% c.id %]" id="[% c.id %]" class="clade_details">
	<h4 class="clade-details__genus">Genus [% c.genus %]</h4>
	<h5 class="clade-details__clade">Clade [% c.label %], [% c.count %] species</h5>
	<p><a class="clade-details__link--genome_list_clade" href="[% link('genome_list_clade', { clade => c.label } ) %]">View species in table browser</a></p>
	<ul>
	[%		FOREACH g IN c.genomes %]
		<li><a class="clade-details__link--taxon" href="[% link('taxon', { taxon_oid => g.taxon_oid }) %]">[% g.taxon_display_name %]</a></li>
	[%		END %]
	</ul>
</li>
[%	END; %]
</ul>
</section>
</article>
[%	END; %]
