[%
	WRAPPER layouts/default.html.tt;
	title = 'IMG ProPortal: Genome List';
%]

[%	IF title %]
<h1>[% title %]</h1>
[%	END;
	IF note;
		note;
	END; %]
[% IF page != 'genomeCart' %]
<form action="[% cfg.main_cgi_url %]" method="POST" name="mainForm">





</form>
[%	END %]
[%	END %]