[%	WRAPPER 'inc/page_wrapper.tt';
	title = 'IMG ProPortal: Genome List';
%]
<h1>Genome List</h1>
[%	IF note;
		note;
	END; %]
[% IF page != 'genomeCart' %]
<form action="[% cfg.main_cgi_url %]" method="POST" name="mainForm">





</form>
[%	END %]
[%	END %]
