[%
	WRAPPER layouts/default.html.tt;
	title = 'IMG ProPortal: Location Map';
%]
<h2>Sample Distribution by Location</h2>
<p>
	There are [% results.size %] public genomes <!--, of which [% result.displayed %] are -->displayed on the map below. Only public projects that have provided longitude and latitude coordinates are displayed; if the coordinates are invalid, the project will not appear on the map.
</p>
<p>
	Map pins represent location counts; some pins may have multiple genomes.
</p>
<p>Filter by ecosystem type:</p>
[%	IF data_filters && data_filters.all %]
<ul>
[%	# filter domain
		FOR fd IN data_filters.all.keys.sort;
			FOR f IN data_filters.all.$fd.values; %]
<li><a href="[% links.location %][% f.id %]">[% f.label %]</a>[%
				IF data_filters.active && data_filters.active.$fd == f.id;
		%] (currently displayed)[%
				END; %]
</li>
[%			END; %]
<li><a href="[% links.location %]">no filter</a>[%
			IF ! data_filters.active || data_filters.active.datamart %] (currently displayed)[%
			END; %]</li>
[%		END; %]
</ul>
[% END %]
<section class="map" id="primary">
<h3>Sample Acquisition Locations</h3>
<div id="map" style="height: 500px;">
</div>
</section>
<section role="complementary" class="details" id="info">
<h3>Location and sample details</h3>
<p>
	Click on a marker to view the project details.
</p>
</section>
</article>
[%	END; %]
