[%	WRAPPER 'inc/page_wrapper.tt';
	title = 'IMG ProPortal: Home';
%]
<h2>IMG/ProPortal</h2>
<h3>Offline</h3>
<p>This section of the IMG/ProPortal website is currently offline undergoing development.</p>
[% END; %]
