[%	WRAPPER 'inc/page_wrapper.tt';
	title = 'IMG ProPortal: Genome Details';
	self = results;
%]

<h2>[% self.display_name %]</h2>


<h3>General Taxonomic Information</h3>

<pre>
study name
organism name: [% self.display_name %]
alt name(s):
</pre>

<h3>Identification and External Links</h3>

<dl>
<dt>Taxon ID</dt><dd>[% self.taxon_oid %]</dd>
<dt>Bioproject Accession</dt><dd>[% self.bioproject_accession %]</dd>
<dt>Biosample Accession</dt><dd>[% self.biosample_accession %]</dd>
<dt>NCBI Taxon ID</dt><dd>[%
## TODO: find generic NCBI taxon link!

%][% self.ncbi_taxon_id %]</dd>
<dt>GOLD ID</dt><dd>[% self.gold_id %]</dd>
<!-- dt>Project ID</dt><dd>[% self.project_id %]</dd -->
<dt>Project Status</dt><dd>[% self.project_status %]</dd>
<dt>GOLD details</dt>
<dd><a rel="external" href="[% ext_link('gold_base_url_study') %][% self.study_gold_id %]">Study ID [% self.study_gold_id %]</a><dd>
<dd><a rel="external" href="[% ext_link('gold_base_url_project') %][% self.gold_id %]">Project ID [% self.gold_id %]</a><dd>
<dd><a rel="external" href="[% ext_link('gold_base_url_analysis') %][% self.analysis_project_id %]">Analysis Project ID [% self.analysis_project_id %]</a></dd>
<dt>NCBI/RefSeq ID</dt>
<dd>[%
	IF self.extId %]<a rel="external" href="[% ext_link('ncbi_entrez_base_url') %][% self.extId %]">[% self.extId %]</a>[%
	ELSE;
		'Not specified';
	END;
	%]
</dd>
<dt>Genome publication<dt>
[%	IF self.gold_sp_genome_publications.size > 0;
		FOR p IN self.gold_sp_genome_publications %]
			<dd>"[% p.title %]" in [% p.journal_name %][%
			IF p.publication_date; " " _ p.publication_date; END;
			IF p.volume; " volume " _ p.volume; END;
			IF p.issue; " issue " _ p.issue; END;
			IF p.page; " pages " _ p.page; END;

			IF p.pubmed_id && p.pubmed_id != "";
	 %] <a href="[% ext_link('pubmed') %][% p.pubmed_id %]" rel="external">PMID:[% p.pubmed_id %]</a>[%
			END;
			IF p.doi && p.doi != "";
	%] <a href="[% ext_link('doi') %][% p.doi %]" rel="external">doi:[% p.doi %]</a>[%
			END;
		END;
	ELSE;
		'<dd>Not specified</dd>';
	END; %]
</dl>
<h3>Sequence Information</h3>

<dl>
<dt>Project Type</dt><dd> ... </dd>
<dt>Culture Type</dt><dd>[% self.culture_type %]</dd>
<dt>High Quality</dt><dd>[% self.seq_quality %]</dd>
<dt>Publicly Available</dt><dd>[% self.is_public %]</dd>
</dl>
<h4>Sequencing details</h4>
<dl>
<dt>Sequencing status</dt><dd>[% self.seq_status %]</dd>
<dt>Sequencing Center</dt>[%
	IF self.gold_sp_seq_centers.size > 0;
		FOR sc IN self.gold_sp_seq_centers;
			'<dd>';
			IF sc.url;
				%]<a href="[% sc.url %]" rel="external">[% sc.name %]</a>[%
			ELSE;
				sc.name;
			END;
			IF sc.country;
				', ' _ sc.country;
			END;
			'</dd>';
		END;
	ELSE;
		'<dd>Not specified</dd>';
	END; %]
<dt>Sequencing Method</dt>[%
	IF self.gold_sp_seq_methods.size > 0;
		FOR m IN self.gold_sp_seq_methods;
			'<dd>' _ m.seq_method _ '</dd>';
		END;
	ELSE;
		'<dd>Not specified</dd>';
	END; %]
</dl>

<h4>Curation Details</h4>
<pre>
Submission Type
IMG Release
Release Date
Add Date: [% self.add_date %]
Modified Date: [% self.mod_date;
	IF self.modified_by != "";
		' by ' _ self.modified_by;
	END; %]
Distance Matrix Calculation Date
</pre>
<h3>Ecological Information</h3>

<h4>Biological Details</h4>
<h5>Lineage</h5>
<dl>
<dt>Kingdom</dt><dd>[% self.ncbi_kingdom %]</dd>
<dt>Order</dt><dd>[% self.ncbi_order %]</dd>
<dt>Phylum</dt><dd>[% self.ncbi_phylum %]</dd>
<dt>Class</dt><dd>[% self.ncbi_class %]</dd>
<dt>Family</dt><dd>[% self.ncbi_family %]</dd>
<dt>Genus</dt><dd>[% self.ncbi_genus %]</dd>
<dt>Species</dt><dd>[% self.ncbi_species %]</dd>
<dt>NCBI Taxon ID</dt><dd>[% self.ncbi_taxon_id %]</dd>
<dt>NCBI Project ID</dt><dd>[% self.ncbi_project_id %]</dd>

<dt>Clade</dt><dd>[% self.clade %]</dd>
<dt>Ecotype</dt><dd>[% self.ecotype %]</dd>
<dt>Biotic relationships</dt><dd>[% self.biotic_rel %]</dd>

<dt>Cell arrangement</dt>[%
	IF self.gold_sp_cell_arrangements;
		FOR ca IN self.gold_sp_cell_arrangements; %]
		<dd>[% ca.cell_arrangement %]</dd>
[%		END;
	ELSE;
		'<dd>Not specified</dd>';
	END %]
<dt>Cell shape</dt><dd>[% self.cell_shape %]</dd>
<dt>Gram stain</dt><dd>[% self.gram_stain %]</dd>
<dt>Energy source</dt>[%
	IF self.gold_sp_energy_sources.size > 0;
		FOR e IN self.gold_sp_energy_sources; %]
	<dd>[% e.energy_source %]</dd>
[%		END;
	ELSE;
		'<dd>Not specified</dd>';
	END %]
<dt>Motility</dt><dd>[% self.motility %]</dd>
<dt>Phenotype</dt>[%
	IF self.gold_sp_phenotypes.size > 0;
		FOR p IN self.gold_sp_phenotypes; %]
		<dd>[% p.phenotype %]</dd>
[%		END;
	ELSE;
		'<dd>Not specified</dd>';
	END %]
<dt>Temperature range</dt><dd>[% self.temp_range %]</dd>
<dt>Relevance</dt>
[%	IF self.gold_sp_relevances.size > 0;
		FOR r IN self.gold_sp_relevances; %]
	<dd>[% r.relevance %]</dd>
[%		END;
	ELSE;
		'<dd>Not specified</dd>';
	END; %]
<dt>Type strain</dt><dd>[% self.type_strain %]</dd>
</dl>
<h4>Natural Isolation Environment</h4>
<dl>
<dt>Date collected</dt><dd>[% self.date_collected %]</dd>
<dt>Lat/long</dt><dd>[% self.latitude %], [% self.longitude %]</dd>
<dt>Sample collection depth/altitude</dt><dd>[% self.altitude %] [% self.depth %]</dd>
<dt>Isolation details / iso date / cruise</dt><dd>[% self.isolation %]</dd>
<dt>Longhurst code</dt><dd>[%
	IF self.longhurst_code && self.longhurst_description; %]
		[% self.longhurst_code %], [% self.longhurst_description %]
[%	ELSE;
		self.longhurst_code || self.longhurst_description || 'Not specified';
	END; %]
		</dd>
<dt>Geographic location</dt><dd>[% self.geo_location %]</dd>
<dt>Habitat</dt>[%
	IF self.gold_sp_habitats.size > 0;
		FOR h IN self.gold_sp_habitats;
			%]<dd>[% h.habitat %]</dd>[%
		END;
	ELSE;
		'<dd>Not specified</dd>';
	END %]
<dt>Ecosystem information</dt>
<dd>ecosystem: [% self.ecosystem %]</dd>
<dd>category: [% self.ecosystem_category %]</dd>
<dd>type: [% self.ecosystem_type %]</dd>
<dd>subtype: [% self.ecosystem_subtype %]</dd>
<dd>specific ecosystem: [% self.specific_ecosystem %]</dd>
</dl>
<h5>Environmental Parameters</h5>
<dl>
<dt>Salinity</dt><dd>[% self.salinity %]</dd>

</dl>

<h4>Other stuff</h4>
<dl>
[%	params = [
'comments', 'contact_oid', 'domain', 'funding_program', 'hmp_id', 'host_gender', 'host_name', 'host_ncbi_taxid', 'img_taxon_oid', 'iso_country', 'its_spid', 'legacy_project_type', 'locus_tag', 'mrn', 'oxygen_req', 'phylogeny', 'pi_email', 'pi_name', 'pm_email', 'pm_name', 'pmo_project_id', 'replicate_num', 'sample_body_site', 'sample_body_subsite', 'sequencing_strategy', 'sporulation', 'strain', 'uncultured_type', 'visit_num'];

	FOR p IN params; %]
<dt>[% p %]</dt>
<dd>[% self.$p %]</dd>
[%	END; %]
</dl>

<pre>
[% USE Dumper; Dumper.dump(self); %]
</pre>



[%	END %]
