[%	WRAPPER 'inc/page_wrapper.tt';
	title = 'IMG ProPortal: Clade Graph';
%]
<h2>Sample Distribution by Clade</h2>
<section class="info--clade init page-intro">
<p>
	This visualisation shows part of the taxonomic structure of the Prochlorococcus and Synechococcus species. Only <i>Prochlorococcus</i> and <i>Synechococcus</i> are classified into clades.
</p>
<p class="instructions">
	Click on a bar to view the taxa that are part of that clade.
</p>
</section>
[%	IF data_filters;
		PROCESS 'inc/filters.tt';
	END;
%]
<section class="visualisation cf">
<div id="clade">
	<p class="js_vis_loading">
		Please wait while the visualisation loads.
	</p>
</div>
<div id="plotly" class="hide">
</div>
</section>
<section role="complementary" class="clade-data">
[%	WRAPPER 'inc/cart_genome_add.tt'; %]
<ul class="noDot">
[%	FOREACH genus IN results.js.data.keys.sort;
	FOREACH clade IN results.js.data.$genus.keys.sort;
		c = results.js.data.$genus.$clade; %]
<li id="[% c.id %]" class="clade_details">
	<h4 class="clade-details__genus">Genus [% c.genus %]</h4>
	<h5 class="clade-details__clade">Clade [% c.label || 'unspecified' %], [% c.genomes.size %] species</h5>
	<!-- p><a class="clade-details__link--genome_list_clade" href="[% link('genome_list_clade', { clade => c.label } ) %]">View species in table browser</a></p -->
	<ul>
	[%		FOREACH s IN c.genomes %]
		<li><input type="checkbox" class="sample-data__cbox" name="taxon_oid[]" value="[% s.taxon_oid %]" id="cbox_[% s.taxon_oid %]" /> <a class="clade-details__link--taxon" href="[% link('details', { type => 'taxon', taxon_oid => s.taxon_oid }) %]">[% s.taxon_display_name %]</a></li>
	[%		END %]
	</ul>
</li>
[%	END;
	END; # end foreach genus %]
</ul>
[%	END; # end cart_genome_add wrapper %]
</section>
[%	END; %]
