[%	WRAPPER 'inc/page_wrapper.tt';
	title = 'IMG ProPortal: Home';
%]
<style>

#quick-search, #gallery {
	color: white;
}
#quick-search {
	background: #648DAA;
}
#gallery {
	color: white;
	background: #204977;
}

@media only screen and (max-width: 479px) {
  #about, #news, #quick-search, #gallery, .content {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

	#quick-search, #gallery, #about, #news {
		width: 100%;				/* 50%; */
		margin: .5rem 0 0 0;  		/* makes white space between stacked sections. */
		padding: 2.5rem;
		float: left;
	}
}

article section {
	padding: 1rem;
}
@media only screen and (min-width: 480px) {
  .longhurst-stats, .subset-stats {
  	width: 50%;
	float: left;
 }
}

.longhurst-stats table, .subset-stats table {
	padding: 0 1rem;
}

@media only screen and (min-width: 768px) {
	#news, #about, #stats {
		width: 33.3%;					/*  33.3%; */
		float: left;
		padding: 30px;
	/*  padding: 0 0.75rem; */
	}
	#about {
		clear: left;
	}
	#quick-search {
		width: 400px;
		height: 340px;
		padding: 30px;
		float: left;
	}
	#gallery {
		padding: 30px;
		margin-left: 412px; /* width of #quick-search + 12px; */
		height: 340px;
	/* float: left; */
	}
}

h3 {
	margin: 0;
}

select {
	color: black;
	width: 100%;
}

input {
	color: black;
	width: 100%;
}

.quick-search {		/* button */
	background: #204977;
	padding: .5rem 1rem;
	float: right;
}

th {
	padding: 4px 0 4px 10px;
	/* border-bottom: 1px solid lightgray; */
}

tr {
	border: 0;
}

td {
	padding: 4px 0 4px 30px;
}

.category {
	font-weight: bold;
	padding: 10px 0 4px 15px;
	
}

.section-content {
	padding: 15px 0;
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
}
</style>

<!-- First row, quick search and image gallery. -->
<div class="cf">

<section id="quick-search">
<h3> Quick Search</h3>

<strong>Search category:</strong>
<select>
	<option value="genomes"> Genomes </option>
	<option value="genes"> Genes </option>
	<option value="functions"> Functions </option>
</select>
<p></p>
<strong>For keyword:</strong>
<input type="text" />
<button class="quick-search">Go</button>
</section>

<section id="gallery">
<h3>Image Gallery</h3>
<p> Image gallery goes here...</p>
</section>

<section id="about">
<h3>About IMG/ProPortal</h3>
	<div class="section-content">
<p>
	The marine cyanobacterium <strong><i>Prochlorococcus</i></strong>, which is abundant in the oceans, is a key model system in microbial ecology. <strong>IMG/ProPortal</strong> provides <i>Prochlorococcus</i> and the closely related <i>Synechococcus</i> and <i>Cyanophage</i> genomes integrated with a comprehensive set of publicly-available isolate and single cell genomes, and a rich set of publicly-available metagenome samples. <strong>IMG/ProPortal</strong> includes genomic, transcriptomic, metagenomic and population data from both cultivated strains and wild populations of cyanobacteria and phage.</p>
<p><strong>IMG/ProPortal</strong> relies on IMG's data warehouse and comparative analysis tools (<a href="http://nar.oxfordjournals.org/content/42/D1/D560" rel="external">Nucleic Acids Research, Volume 42 Issue D1</a>) and is a descendant of <strong>ProPortal</strong> (<a href="http://nar.oxfordjournals.org/content/40/D1/D632" rel="external">Nucleic Acids Research Volume 40 Issue D1</a>).</p>
	</div>
</section>


<section id="stats">
<h3>IMG/ProPortal Data Sets</h3>
<div class="section-content">
	
<table>

<tr><td class="category" colspan="2">Isolate and Single Cell Genomes</td></tr>
	[%	IF results.stats.subsets.size > 0;
		FOR fd IN data_filters.all.keys.sort;
			FOR f IN data_filters.all.$fd.enum;
				IF results.stats.subsets.$f;
					s = results.stats.subsets.$f; %]
			<tr><td>[% data_filters.all.$fd.enum_map.$f %]</td>
				<td>[% s.count %]</td>
			</tr>
	[%			END;
			END;
		END;
	ELSE %]
		<tr><td colspan="2">No statistics found!</td></tr>
	[%	END; %]

<tr><td class="category" colspan="2">Metagenomes by Ecosystem Subtype</td></tr>

	[% IF results.stats.metagenomes_by_ecoSub.size > 0;
		FOREACH r IN results.stats.metagenomes_by_ecoSub %]
		<tr><td>[%	( r.ecosystem_subtype || 'Unclassified' )		%]</td>
			<td>[% r.count %]</td>
		</tr>
[%		END;
	ELSE %]
		<tr><td colspan="2">No statistics found!</td></tr>
[%	END; %]


	
</table>
</div>
</section>



<section id="news">
<h3>News</h3>
<div class="section-content">
<a class="twitter-timeline" href="https://twitter.com/IMG_ProPortal">Tweets by IMG ProPortal</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</section>
<!-- 

<section class="subset-stats clear">
	<table>
	<caption>IMG ProPortal Statistics</caption>
	<thead>
	<tr><th class="L">Subset</th><th class="L">Count</th></tr>
	</thead>
	<tbody>
[%	IF results.stats.subsets.size > 0;
		FOR fd IN data_filters.all.keys.sort;
			FOR f IN data_filters.all.$fd.enum;
				IF results.stats.subsets.$f;
					s = results.stats.subsets.$f; %]
			<tr><td>[% data_filters.all.$fd.enum_map.$f %]</td>
				<td>[% s.count %]</td>
			</tr>
	[%			END;
			END;
		END;
	ELSE %]
		<tr><td colspan="2">No statistics found!</td></tr>
[%	END; %]
	</tbody>
	</table>
</section>
<section class="longhurst-stats">

<!~~
[% USE Dumper; '<pre>'; Dumper.dump(results.stats.by_longhurst); '</pre>' %]
~~>

	<table>
	<caption>Counts by Longhurst Code</caption>
	<thead>
	<tr><th class="L">Longhurst Code</th><th class="L">Count</th></tr>
	</thead>
	<tbody>
[%	IF results.stats.by_longhurst.size > 0;
		FOREACH k IN results.stats.by_longhurst.keys.sort;
			r = results.stats.by_longhurst.$k; %]
		<tr><td>[%
			IF r.longhurst_description;
				r.longhurst_description _ ' (' _ r.longhurst_code _ ')';
			ELSE;
				'(unclassified)';
			END;
			%]</td>
			<td>[% r.count %]</td>
		</tr>
[%		END;
	ELSE %]
		<tr><td colspan="2">No statistics found!</td></tr>
[%	END; %]
	</tbody>
	</table>
</section>
<section class="mg_by_eco clear">
	<table>
	<caption>Metagenome Counts by Ecosystem</caption>
	<thead>
	<tr><th class="L">Ecosystem</th><th class="L">Count</th></tr>
	</thead>
	<tbody>
[%	eco = [ 'ecosystem', 'ecosystem_category', 'ecosystem_type', 'ecosystem_subtype', 'specific_ecosystem' ];
	IF results.stats.metagenomes_by_eco.size > 0;
		FOREACH r IN results.stats.metagenomes_by_eco %]
		<tr><td>[%
			( r.ecosystem_type || '(unclassified)' )
			%] > [%
			( r.ecosystem_subtype || '(unclassified)' )
			%] > [%
			( r.specific_ecosystem || '(unclassified)' )
			%]</td>
			<td>[% r.count %]</td>
		</tr>
[%		END;
	ELSE %]
		<tr><td colspan="2">No statistics found!</td></tr>
[%	END; %]
	</tbody>
	</table>
</section>
 -->
</div>

[% END; %]
