[%	WRAPPER 'inc/page_wrapper.tt';
	title = 'IMG ProPortal: Home';
%]
<div class="cf">
<section id="about">
<h3>About IMG/ProPortal</h3>
<p>
	The marine cyanobacterium <strong><i>Prochlorococcus</i></strong>, which is abundant in the oceans, is a key model system in microbial ecology. <strong>IMG/ProPortal</strong> provides <i>Prochlorococcus</i> and the closely related <i>Synechococcus</i> and <i>Cyanophage</i> genomes integrated with a comprehensive set of publicly-available isolate and single cell genomes, and a rich set of publicly-available metagenome samples. <strong>IMG/ProPortal</strong> includes genomic, transcriptomic, metagenomic and population data from both cultivated strains and wild populations of cyanobacteria and phage.</p>
<p><strong>IMG/ProPortal</strong> relies on IMG's data warehouse and comparative analysis tools (<a href="http://nar.oxfordjournals.org/content/42/D1/D560" rel="external">Nucleic Acids Research, Volume 42 Issue D1</a>) and is a descendant of <strong>ProPortal</strong> (<a href="http://nar.oxfordjournals.org/content/40/D1/D632" rel="external">Nucleic Acids Research Volume 40 Issue D1</a>).</p>
</section>

<section id="user-guide">
<h3>User Guide</h3>
[%	IF user_guide;
		# do something
	ELSE; %]
<p>The IMG/ProPortal user guide is still under development.</p>
[%	END; %]
</section>

<section id="news">
<h3>News</h3>
[%	INCLUDE inc/news.tt %]
</section>
</div>
[% END; %]
