[%	WRAPPER 'inc/page_wrapper.tt';
	title = 'Phylogram';
	page_slug = 'phylogram';
%]
	<h2>Phylogram</h2>
<section class="info--phylogram page-intro">
<p>Click on the nodes in the tree below to explore the phylogenetic tree for the <i>Prochlorococcus</i>, <i>Synechococcus</i>, and cyanophage species. Please note that taxonomic information is not available for metagenomes.</p>
<!-- p>
	Hover over a node to identify it. Solid blue nodes are nodes with children; click on them to expand and view the children. Clicking on a parent node will collapse the children. Click on a leaf node to view information about it; information is shown below the visualisation (but will be displayed more attractively in future iterations of the tool).
</p -->
</section><!-- /end section phylogram__info -->
[%	IF data_filters;
		PROCESS 'inc/filters.tt';
	END %]
<section class="visualisation clear cf">
<div id="phylogram">
	<p class="js_vis_loading">
		Please wait while the visualisation loads.
	</p>
</div>
</section>
<section role="complementary" class="[% page_slug %]-table__section">
[%
	table_class = page_slug _ '__table';
	data_table = {
		class => table_class,
		id => table_class,
		for_datatables_js => 1,
		tbody => results.js.arr,
		thead => {
			enum => results.js.table_cols,
		},
	};

	PROCESS 'inc/generic/table.tt' WRAPPER 'inc/cart/taxon_add.tt'; %]
</section>
[%	END; %]
