[%	IF ! page_wrapper;
		page_wrapper = 'layouts/default.html.tt';
	END;
	WRAPPER $page_wrapper;
	title = 'IMG ProPortal: BLAST';
%]
<h2>BLAST</h2>
<p> Coming soon: BLAST your sequences against ProPortal genomes.</p>


[%	END; %]
