[%	WRAPPER 'inc/page_wrapper.tt';
	title = 'JBrowse';
%]
<div class="floatR"><img src="http://gmod.org/mediawiki/images/thumb/a/ac/JBrowseLogo.png/250px-JBrowseLogo.png" /></div>
<h2>[% JBrowse %]</h2>
<section id="tool-info__section" role="complementary">
<h4>What does JBrowse do?</h4>
[% 	PROCESS 'inc/lorem_ipsum.tt' %]
<h4>How do I run JBrowse?</h4>
[% 	PROCESS 'inc/lorem_ipsum.tt' %]
<p><a href="#">Read the documentation for more information</a></p>
</section>
<section id="tool-input__section">
	<h3>Genome Cart</h3>
[%	IF ! results.js.array; %]
	<p>The genome cart is currently empty. To run JBrowse, you need to select a genome to view the sequence of.
	</p>
[%	ELSE; %]

<p>Select a genome to view the sequence of:</p>
<form method="POST" class="[% class %]__form" action="[% link('tools/krona') %]/query">
[%	FOREACH f IN results.form;
		t = results.schema.$f; %]
		<fieldset class="[% class %]__field--[% f %]">
			<legend class="[% class %]__legend">[% t.label %]</legend>
[%

		IF 'radio' == t.control || 'checkbox' == t.control;
			FOREACH c IN t.enum; %]
		<input class='[% class %]__input--[% f %]' type='[% t.control %]' name='[% t.name %]' value='[% c.id %]' id='[% f %]_[% c.id %]'[% IF t.default == c.id || c.selected %] selected[% END %] />
		<label for='[% f %]_[% c.id %]' class='[% class %]__label--[% f %]'>[% c.label %]</label>
[%
			END; # end t.enum

		ELSIF 'checkbox_table' == t.control;
%]
			<fieldset>
[%	INCLUDE 'inc/table.tt' %]
			</fieldset>
[%		END; # end t type %]
		</fieldset>
[%	END; # end f in results.form %]
		<input type="submit" value="Go!" />
	</fieldset>
</form>
[%	END; # end if results.js.array %]
</section>
[% END %]
