[%	WRAPPER 'inc/page_wrapper.tt';
	title = 'IMG ProPortal: Krona';
%]
<div class="floatR" style="width: 250px"><img src="https://camo.githubusercontent.com/29f73f47fce0bb1d6ba9d7d6f2de494f6c08d726/687474703a2f2f6d6172626c2e6769746875622e696f2f4b726f6e612f696d672f6c6f676f2e706e67" /></div>
<h2>Krona</h2>
<section id="tool-info__section" role="complementary">
<h4>What does Krona do?</h4>
[% 	PROCESS 'inc/lorem_ipsum.tt' %]
<h4>How do I run Krona?</h4>
[% 	PROCESS 'inc/lorem_ipsum.tt' %]
<p><a href="#">Read the documentation for more information</a></p>
</section>
<section id="tool-input__section">
	<h3>Genome Cart</h3>
[%	IF ! results.js.array; %]
	<p>The genome cart is currently empty. To run Krona, you need to collect a set of genomes of interest in the genome cart.
	</p>
[%	ELSE; %]
<p>Select the genomes to perform the analysis on.</p>
<form method="POST" class="[% class %]__form" action="[% link('tools/krona') %]/query">
[%	FOREACH f IN results.form;
		t = results.schema.$f; %]
		<fieldset class="[% class %]__field--[% f %]">
[%
		IF 'radio' == t.control || 'checkbox' == t.control;
			FOREACH c IN t.enum; %]
		<input class='[% class %]__input--[% f %]' type='[% t.control %]' name='[% t.name %]' value='[% c.id %]' id='[% f %]_[% c.id %]'[% IF t.default == c.id || c.selected %] selected[% END %] />
		<label for='[% f %]_[% c.id %]' class='[% class %]__label--[% f %]'>[% c.label %]</label>
[%
			END; # end t.enum

		ELSIF 'checkbox_table' == t.control;
%]
			<fieldset>
[%	INCLUDE 'inc/table.tt' %]
			</fieldset>
[%		END; # end t type %]
		</fieldset>
[%	END; # end f in results.form %]
		<input type="submit" value="Go!" />
	</fieldset>
</form>
[%	END; # end if results.js.array %]
</section>
[% END %]
