<!DOCTYPE html>
<html lang="en">
<head>
	<title>[% title %]</title>
[%	PROCESS 'inc/page_head.tt';
	IF tmpl_includes;
		IF tmpl_includes.tt_styles;
			FOR s IN tmpl_includes.tt_styles;
				f_name = 'styles_' _ s _ '.tt';
				PROCESS $f_name;
			END;
		END;
		IF tmpl_includes.styles;
			# render style content
		END;
		IF tmpl_includes.head;
			# any other stuff
		END;
	END; %]
</head>
<body[% body_class %]>
<!-- template: [% template.name %] -->
<div class="wrapper">
[%	PROCESS 'inc/header.tt';
	PROCESS 'inc/menu.tt' %]
	<div class="content-wrap">
	<article class="content" role="main">
[%	IF breadcrumbs;
		PROCESS 'inc/breadcrumbs.tt';
	END;
	IF message;
		PROCESS 'inc/message.tt';
	END;
	# the page content
	content %]
	</article>
[%	PROCESS 'inc/nav.tt'; %]
	</div>
[%	PROCESS 'inc/footer.tt' %]
</div>
[%	IF cfg.debug;
		PROCESS 'inc/debug.tt';
	END;

	IF tmpl_includes;
		IF tmpl_includes.tt_scripts;
			FOR s IN tmpl_includes.tt_scripts;
				f_name = 'scripts_' _ s _ '.tt';
				PROCESS $f_name;
			END;
		END;
		IF tmpl_includes.scripts;
			# render scripts
		END;
		IF tmpl_includes.foot;
			# any other stuff
		END;
	END;
	IF google_analytics;
		PROCESS 'inc/google_analytics.tt';
	END;
%]
<!-- end [% template.name %] -->
</body>
</html>
