.DS_Store
.svn
svn-prop.tmp~
.DS_Store
.bowerrc

OldWebConfig.pm

webui.cgi/GD.pm
webui.cgi/BLOSUM62
webui.cgi/api/
webui.cgi/bin/
webui.cgi/main-*
webui.cgi/misc/
webui.cgi/mpillay/
webui.cgi/util/
webui.cgi/psu_diagram/

WebFarm/
bc/
doc.src-abc/
doc.src-edu/
doc.src-er/
doc.src-geba/
doc.src-hmp/
doc.src-metag-mw/
doc.src-metag/
doc.src/
install/
load/
messageSystem/
preComputedData/
servers.cgi/
testing/
webui.htd-abc/
webui.htd-edu/
webui.htd-er/
webui.htd-geba/
webui.htd-hmp/
webui.htd-metag-mw/
webui.htd-metag/
webui.htd-proportal/
worker.cgi/
MANIFEST*
cover_db/

# proportal specific stuff:
MANIFEST
MANIFEST.SKIP
Makefile.PL

environments/core.json
environments/sg_dev.json

docs/
log/
node_modules/
public/assets/
public/bower/
src/bower/
share/
tmp/
IMG_Core-full/
IMG_SG_Dev-as-core/
lib/PodServer.pm
script/podserver
lib/ProPortal/Model/Methods.pm

/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
