.DS_Store
.svn
svn-prop.tmp~
.DS_Store
.bowerrc

OldWebConfig.pm

webui.cgi/GD.pm
webui.cgi/BLOSUM62
webui.cgi/api/
webui.cgi/bin/
webui.cgi/main-*
webui.cgi/misc/
webui.cgi/mpillay/
webui.cgi/util/
webui.cgi/psu_diagram/

WebFarm/
bc/
doc.src-abc/
doc.src-edu/
doc.src-er/
doc.src-geba/
doc.src-hmp/
doc.src-metag-mw/
doc.src-metag/
doc.src/
install/
jbrowse/
load/
messageSystem/
preComputedData/
servers.cgi/
testing/
webui.htd-abc/
webui.htd-edu/
webui.htd-er/
webui.htd-geba/
webui.htd-hmp/
webui.htd-metag-mw/
webui.htd-metag/
webui.htd-proportal/
webui.htd/
worker.cgi/
MANIFEST*
cover_db/
proportal/lib/DBIC/

# proportal specific stuff:
proportal/MANIFEST
proportal/MANIFEST.SKIP
proportal/Makefile.PL
proportal/config.pl
proportal/bin/async.psgi
proportal/bin/stream_test.psgi

proportal/environments/
proportal/docs/
proportal/log/
proportal/node_modules/
proportal/public/assets/
proportal/public/bower/
proportal/image-sprite/
proportal/icomoon/
proportal/share/
proportal/tmp/
proportal/IMG_Core-full/
proportal/IMG_SG_Dev-as-core/
proportal/lib/PodServer.pm
proportal/script/podserver
proportal/lib/ProPortal/Model/Methods.pm

proportal/blib/
proportal/.build/
proportal/_build/
proportal/cover_db/
proportal/Build
proportal/!Build/
proportal/Build.bat
proportal/.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
*-old.t
*-old.html
