[%	WRAPPER 'inc/page_wrapper.tt';
	title = 'IMG ProPortal: ' _ self.display_name;
	self = results.gene;
%]

<h2>[% self.display_name %]</h2>

<h3>Gene Details<h3>
[%	USE Dumper(Indent = 1);
	'<h4>Gene object</h4><pre>'; Dumper.dump( results.gene ); '</pre>';
	'<h4>Taxon object</h4><pre>'; Dumper.dump( results.taxon ); '</pre>';
%]

[%	END %]
