[%	WRAPPER 'inc/page_wrapper.tt';
	title = 'IMG ProPortal: Ecosystem Browser';
%]
<h2>Sample Distribution by Ecosystem</h2>
<section class="info--ecosystem init page-intro">
<p>
	Browse the distribution of samples by the ecosystem in which they are found. Segments of the chart represent an environment classification, and these become more granular from left to right; the vertical height of each segment represents the proportion of the data set found in that environment. The rightmost rectangles represent the samples found in that environment.
</p>
<p class="js_instructions">
	Hover over a segment to view a tooltip identifying it. Click on a segment to zoom in on it; click it again to zoom back out, or click on the left-most segment to zoom out. Clicking on a taxon will display the sample details below the chart; information is shown below the visualisation (but will be displayed more attractively in future iterations of the tool).
</p>
</section>
[%	IF data_filters;
		PROCESS 'inc/filters.tt';
	END %]
<section class="visualisation cf clear">
<div id="partition">
	<p class="js_vis_loading">
		Please wait while the visualisation loads.
	</p>
</div>
</section>
<section role="complementary" class="sample-data--partition">
[%	# recursive tree display
	# not currently used

	MACRO tree_recurse BLOCK;

		FOREACH m IN item;
			IF m.children; %]
		<div id="[% m.path || 'all' %]">
			<h4>[% results.js.class_type_h.$depth %]: [% m.name %]</h4>
[%				tree_recurse( item = m.children, depth = depth+1 );
		'</div>';
			ELSIF m.data;
				s = m.data;
				env_sample( s );
			END; # end
		END;  # END foreach
	END;

#	tree_recurse( item = [ results.js.tree ], depth=0 );

	show = { ecosystem => 1 };
	WRAPPER 'inc/cart_genome_add.tt';
		FOREACH s IN results.array;
			PROCESS 'inc/taxon_details.tt';
		END;
	END; # end wrapper
	%]
</section> <!-- / end complementary -->
</article>
[%	END; %]
