[%	WRAPPER 'inc/page_wrapper.tt';
	title = 'Browse Data Sets';
%]
<h2>Browse Data Sets </h2>
<ul>
[%	FOREACH p IN pages %]
	<li><a href="/browse/[% p %]">[% p %]</a></li>
[%	END %]
</ul>

[%	END; %]


