[%	WRAPPER 'inc/page_wrapper.tt';
	title = 'PhyloViewer';
#	class = 'phylo_viewer';

%]
<div class="floatR" style="width: 250px"><img src="/images/logo-phyloviewer.png" /></div>
<h2>
	PhyloViewer (beta)
</h2>
<section id="tool-info__section" role="complementary">
<h4>What does PhyloViewer do?</h4>
[% 	PROCESS 'inc/lorem_ipsum.tt' %]
<h4>How do I run PhyloViewer?</h4>
[% 	PROCESS 'inc/lorem_ipsum.tt' %]
<p><a href="#">Read the documentation for more information</a></p>
</section>
<section id="tool-input__section">
	<h3>Gene Cart</h3>
[%	IF ! results.js.array; %]
	<p>The gene cart is currently empty. To run the PhyloViewer, you need to collect a set of genes of interest in the gene cart.
	</p>
	<p><a href="[% link('phyloviewer') %]/demo">View a sample set of genes</a></p>

[%	ELSE; %]

<p>Select the genes to perform the analysis on.</p>
<form method="POST" class="[% class %]__form" action="[% link('phyloviewer') %]/query">
[%	FOREACH f IN results.form;
		t = results.schema.$f; %]
		<fieldset class="[% class %]__field--[% f %]">
			<legend class="[% class %]__legend">[% t.label %]</legend>
[%
		IF 'radio' == t.control || 'checkbox' == t.control;
			FOREACH c IN t.enum; %]
		<input class='[% class %]__input--[% f %]' type='[% t.control %]' name='[% t.name %]' value='[% c.id %]' id='[% f %]_[% c.id %]'[% IF t.default == c.id || c.selected %] selected[% END %] />
		<label for='[% f %]_[% c.id %]' class='[% class %]__label--[% f %]'>[% c.label %]</label>
[%
			END; # end t.enum

		ELSIF 'checkbox_table' == t.control;
%]
			<fieldset>
[%	INCLUDE 'inc/table.tt' %]
			</fieldset>
[%		END; # end t type %]
		</fieldset>
[%	END; # end options %]
		<input type="submit" value="Go!" />
	</fieldset>
</form>
[%	END; %]
<!-- p><a href="[% link('phyloviewer') %]/results/demo">View sample results</a></p -->

</section>
[% END; %]
