<h2>
	Average Nucleotide Identity
</h2>
<p>
	Average Nucleotide Identity (<abbr title="Average Nucleotide Identity">ANI</abbr>) is a measure of nucleotide-level genomic similarity between the coding regions of two genomes. <abbr title="Best BLAST hits">BBH</abbr>s between a genome pair are computed as pairwise bidirectional best nSimScan hits of genes having 70% or more identity and at least 70% coverage of the shorter gene.
</p>
<div class="bordered">
	<div class="half">
		<p>The Alignment Fraction (AF) is computed as:</p>
		<img width="300" src="[% settings.base_url %]images/AFformula.png" alt="Alignment fraction formula">
	</div>
	<div class="half">
		<p>Average Nucleotide Identity is computed as:</p>
		<img width="300" src="[% settings.base_url %]images/ANIformula.png" alt="Average nucleotide identity formula">
	</div>
</div>
[%	IF data.print_stats == 1 %]
<h3>
	Statistics
</h3>
<p>
	The alignment fraction (AF) and average nucleotide identity (ANI) have been computed for <strong>[% data.xcount %]</strong> genomes and <strong>[% data.ycount %]</strong> genome pairs.</p>
	<p><strong>[% data.zcount %]</strong> pairs of these are between genomes assigned to the same taxonomics species.
</p>
<p>
	Maximal clique enumeration generates <strong>[% data.acount %]</strong> clusters, including <strong>[% data.bcount %]</strong> genomes from <strong>[% data.ccount %]</strong> taxonomic species.</p>
<p><strong>[% data.dcount %]</strong> genomes from <strong>[% data.ecount %]</strong> species are singletons.
</p>
<p class="updated">Updated [% data.date %]</p>
[%	END %]
