<h2>My IMG</h2>
[%	IF cfg.public_nologin_site %]
	<p>You are currently logged in as a <em>public</em> user.</p>
[%	ELSIF user && user.name %]
	<p>You are currently logged in as <strong>[% user.name %]</strong>
[%	END %]
	<p>You can use MyIMG to:</p>
	<ul>
		<li>view and set your preferences throughout IMG</li>
[%	IF cfg.is_public_user %]
		<li>upload your genome selections</li>
[%	END;
	IF cfg.show_myimg_login %]
		<li>to view and edit your annotations</li>
[%		IF user && user.is_superuser %]
		<li>to view annotations by other users</li>
[%		END;
	END; %]
	</ul>
[%	IF user.has_groups %]
	<h3>My Groups</h3>
[%	FOREACH g IN user.groups %]
<p>Awesome group name: [% g %]</p>
[%	END; %]
