<form action="[% settings.main_cgi_url %]" method="POST" class="sample-data__form">

<div class="itemList_controls right-elements top">

	<button class="pp-button outline">Select all</button>
	<button class="pp-button outline">Clear selection</button>
	<button>Add to cart</button>
</div>

[% content %]


<div class="itemList_controls right-elements">
	<button class="pp-button outline">Select all</button>
	<button class="pp-button outline">Clear selection</button>
	<button>Add to cart</button>
</fieldset>


<!--
<fieldset class="sample-data__controls" id="form_controls">
<input type="hidden" name="section" value="GeneCart" />
<input type="hidden" name="page" value="geneCart" />
<input class="sample-data__reset" type="reset" value="Clear selection" />
<input class="sample-data__submit" type="submit" value="Add to cart" />
</fieldset>
-->

</form>


