<pre class="debug">
[%
	USE dumper(Indent = 1);

	USE JSON.Escape( allow_blessed => 1, convert_blessed => 1 );

#	TRY;
#		js_obj = results.json;
#		dumper.dump( js_obj );
#	CATCH;
		IF results;
			dumper.dump( results );
		END;
#	END;
#	IF settings;
#		dumper.dump( settings );
#	END;
%]
</pre>
