<header role="banner" class="cf">
    <a id="jgi-logo" href="[% settings.base_url %]" class="img"><img src="[% settings.pp_assets %]images/logo-proportal.png" alt="DOE Joint Genome Institute's IMG ProPortal logo" /></a>
    <ul class="user-links">
[%	IF settings.sso_enabled;
		IF session && session.name %]
		<li class="user-links__item">Hello [% session.name %]!</li>
		<li class="user-links__item"><a href="[% link('logout') %]">Log out</a></li>
[%		ELSE %]
		<li class="user-links__item"><a href="[% link('login') %]">Log in</a></li>
[%		END;
    ELSE; %]
        <li class="user-links__item"><a href="#">Hello world!</a></li>
		<li class="user-links__item"><a href="[% link('login') %]">Log in</a></li>
[%	END; %]
	</ul>
</header>
