<header role="banner" class="cf">
    <a id="jgi-logo" href="[% settings.base_url %]" class="img">
    	<img src="/images/logo-proportal.png" alt="DOE Joint Genome Institute's IMG ProPortal logo" />
    </a>

[%	IF settings.sso_enabled; %]
    <ul class="user-links">
[%		IF session && session.name %]
		<li class="user-links__item">Hello [% session.name %]!</li>
		<li class="user-links__item"><a href="[% link('logout') %]">Log out</a></li>
[%		ELSE %]
		<li class="user-links__item"><a href="[% link('login') %]">Log in</a></li>
[%		END; %]
	</ul>
[%	END; %]
</header>
