[%	IF img_app_config.message || img_app_config.message_html %]
<div class="site-message">
[%	IF img_app_config.message_html;
		img_app_config.message_html;
	ELSIF img_app_config.message;
		'<p class="site-message__p">' _ img_app_config.message _ '</p>';
	END;
%]
</div>
[%	END %]
