<div class="site-message">
[%	IF settings.message_html;
		settings.message_html;
	ELSIF settings.message;
		'<p class="site-message__p">' _ settings.message _ '</p>';
	END;
%]
	<p>The IMG/ProPortal is being updated at present and may not function as expected.</p>
</div>
