[%	IF ! class;
		class = 'sample-data';
	END;

	IF show && ! show.h_level || ! show;
		show.h_level = 'h4';
	END;
%]
<fieldset data-sample-id="[% s.taxon_oid %]" id="taxon_oid_[% s.taxon_oid %]" class="js_sample_details [% class %]__item">
	<[% show.h_level %]>[% s.taxon_display_name %]</[% show.h_level %]>
	<input type="checkbox" class="[% class %]__cbox" name="taxon_oid[]" value="[% s.taxon_oid %]" id="cbox_[% s.taxon_oid %]" />
	<label for="cbox_[% s.taxon_oid %]" class="[% class %]__label">
		<span class="[% class %]__labeltxt--unchecked">Add to selection</span>
		<span class="[% class %]__labeltxt--checked">Remove from selection</span>
	</label>
[%	IF show;
		IF show.phylogen_class %]
	<p>Phylogenetic classification:</p>
	<dl class="table-like [% class %]__classification cf">
[%		FOREACH e IN results.js.class_types %]
		<dt class="[% class %]__classification--level">[% e.replace("_", " ") %]</dt>
		<dl class="[% class %]__classification--value">[% s.$e || 'unclassified' %]</dl>
[%		END; %]
	</dl>
[%		END;  # end show.phylogen_class

		IF show.ecosystem %]
	<p>Ecosystem classification:</p>
	<dl class="table-like [% class %]__classification cf">
[%	FOREACH e IN results.class_types %]
		<dt class="[% class %]__classification--level">[% e.replace("_", " ") %]</dt>
		<dl class="[% class %]__classification--value">[% s.$e %]</dl>
[%	END; %]
	</dl>
[%		END; # end show.ecosystem

		IF show.ecotype %]
	<p>Ecotype classification:</p>
	<dl class="table-like [% class %]__classification cf">
		<dt class="[% class %]__classification--level">Ecotype</dt>
		<dl class="[% class %]__classification--value">[% s.ecotype %]</dl>
		<dt class="[% class %]__classification--level">Clade</dt>
		<dl class="[% class %]__classification--value">[% s.clade %]</dl>
	</dl>
[%		END; # end show.ecotype




	END; %]
	<p><a class="sample_details__link" href="[% link( 'details', { domain => 'taxon', taxon_oid => s.taxon_oid } ) %]">view taxon details</a></p>
</fieldset>
