[%	WRAPPER 'inc/page_wrapper.tt';
	title = 'IMG ProPortal: Gene List';
%]
<h2>Gene List</h2>
<section class="info--data_type page-intro">
	<p>This page is currently under development!</p>
	<!-- p>This page provides an overview of all the genes from datasets in IMG relevant to the ProPortal project. This comprises <i>Prochlorococcus</i>, <i>Synechococcus</i>, cyanophage species and metagenomes from marine environments.
	</p -->
</section>
[%	IF data_filters;
	#	PROCESS 'inc/filters.tt';
	END;
%]
<section id="primary">
	<h3>Gene List</h3>
[%	IF results.params %]
	<p>Gene list parameters:</p>
[%	USE Dumper;
	'<pre>'; Dumper.dump( results.params ); '</pre>';
	END;
	IF results.genes.size > 0;
		WRAPPER 'inc/cart_gene_add.tt' %]
	<ul>
[%		FOR g IN results.genes %]
		<li>
		<input type="checkbox" class="sample-data__cbox" name="gene_oid[]" value="[% g.gene_oid %]" id="cbox_[% g.gene_oid %]" />
		<a href="[% link( 'details', { type => 'gene', gene_oid => g.gene_oid } ) %]">[% g.gene_oid %]</a>, [% g.product_name %] from <a href="[% link( 'details', { type => 'taxon', taxon_oid => g.taxon_oid } ) %]">[% g.taxon_display_name %]</a></li>

[%		END %]
	</ul>
[%		END; # end wrapper
	ELSE; # END if... %]
<p>No genes found</p>
[%
	END; %]
</section>


[%	END %]
