.svn
svn-prop.tmp~
.DS_Store

.bowerrc
MANIFEST
MANIFEST.SKIP
Makefile.PL

environments/core.json
environments/sg_dev.json

docs/
log/
node_modules/
public/assets/
public/bower/
src/bower/
share/
tmp/
IMG_Core-full/
IMG_SG_Dev-as-core/

lib/PodServer.pm
script/podserver

lib/ProPortal/Model/Methods.pm
