[%
	WRAPPER 'inc/page_wrapper.tt';
	title = '500 Error';
%]
<h2>Internal Error</h2>
<p class="error">
	Uh-oh! Something went wrong:
</p>
<p>[% exception %]</p>
<!-- pre>
message  : [% message %]
status   : [% status %]
title    : [% title %]
exception: [% exception %]
</pre -->
[%	END; %]
