[%
	WRAPPER 'inc/page_wrapper.tt';
	title = '503 Error';
%]
<h2>Server Offline</h2>
<p class="error">
	The IMG ProPortal server is currently unavailable[% IF offline_message; offline_message; END %]. Please try again later.
</p>
[%	END; %]
