[%	WRAPPER 'inc/page_wrapper.tt';
	title = 'List API';
%]
<h2>List query API</h2>
[%
	PROCESS 'inc/api/descriptions.tt';

	type = 'list'; %]
<h3><code>/[% type %]/</code></h3>
[%	IF description.$type;
		description.$type;
	END;

	FOR q IN queries;
		p_name = 'pages/api/' _ q.replace('::','/') _ '.tt';
		PROCESS $p_name;
	END;

END; %]
