<!DOCTYPE html>
<html lang="en">
<head>
	<title>[% title %]</title>
[%
    PROCESS 'inc/page_head.tt';
	IF tmpl_includes;
		IF tmpl_includes.tt_styles;
			FOREACH s IN tmpl_includes.tt_styles;
				f_name = 'inc/styles_' _ s _ '.tt';
				PROCESS $f_name;
			END;
		END;
		IF tmpl_includes.head;
			# render style content
		END;
	END; %]
</head>
<body[% body_class %]>
<!-- template: [% template.name %] -->
<div class="wrapper">
	<article class="content cf full" role="main">
[%	content	    # the page content %]
	</article>
</div>
[%	IF settings.debug;
		PROCESS 'inc/debug.tt';
	END;

	IF tmpl_includes;
		IF tmpl_includes.foot;
			FOREACH x IN tmpl_includes.foot;
                INCLUDE x;
			END;
		END;
		IF tmpl_includes.tt_scripts;
			FOREACH s IN tmpl_includes.tt_scripts;
				f_name = 'scripts/' _ s _ '.tt';
				PROCESS $f_name;
			END;
		END;
	END;

	IF google_analytics;
		PROCESS 'inc/google_analytics.tt';
	END;
%]
<!-- end [% template.name %] -->
</body>
</html>
