<!DOCTYPE html>
<html lang="en">
<head>
	<title>[% title %]</title>
[%
    PROCESS 'inc/page_head.tt';
	IF tmpl_includes;
		IF tmpl_includes.tt_styles;
			FOR s IN tmpl_includes.tt_styles;
				f_name = 'styles_' _ s _ '.tt';
				PROCESS $f_name;
			END;
		END;
		IF tmpl_includes.head;
			# render style content
		END;
	END; %]
</head>
<body[% body_class %]>
<!-- template: [% template.name %] -->
<div class="wrapper">
[%
    PROCESS 'inc/header.tt';
%]
<div class="nav-holder">
    <input type="checkbox" id="horiz-bar-toggle" class="nav-toggle horiz-global-toggle" />
    <!-- this toggle shows / hides the global nav and horiz-menu in mobile view -->
    <div class="horiz-bar-toggle__container">
        <label class="horiz-bar-toggle__label" for="horiz-bar-toggle">Menu</label>
    </div>
[%
	PROCESS 'inc/nav_horiz_bar.tt';
    PROCESS 'inc/nav_jgi_links.tt';
%]
</div>
[%	IF message;
		PROCESS 'inc/message.tt';
	END;
%]

    <input type="checkbox" id="sidebar-toggle" class="nav-toggle" />
    <div class="sidebar-toggle__container">
        <label class="sidebar-toggle__label" for="sidebar-toggle">toggle sidebar</label>
    </div>
[%
    IF breadcrumbs;
		PROCESS 'inc/nav_breadcrumbs.tt';
	END;
%]
	<article class="content cf" role="main">
[%	content	    # the page content %]
	</article>
[%
    PROCESS 'inc/nav_sidebar.tt';
    PROCESS 'inc/footer.tt';
%]
</div>
[%	IF settings.debug;
		PROCESS 'inc/debug.tt';
	END;

	IF tmpl_includes;
		IF tmpl_includes.foot;
			FOR x IN tmpl_includes.foot;
                x;
			END;
		END;
		IF tmpl_includes.tt_scripts;
			FOR s IN tmpl_includes.tt_scripts;
				f_name = 'scripts/' _ s _ '.tt';
				PROCESS $f_name;
			END;
		END;
	END;

	IF google_analytics;
		PROCESS 'inc/google_analytics.tt';
	END;
%]
<!-- end [% template.name %] -->
</body>
</html>
