/* Main Navigation */
#menu {
    margin-top: 10px;
    background: white;
    height: 25px;
    border-bottom: 2px solid #999999;
    margin-bottom: 10px;
    width: 1024px;

	li ul {
		display: none;
	}


}

/*
 * top level menu
 */
#nav {

    font-size: 11px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    list-style: none;

	li {
		display: block;
		position: relative;
		float: left;
		padding-bottom: 10px;
	}

	li ul li {
		padding-bottom: 0;
	}

	/*
	 top level
	 */
	li a {
		display: block;
		text-decoration: none;
		color: #000000;
		padding: 0px 0px 0px 0px;
		background: white;
		margin-left: 0px;
		white-space: nowrap;
		height: 23px;
		border: 1px solid #999999;

		border-top-left-radius : 5px;
		/*-moz-border-radius-topleft : 5px;*/
		border-top-right-radius : 5px;
		/*-moz-border-radius-topright : 5px;*/
		padding: 0.1em 1em 0 1em;
	}

	li:hover a {
		background: #6699CC
			/* make 1st level menu selected as we mouse over the 2nd level menu */
	}

	li a:hover {
		background: #336699;
		color: white;
	}

	li.highlight a {
		color: white;
		background: #6699CC;
		padding: 0.1em 1em 0 1em;
	}

	/*
	when 1st level menu highlighted and mouse over change the color
	to hover over color
	*/
	li.highlight a:hover {
		color: white;
		background: #336699;
	}

	/*
	used to display 2nd level menu when mouse hover overs
	1st level menu
	*/
	li:hover ul {
		display: block;
		position: absolute;
		/*background: #aaddFF;*/
		z-index: 9999;
		/*margin-top: -1px;*/
	}

	/*
	bug fix need this to keep menu display
	with a slow moving mose
	from top level menu to sub menu - ken
	*/
	li ul:hover {
		display: block;
	}

	li ul li.sub a {
		width: 152px; /* width of 2nd level menu when you hover 1st level menu */
		height: 20px;
		background: #EFFAFF;
		padding: 5px 0px 0px 15px;
		color: black;
		margin: 0px 0px 0px -40px;

		border-top: 0px;
		border-radius : 0px;
		/*-moz-border-radius : 0px;*/
	}

	li ul li.sub a:hover {
		background: #336699;
		color: white;
	}

	/*
	 * 2nd level menu with 3rd level menu options
	 */
	li ul li.sub2 a {
		width: 152px; /* width of 2nd level menu */
		height: 20px;
		background: #99ccee;
		padding: 5px 0px 0px 15px;
		color: black;
		margin: 0px 0px 0px -40px;

		border-top: 0px;
		border-radius : 0px;
		/*-moz-border-radius : 0px;*/
	}

	li ul li.sub2 a:hover {
		background: #336699;
		color: white;
	}

	/*
	 * 3rd level menu
	 */
	li ul li.sub2 ul li.sub3 {
		width: 150px; /* 3rd level menu width */

		/* TODO FF4 bug fix? */
		margin-top: -10px;
		padding-bottom: 10px;
		top: 10px;
		padding-left: 40px;
		margin-left: -40px;
	}

	li ul li.sub2 ul li.sub3 a {
		width: 160px; /* 3rd level menu width */
		height: 20px;
	}

	li:hover ul li ul {
		visibility: hidden;
		z-index: -1; /* bug fix for rightmenu sub2 <ul> should be behind <a> */

		/* TODO FF4 bug fix? */
		right: 0px;
	}

	li:hover ul li:hover ul,
	li a:hover ul li a:hover ul {
		display: block;
		visibility: visible;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		top: 0;
		left: 168px; /* location of 3rd menu pop with respect to 2nd level menu */
	}

	/*
	 some 3rd level menus pop-up to go to scroll up and not down - 4 sub menu
	*/
	li:hover ul li:hover ul.popup,
	li a:hover ul li a:hover ul.popup {
		display: block;
		visibility: visible;
		padding: 0 0 0 0;
		margin: -78px 0 0 0;
		top: 0;
		left: 168px; /* location of 3rd menu pop with respect to 2nd level menu */
	}


	li ul li ul li.sub3 a:hover {
		background: #336699;
		color: white;

	}

}


/* ---------------------------------------------------------
 *
 *  Using IMG right tab
 *
 * ---------------------------------------------------------
 */
/* right menu tab */
li.rightmenu {
    /*left: 264px;*/
    float: right;
}

li.rightmenu a:hover {
    background: #336699;
    color: white;
}

li.rightmenu a {
    padding: 0.1em 1em 0 1em;
}

li.righthighlight a {
    color: white;
    background: #6699CC;
}

/*
 right menu 2nd level popup
 aaddFF to DCF7FF to EFFAFF
*/
.rightmenu ul {
    right: -3px;
}

/*
FF4 fix
*/
.rightmenu li.sub  {
    width: 140px;
}

.rightmenu li.sub a {
    width: 160px;
    height: 20px;
    background: #EFFAFF;
    padding: 5px 0px 0px 15px;
    color: black;
    /*margin: 0px 0px 0px -134px;*/

    border-top: 0px;
    border-radius : 0px;
    /*-moz-border-radius : 0px;*/
}

.rightmenu li.sub a:hover {
    background: #336699;
    color: white;
}


/*
 * right 2nd level menu with 3rd level menu options
 */

/*
FF4 bug fix
*/
li.rightmenu ul li.sub2 {
    width: 140px;
}

li.rightmenu ul li.sub2 a {
    width: 175px; /* width of 2nd level menu */
    height: 20px;
    background: #99ccee;
    padding: 5px 0px 0px 0px;
    color: black;
    /*margin: 0px 0px 0px -134px;*/
}

li.rightmenu ul li.sub2 a:hover {
    background: #336699;
    color: white;
}

/*
 rightmenu 3rd level menu
*/
li.rightmenu ul li.sub2 ul li.sub3 {
    /* width: 150px;  3rd level menu width - see below - must be the same*/
    right: 160px;

    /* TODO FF4 bug fix? */
    margin-top: -10px;
    padding-bottom: 10px;
    top: 10px;
    margin-left: -80px; /* single cell doc is too long shift 3rd menu more to the left */
}

li.rightmenu ul li.sub2 ul li.sub3 a {
    width: 190px; /* 3rd level menu width  - see above must be the same*/
    height: 20px;
    padding-left: 10px;
    /* margin-left: -295px;  move to left here for right menu */
}

.rightmenu li:hover ul li ul {
    visibility: hidden;
}

li.rightmenu:hover ul li:hover ul,
li.rightmenu a:hover ul li a:hover ul {
    display: block;
    visibility: visible;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    top: 0;
    left: 0; /* location of 3rd menu pop with respect to 2nd level menu  - see above cannot be here for rightmenu*/
}

li.rightmenu ul li ul li.sub3 a:hover {
    background: #336699;
    color: white;
}


/* ---------------------------------------------------------
 *
 * menu icon styles
 *
 * ---------------------------------------------------------
 */

/*
 arrow points to the right
*/
img.subarrow {
    border: 0pt none;
    /*margin-left: 25px;*/ /* this needs to be reset base on label length */
    /*margin-top: -5px;*/
    vertical-align : middle;

    float: right;
    margin-left: -35px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 10px;
}

/*
 arrow points to the left
*/
img.subarrow_left {
    border: 0pt none;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align : middle;
}

/*
 no border for icon
*/
.menuimg {
    border: 0pt none;
    vertical-align : middle;
    height: 16px;
    width: 16px;
}

/* ---------------------------------------------------------
 *
 * Companion right tab
 *
 * ---------------------------------------------------------
 */
li.rightmenu2 {
    /*left: 264px;*/
    float: right;
}

li.rightmenu2 a:hover {
    background: #336699;
    color: white;
}

li.rightmenu2 a {
    padding: 0.1em 1em 0 1em;
}

/*
 right menu 2nd level popup
 aaddFF to EFFAFF
*/
.rightmenu2 ul {
    right: -54px;
}

ul#nav .rightmenu2 li.sub  {
    width: 140px;
}

ul#nav .rightmenu2 li.sub a {
    width: 125px;
    height: 20px;
    background: #EFFAFF;
    padding: 5px 0px 0px 15px;
    color: black;
    margin: 0px 0px 0px -55px;

    border-top: 0px;
    border-radius : 0px;
    /*-moz-border-radius : 0px;*/
}

ul#nav .rightmenu2 li.sub a:hover {
    background: #336699;
    color: white;
}

/*
 * right 2nd level menu with 3rd level menu options
 */
ul#nav li.rightmenu2 ul li.sub2 {
    width: 140px; /* width of 2nd level menu */
}

ul#nav li.rightmenu2 ul li.sub2 a {
    width: 140px; /* width of 2nd level menu */
    height: 20px;
    background: #99ccee;
    padding: 5px 0px 0px 0px;
    color: black;
    margin: 0px 0px 0px -55px;
}

ul#nav li.rightmenu2 ul li.sub2 a:hover {
    background: #336699;
    color: white;
}

/*
 rightmenu 3rd level menu
*/
ul#nav li.rightmenu2 ul li.sub2 ul li.sub3 {
    width: 100px; /* 3rd level menu width - see below - must be the same*/
    right: 111px;

    /* TODO FF4 bug fix? */
    margin-top: -10px;
    padding-bottom: 10px;
    top: 10px;
}

ul#nav li.rightmenu2 ul li.sub2 ul li.sub3 a {
    width: 100px; /* 3rd level menu width  - see above must be the same*/
    height: 20px;
    padding: 5px 0px 0px 10px;
    /*margin-left: -11px;  move to left here for right menu */
}

ul#nav .rightmenu2 li:hover ul li ul {
    visibility: hidden;
}

ul#nav li.rightmenu2:hover ul li:hover ul, ul#nav li.rightmenu2 a:hover ul li a:hover ul {
    display: block;
    visibility: visible;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    top: 0;
    left: 0; /* location of 3rd menu pop with respect to 2nd level menu  - see above cannot be here for rightmenu*/
}

ul#nav li.rightmenu2 ul li ul li.sub3 a:hover {
    background: #336699;
    color: white;
}


/*
padding:25px 50px 75px 100px;

    * top padding is 25px
    * right padding is 50px
    * bottom padding is 75px
    * left padding is 100px
*/