[%
	surtitle = self.db;
	IF ! article_title;
		article_title = self.name;
	END;
	button = {
		cart => {
			form => {
			#	type => 'inc/cart/button_add.tt',
				type => 'form_as_button',
				params => { db => self.db, xref => self.xref },
				domain => 'function'
			},
		},
	#	export =>
	};

	PROCESS 'inc/generic/title.tt';

%]
