[%	PROCESS 'inc/generic/link.tt';

	IF self.genome_type == 'isolate';
		surtitle = 'isolate genome';
	ELSE;
		surtitle = self.genome_type;
	END;

	IF self.obsolete_flag == 'Yes';
		surtitle = 'obsolete ' _ surtitle;
	END;

	surtitle = surtitle | ucfirst;

	article_title = self.taxon_display_name;

	button = {
		cart => {
			form => {
				type => 'inc/cart/button_add.tt',
				params => { taxon_oid => self.taxon_oid },
				domain => 'taxon'
			},
		},
		jbrowse => { taxon_oid => self.taxon_oid },
		export => [
		{	type   => 'file',
			params => { taxon_oid => self.taxon_oid, file_type => 'bundle' },
			text   => 'File bundle'
		},
		{	type   => 'details',
			params => {
				domain => 'taxon', taxon_oid => self.taxon_oid, output_format => 'json'
			},
			text   => 'Metadata (JSON)'
		}
		]
	# arguments (as a hash called 'x'):
	# type, params -- to feed into the link as link( x.type, x.params )
	# text -- link text
	# optional: class, id, title -- link class, id, title

	};

	PROCESS 'inc/generic/title.tt';
%]
