/* partials/buttonBar
button bar usually found under pageTitle
*/

.button-bar {
	height: $button-height;
	
	&__container {
		float: right;
		clear: both;
		list-style-type: none;
	}

	&__item {
		float: left;
		margin-left: 10px;
		
		/* cart dropdown */
		&--cart {}
	}

	// block link (e.g. JBrowse)
	&__link {
		display: block;
	}

}

// small screen
@include maxw( $med- ) {

	.button-bar {

		&__container {
			float: left;
			width: 100%;
			margin: 0;
			padding: 0;
		}
		
		&__item {
			float: none;
			clear: both;
			margin-bottom: 10px;
			margin-left: 0;
			width: 100%;
 			position: relative;
		}
	}
	
	.taxon-cart {
		&__submit {		width: 100%;	}
	}
	
	.bb-dropdown {
	
		&__container {
			height: inherit;
		}

		&__item {
			width: 100%;
		}
	}
}
