/* datatables
defines layout for tables with datatables styling */


.dataTables_info {
	width: 100%;
	margin: 1rem 0;
	padding: 0.5rem 0;
	@include b-border($element-border-width, $border-lighter );
	
	font-weight: bold;
}

.dataTables_length {
	width: 100%;
}

.dataTables_info, .dataTables_length, .dt-buttons, .dataTables_filter {
	padding-bottom: 1rem;
}
