/* partials/extras */

/* remove instructions on pages where clicking brings up info */
.instructions { display: none; }
.init .instructions { display: block; }

.noteToSelf {
	background-color: #FFFF99;
	font-style: italic;
	padding: .25rem 1rem .25rem 1rem;
	display: inline;
}
.help {
	background-color: #8899dd;
	color: white;
	font-weight: bold;
	border-radius: .25rem;
	padding: .1rem .3rem .1rem .3rem;
	/* margin: 0.2rem; */
	display: inline;
	float: right;
}

