/* FORMS */
form {
	overflow: auto;
}

form ol, form ul {
    list-style: none;
    margin: 0;
}

legend {
	padding-bottom: $line-ht;
}

input[type="select"], select {
//  from BASELINE.js
//	display: block;
	height: $line-ht;
	border-width: 0;
	padding: 0;
}


textarea { // mostly from baseline.js
	vertical-align: baseline;
	display: block;
	border: 1px solid $form-element-border;
//	margin: 0 0 -2px 0;
}

//
input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="tel"], input[type="url"] {
// from BASELINE.js
	font-size: inherit;
//	border: 1px solid $form-element-border;
//	line-height: 20px;
    padding: 0 .25rem;
//	margin: $line-ht*.5 0 $line-ht;
}

input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="tel"], input[type="url"], textarea {
	color: #ced5d9;
    &:focus, &:active {
        color: #666;
    }
}

// buttons of all sorts!
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	border: none;
	background: $secondary;
	color: white;
	text-transform: uppercase;
	vertical-align: middle;
    line-height: $line-ht;
}

// checkboxes for the checkbox hack
.nav-trigger {
    display: none;
}

/* inline form */

.inline-form {
    display: inline-block;
    margin: 0;
}
