/* FORMS */
form {
//	overflow: auto;
}

form ol, form ul {
    list-style: none;
    margin: 0;
}

legend {
	padding-bottom: $line-ht;
}

input[type="select"], select {
//  from BASELINE.js
//	display: block;
//	height: $line-ht;
	border-width: 0;
	padding: 0;
}


textarea { // mostly from baseline.js
	vertical-align: baseline;
	display: block;
	border: 1px solid $form-element-border;
//	margin: 0 0 -2px 0;
}

//
input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="tel"], input[type="url"] {
// from BASELINE.js
	font-size: inherit;
//	border: 1px solid $form-element-border;
//	line-height: 20px;
    padding: 0 .25rem;
//	margin: $line-ht*.5 0 $line-ht;
}

input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="tel"], input[type="url"], textarea {
	color: #ced5d9;
    &:focus, &:active {
        color: #666;
    }
}

input[type="checkbox"], input[type="radio"] {
    margin: 0 .25rem;
}


/* labels */
label.pp-form {
	text-transform: uppercase;
	font-size: $element-font-size;;
	display: block;
	margin-top: 15px;		//for labels that appear above element.
}

label.pp-form:after {
	clear: both;
	float: left;
}

select.pp-form {
  border: $element-border-width solid map-get( $jgi-palette, dk_grey );
  border-radius: 0px;

  background: transparent;
  padding:  0 $element-padding-sides;	//20px;
  text-transform: uppercase;
  font-size: $element-font-size;	//14px;
  height: $element-height;	//3rem;

}



//----------------------------------//
// 				BUTTONS				//
//----------------------------------//

// BASE BUTTON STYLE
//		variables defined in /modules/_variables.scss
//------------------------------------
button, a.button, html
//input[type="button"],
//input[type="reset"],
//input[type="submit"],
.button-bar__link, .taxon-cart__submit {

	height: $button-height;
	background: $button-bgcolor;
	border: 0;
	padding: 0 $button-padding-sides;
	color: $button-color;
// 	text-transform: $button-transform;
	text-align: center;
    line-height: $button-height;

	&:hover {
    	background: darken($button-bgcolor, 10%);
    }

    &:active {
    	background: lighten($button-bgcolor, 10%);
    }
}

button.disabled,
button.disabled:hover,
button.disabled:focus,
button.disabled:active,
input:disabled,
button:disabled {
	background: #ddd;
	border: #element-border-width solid transparent;
}

// Button Mods
//---------------------------------------------------

.pp-button {
	@extend button;

	&.outline {
		@include pp-button-style( map-get( $jgi-palette, reddish ), transparent,  map-get( $jgi-palette, reddish ));
	}

	&.blue {
		@include pp-button-style( transparent, map-get( $jgi-palette, dk_blue ), white );
	}

	&.blue-outline {
		@include pp-button-style( map-get( $jgi-palette, dk_blue ), transparent, map-get( $jgi-palette, dk_blue ));
	}

	&.disabled {
	   pointer-events: none;
	   cursor: default;
		&:hover {	background: #ddd;	}
		&:active {	background: #ddd;	}
	}
}


// Dropdown Button
//---------------------------------------------------

.bb-dropdown {

	&__container {
		line-height: $button-height;
		// height: $button-height;
	}

	&__label {
		width: 100%;
		border: $element-border-width solid $element-border-color;
		text-transform: $button-transform;
		line-height: $button-height;
		height: $button-height;
		display: block;
		padding: 0 40px 0 $element-padding-sides;
		text-align: center;
		@include element-up-arrow;
		&:hover {
			border: $element-border-width solid darken( $element-border-color, 50% );
			color: darken($element-border-color, 50%);
		}
	}

	&__ul {
		padding: 0;
		margin: 0;
	}

	&__item {
		text-transform: $button-transform;
		line-height: $button-height;
		display: none;
  		position: relative;
  		background: white;
		padding: 0 40px 0 $element-padding-sides;
		vertical-align: middle;
		text-align: center;
		border-left: $element-border-width solid $element-border-color;
		border-right: $element-border-width solid $element-border-color;
   		float: none;

// 		this should be under .bb-dropdown__link, but macro not assigning this class to
// 		the <a href> element.  This works fine for now.
		> a {
			color: $element-border-color;
			border: 0;

			&:hover {
				color: darken($element-border-color, 50%);
				text-decoration: none;
				border: 0;
			}
		}
	}

	&__item:first-child {
		border-top: $element-border-width solid $element-border-color;
	}

	&__item:last-child {
		border-bottom: $element-border-width solid $element-border-color;
	}

	/*hide the inputs*/
	&__cbox {
		display:none;

// 		show the second level menu of the selected voice*/
		&:checked + .bb-dropdown__label + .bb-dropdown__ul {
			display: block;
		}

		&:checked + .bb-dropdown__label + .bb-dropdown__ul .bb-dropdown__item {
			display: block;

		}

		// change arrow when menu is displayed
		&:checked + .bb-dropdown__label {
			@include element-down-arrow;
		}
	}

// 	currently not being assigned to <a href> links using the generic_link macro
	&__link {
// 		display:table-cell;
// 		vertical-align: middle;
// 		text-decoration: none;
// 		height: $button-height;
// 		font-size: $element-font-size;
// 		color: $element-border-color;
// 		text-transform: $button-transform;
// 		line-height: $line-ht;
// 		padding: 0 40px 0 $element-padding-sides;
// 		border: 0;
//
// 		&:hover {
// 			color: darken($element-border-color, 50%);
// 			text-decoration: none;
// 			border: 0;
// 		}
//
	}
}



// INPUT BOX
input[type="text"] {
//input {
  border: $element-border-width solid $element-border-color;
  padding:  0 $element-padding-sides;
  height: $element-height;
  background: transparent;
  border-radius: 0px;
}

// checkboxes for the checkbox hack
.nav-trigger {
    display: none;
}

/* inline form */

.inline-form {
    display: inline-block;
    margin: 0;
}

// filters

.dataset_type {

    &__title {

    }
    &__filter {
        &--pp_subset,
        &--dataset_type,
        &--ecosystem, &--ecosystem_category, &--ecosystem_type, &--ecosystem_subtype, &--specific_ecosystem {
            display: inline-block;
            vertical-align: top;
            margin: 0 $line-ht $line-ht 0;
            width: 20rem;
        }
    }
}

.ecosystem {
     &__filter {
        &--pp_subset,
        &--ecosystem, &--ecosystem_category, &--ecosystem_type, &--ecosystem_subtype, &--specific_ecosystem {
            display: inline-block;
            vertical-align: top;
            margin: 0 $line-ht $line-ht 0;
            width: 20rem;
        }
    }
}
