/* partials/graph */


.resizable {
//	border: 1px solid hue( midgrey );
	position: relative;
//	padding: 0 $gutter $gutter 0;
	svg {
		width: 100%;
		height: 100%;
//		margin: 0 $gutter $gutter 0;
//		border: 1px solid hue( dk_blue );
	}
	margin: 0;
	padding: 0;

	.resizer--x, .resizer--y {
		overflow: hidden;
	}
//	padding: 0 $gutter $gutter 0;
//	margin-bottom: $line-ht;
}

.chart__container {
	position: relative;
	margin: 0;
	padding: 0;
//	svg {
		width: 100%;
		height: 100%;
//	}
}

/* clade graph */

@include minw( $med ) {
	.populated {
		&.visualisation {
			float: left;
			width: 66.6%;
			padding: 0 $gutter;
			margin-bottom: $line-ht;
		}
		&.clade-data {
			width: 33.3%;
			float: right;
			padding-left: $gutter;
			margin-bottom: $line-ht;
		}
	}
}


/* Partition graph */

.partition {
	rect {
		cursor: pointer;
//		fill: hue( dk_blue );
		stroke: #eee;
//		fill-opacity: .8;
	}
	text {
		pointer-events: none;
		font-size: .75rem;
		fill: black;
	}

	&.leaf rect {
//		fill: #aaa;
	}
}

.resizer--x, .resizer--y {
	position: absolute;
	background: hue( midgrey );
    font-size: .5rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
	vertical-align: middle;
	&:hover {
		background: hue( dk_blue );
	}
}

.resizer--x {
    height: 100%;
    width: $gutter;
    right: 0;
    cursor: ew-resize;
}

.resizer--y {
    width: 100%;
    height: $gutter;
    bottom: 0;
    cursor: ns-resize;
}

.active {
	stroke: red;
}

.axis .domain {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.c.axis {
	fill: none;
	stroke: #999;
	stroke-dasharray: 1,4;
}

/** phylogram colours */

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: hue( dk_blue );
  stroke-width: 1.5px;
}
.node.expandable circle { fill: #069; }

.node text {
  font-size: .675rem;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.matrix .qundefined-9 {
	fill: white;
}

.tip, .d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: $gutter;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: $gutter/4;
  pointer-events: none;
  max-width: 40rem;
}

/* Creates a small triangle extender for the tooltip */
.tip:after, .d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.tip.n:after, .d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.tip.e:after, .d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.tip.s:after, .d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.tip.w:after, .d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.tooltip text {
	fill: white;
	stroke: none;
}
.tooltip line {
	stroke: white;
	fill: white;
}

svg {
	.deselected {
		opacity: 0.25;
	}
	.selected {
		opacity: 1;
	}
}
