/* partials/headers */
.wrapper {
    position: relative;
}
header {
	margin-bottom: $line-ht;
}

// Logo
#jgi-logo {
	max-height: 70px;
    max-width: 480px;
}

// layouts with enough room for header image and search box: enforce space between the two
@include minw($med) {
    #jgi-logo {
        float: left;
    }
    #jgi-nav, .user-links {
        margin-left: 530px;
    }
}

.user-links {
    float: right;
    margin-top: 3rem;
}
.user-links__item {
    display: inline-block;
}
.user-links__item + .user-links__item {
    margin-left: $gutter;
}
