/* partials/infoBox
found on details pages 
*/

.infoBox {
	padding: 0 20px 20px 20px; 
		
	// for displaying FASTA sequences, for example
 	.textDisplay {
		width: 100%;
		height: 450px;
		padding: 10px 20px;
		overflow: auto;
		@include borders( $element-border-width, $border-lighter );
		
	}

	.infoBoxTitle {
		margin: 10px 0 5px 0;
		border-bottom: $underline }
		
		
	/* this may need to be defined somewhere else... */	
	/* Small screen */
	@media all and (max-width: $half-) {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	/* Large screen */
	@media all and (min-width: $half) {
		width: 50%; 
	}
}
