/* partials/infoBox
found on details pages 
*/

// @import "../modules/typo.scss";

// A mixin to style all tables found inside an infoBox
@mixin infoBox-table( $class ) {
	.#{$class} {

		&__table {
			@extend .condensed;
		}	
		
		&__caption {
			@extend .underline;
			font-weight: bold;
			margin: $gutter 0;
			padding-left: 0;
		}
		
		&__thead {
			display: none;
		}
	}	
}


.infoBox, .infoBox-double {
	padding: 0 20px 20px 20px; 
		
	@include infoBox-table( "gene-details" );		
	@include infoBox-table( "taxon-scaffold-details" );
	@include infoBox-table( "gene-ext-links" );	
		
		
	// for displaying FASTA sequences, for example
 	.textDisplay {
		width: 100%;
		height: 450px;
		padding: 10px 20px;
		overflow: auto;
		@include borders( $element-border-width, $border-lighter );
	}
}



.infoBoxTitle {
	margin: 10px 0 5px 0;
	border-bottom: $underline;
}

.infoBox-double {
	width: 100%;
}

.infoBox {
	/* this may need to be defined somewhere else... */	
	/* Small screen */
	@media all and (max-width: $half-) {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	/* Large screen */
	@media all and (min-width: $half) {
		width: 50%;
	}
}	
