/* partials/layout */

// make sure that all the article content stays in the container
article {
	@include cf;
	clear: both;
}

@include maxw( $nar- ) {

	#about, #user-guide, #news, .content {
		width: 100%;
		padding: 0;
	}
}

@include minmax( $nar, $med- ) {

	#about {
		width: 100%;
	}
	#user-guide, #news {
		width: 50%;
		float: left;
	}

}

@include minw( $med ) {
	.content { // article
		width: 100% - $sidebar-width;
		float: right;
		padding: 0 $gutter;
	}
	.sidebar { // section navigation
		width: $sidebar-width;
		float: left;
	}
	.footer {
		clear: both;
	}
	#about, #user-guide, #news {
		width: 33.3%;
		padding: 0;
		float: left;
	}
	#primary {
		float: left;
		width: 66.6%;
	}
	#info {
		width: 33.3%;
		float: right;
		padding-left: $gutter;
	}

}
