/* partials/layout */

// make sure that all the article content stays in the container
article {
	@include cf;
	clear: both;
}

.row {
	display: flex;
	flex-flow: row wrap;
	margin: 0 -10px;
	margin-bottom: 10px;

	.row:last-child {
		margin-bottom: 0;
	}

	[class*="col-"] {
		padding: 10px;
		width: 100%;

	}
}

#pageHeader {
	display: table;
	padding: 0 10px;
	margin-top: 20px;
	width: 100%;
}

#main {
	padding: 0 10px;
	margin-top: 20px;
	width: 100%;
}

@include maxw( $nar- ) {

	#about, #user-guide, #news, .content, #tool-input__section, #tool-info__section {
		width: 100%;
		padding: 0;
	}
}

@include minmax( $nar, $med- ) {

	#about {
		width: 100%;
	}
	#user-guide, #news, #tool-input__section, #tool-info__section {
		width: 50%;
		float: left;
	}

}

@include minw( $med ) {
	.content { // article
		width: 100% - $sidebar-width;
		float: right;
		padding: $line-ht $gutter;
	}

	.content.full {
		width: 100%;
	}

	.sidebar { // section navigation
		width: $sidebar-width;
		float: left;
	}

	.footer {
		clear: both;
	}
	#about, #user-guide, #news {
		width: 33.3%;
		padding: 0;
		float: left;
		padding: 0 $gutter;
	}
	#primary, .page-intro {
		float: left;
		width: 66.6%;
		padding: 0 $gutter;
		margin-bottom: $line-ht;
	}
	#info, .filters {
		width: 33.3%;
		float: right;
		padding-left: $gutter;
		margin-bottom: $line-ht;
	}
	#tool-input__section, #tool-info__section {
		float: left;
		width: 50%;
		padding: 0 $gutter;
		margin-bottom: $line-ht;
	}
}
