/* partials/menu */
/* main IMG menu */

// left menu item width:
$l-menu-w: null;
// left submenu width:
$l-sub-w: 15rem;

// right menu item width:
$r-menu-w: 7rem;
// right submenu width:
$r-sub-w: 12rem;
$r-menu-diff: $r-menu-w - $r-sub-w;

.img_menu {
	background: $h-menu-bg;
	margin: $gutter 0 $line-ht;
	ul {
		margin: 0;
		list-style-type: none;
		> li {
			overflow: visible;
			display: inline-block;
			position: relative;
		}
	}

	a {
//		background: $h-menu-bg;
		color: $h-menu;
		display: block;
		padding: $gutter*.5;
		@include borders( $gutter*.5, transparent );
//		@include r-border($gutter*.5, transparent);
//		@include l-border($gutter*.5, transparent);
		&:hover {
			color: darken($h-menu, 5%);
		}
	}

	li:hover {
		background-color: darken($h-menu-bg, 10%);
//		> .sub-menu {
//			left: auto;
//		}
	}

    > ul > .parent {
    //    background-color: saturate($h-menu-bg, 25%);
        border-bottom-color: $secondary;
        background-color: darken( $h-menu-bg, 5% );
    }

	.sub-menu {
		left: -9999px;
		top: 2 * $line-ht;
		position: absolute;
		z-index: 2;
		background-color: inherit;
		li {
			border-top: 1px solid lighten($h-menu-bg, 15%);
			background: $h-menu-bg;
			display: block;
			&:hover {
				background-color: darken($h-menu-bg, 10%);
			}
		}
	}
	.floatL {
		li:hover > .sub-menu {
			left: auto;
			width: $l-sub-w;
		}
	}

	.floatR {
		> li {
			width: $r-menu-w;
			text-align: center;
			&:hover > .sub-menu {
				text-align: left;
				width: $r-sub-w;
				left: $r-menu-diff;
			}
		}

	}

	.floatL a:hover {
		@include l-border($gutter*.5, $secondary);
	}
	.floatR a:hover {
		@include r-border($gutter*.5, $secondary);
	}
}
