/* partials/nav */

.sidebar {

//	background: lighten( rgb(145,144,144), 25%);

	li {
		border-left: .25rem solid transparent;
	//	border-bottom: 1px solid #fff;
		padding-left: .5rem;
		&:hover {

		}

		a {
			line-height: 2rem;
			&:hover, &:focus, &:active {
				border-bottom-width: 1px;
			}
			&:hover, &:focus {
				border-bottom-style: dotted;
			}
			&:active {
				border-bottom-style: solid;
			}
		}
	}
	.current {
		border-left-color: $secondary;
	}
}


.menu {}

.sub-menu {}

.menu-item {}
