/* partials/pageTitle
page title for a details page
*/

#pageTitle {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	@include b_border($element-border-width, $element-border-color);

	.normal {
		font-weight: normal;
	}

}
