/* partials/phyloviewer */


$toolbar-w: 220px;

.phylo_viewer__container {

	#wrapper {
		width: 1220px;
	}

	#toolbar {
		width: $toolbar-w;
		height: 100%;
		float: left;
//		position: fixed;
		background: white;
		z-index: 1;
	}
	#toolbar * {
		font-size: 12px;
	}
	#phyloWrapper {
		margin-left: $toolbar-w;
	}
	#phylogram {
		width: 100%;
		margin-left: $toolbar-w;		/* makes room for left toolbar */
		display: inline-block;/* keeps this from wrapping under toolbar */
		float: right;
		position: relative;

	}
	#footer {
		clear: both;
	}

/* 		=========  TOOLBAR ELEMENTS  =========  */
	#title {
		margin: 0px;
		padding: 20px;
	}
	.optionBox {
		width: 100%;
		float: left;
		margin: 0px;
		padding: 10px 0px 10px 15px;
	}
	.optionTitle {
		width: 100%;
		padding: 10px;
		padding-left: 15px;
		background: whitesmoke;
		font-weight: bold;
		float: left;
		margin: 0px;
	}
	.optionSubtitle {
		width: 100%;
		padding: 5px;
		padding-left: 15px;
		background: whitesmoke;
		font-weight: bold;
		float: left;
		margin: 0px;
	}

	.optionBox * {
		float: left;
	}

	.optionBox .label {
		width: 110px;
	}
	.optionBox .labelShort {
		width: 80px;
	}
	.optionBox input {
		float: left;

	}
	.optionBox input[type="range"]{
		width: 57px
	}
	.optionBox input[type="radio"]{
		margin-left: 25px;
		margin-right: 5px;
	}
	.optionBox input[type="checkbox"]{
		margin-right: 5px;
		position: absolute;				/* these three lines center the element vertically in the <li> */
		top: 35%;
		transform: translateY(-50%);
	}
	.optionBox input[type="submit"]{
		float: right;
		width: 40px;
		border-radius: 3px;
		margin: 2px;
	}
	.optionBox select{
		float: right;
		margin: 2px;
		width: 90px;
	}


	#toolbar li {
		list-style:none;
		display: inline;
		position: relative;
	}

	.optionBox .colorPicker {
		width: 24px;
		height: 24px;
/* 			background: cyan; */
		font-size: 8px;
		text-align: center;
		vertical-align: middle;
		border-radius: 4px;
		border: 1px dotted grey;
		margin-right: 8px;
		float: right;
	}

	// default: no show?
	.leafnode_label {
		opacity: 0;
	}
	.show_leafnode_labels .leafnode_label {
		opacity: 1;
	}

	.branchLengths {
		font-size: 10px;
		fill: #ccc;
		opacity: 0;
	}
	.show_branchLengths .branchLengths {
		opacity: 1;
	}

	.distTicks {
		opacity: 0;
	}
	.show_distTicks .distTicks {
		opacity: 1;
	}
/*
	.Distance Ruler
	Distance Labels
	Internal Nodes
	Leaf
	Leaf Color
	Leaf Node Size
*/

	.matrix {
		white-space: nowrap;
		font-size: 8px;
	}

	.legend {
		font-size: 16px;
		font-weight: bold;
		text-anchor: start;
	}

	.link {				/* tree branches */
		stroke: grey;
	}
	.leafnode circle {
		r: 4.5;
		stroke: grey;
		fill: white;
		stroke-width: 2px;
	}
	.leafnode:hover circle {
		r: 7;
		stroke: orange;
	}

	.leafnode:hover rect {
		stroke: orange;
	}

	.rootnode circle {
		r: 4.5;
		stroke: #369;
		fill: steelblue;
		stroke-width: 2px;
	}

}
