// tables


table {
// 	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 0;

	// make our tables nice and spacious!
	th, td {
		padding: $gutter;
		text-align: left;
	}

	.clearStyle {
		border: 0;
	}

}

table.condensed {
	td {
		padding: .25rem 0 .25rem 0;
	}
}

table.lined {
	td {
		@include b_border(1px, $border-lighter);
	}
}

.col1 {
	width: 200px;
}

.subheader {
	margin-top: .5rem;
}

.taxon-gene-list {

	&__row--total {
		font-weight: bold;
	}

	&__attr {
		&--rna {
			text-indent: 1rem;
		}

		&--rrna, &--trna, &--xrna {
			text-indent: 2rem;
		}

		&--5s_rrna, &--16s_rrna, &--23s_rrna {
			text-indent: 3rem;
		}
	}
	&__val {
		text-align: right;
	}
}



.indent1 {
	text-indent: 1rem;
}

.indent2 {
	text-indent: 4rem;
}

.indent3 {
	text-indent: 6rem;
}

// styling a title element above a table
.tableTitle {
	padding: 2rem 0 .5rem 0;
	margin-bottom: .25rem;
	@include b_border(1px, $border-lighter);
}


caption {
	@if variable-exists(caption-bg) {
		background-color: $caption-bg;
	}
	text-align: left;
//	margin: 0;
	padding: 0 $gutter 0;
}


// table header font, background colour
thead tr {
	@if variable-exists(thead) {
		color: $thead;
	}
	@if variable-exists(thead-bg) {
		background-color: $thead-bg;
	}
}

tbody tr:nth-child(even) {
	@if variable-exists(tr) {
		color: $tr;
	}
	@if variable-exists(tr-bg) {
		background-color: $tr-bg;
	}
}

tbody tr:nth-child(odd) {
	@if variable-exists(tr-odd) {
		color: $tr-odd;
	}
	@if variable-exists(tr-odd-bg) {
		background-color: $tr-odd-bg;
	}
}


.home-stats {

	&__table {}

	&__head-row {}

	&__body-row {}

	&__cell {
		&--content {

		}

		&--count {
			text-align: right;
		}
	}
}
