[%	WRAPPER scripts/pageload_wrapper.tt;
	scr_arr =  [
		'/js/d3.min.js',
#		'/js/d3-tip.js',
#		'/js/d3.chart.min.js',
#		'/js/element-resize-detector.min.js',
#		'/js/d3.chart.base-ext.js',
#		'/js/d3.chart.layout.hierarchy-ext.js',
		'/js/d3.phyloviewer.js',
#		'/js/heatmap.js'
	];
%]
		var json = getJson()

		// TREE INITIAL VARIABLES
		var numLeaves = json.results.n_leaves
		, rowHeight = 25
		, rightPaneEdge = 600
		, totalWidth = 2000
		;

		d3.phylogram.build('#phyloviewer',
		json.results.tree, {
			width: totalWidth,
			treeWidth: 400,
			height: (json.results.n_leaves * rowHeight),	// ensures the genes are always the same distance from each other
			rowHeight: rowHeight,
			rightPaneEdge: rightPaneEdge,		// offsets the elements right of the tree (heatmap etc)

			// Toolbar initialization
			showDistRuler: false,
			treeType: "phylogram",
			heatmap: {
				data: json.results.array,
				cols: ["Latitude", "Longitude", "Depth", "DNA Sequence Length (bp)", "Amino Acid Sequence Length (aa)"],
				showText: true
			}
        });
[%	END %]
