[%	PROCESS 'scripts/dc_datatables_fn.tt';
	USE JSON.Escape( allow_blessed => 1, convert_blessed => 1 );
	scr_arr = [
		'/js/d3.min.js',
#		'/js/d3-tip.ext.js',
#		'/js/element-resize-detector.min.js',
		'/js/d3.chart.min.js',
#		'/js/d3.chart.base-ext.js',
		'/js/d3.chart.tooltip.js',
		'/js/d3.chart.layout.hierarchy-ext.js'
		'/js/crossfilter.min.js',
		'/js/dc.min.js',
		'/js/datatables.min.js',
#		'https://cdn.datatables.net/v/dt/jqc-1.12.4/jszip-3.1.3/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/r-2.1.1/rg-1.0.0/sc-1.4.2/se-1.2.2/datatables.min.js'
	];
	WRAPPER scripts/pageload_wrapper.tt;
%]

d3.chart("TippedVisualisation", {

	sortable: function( args ){
		return this.attach('vis').sortable( args );
	},

	collapsible: function( args ){
		return this.attach('vis').collapsible( args );
	},

	colors: function( args ){
		return this.attach('vis').colors( args );
	},

	name: function( args ){
		return this.attach('vis').name( args );
	},

	value: function( args ){
		return this.attach('vis').value( args );
	},

	duration: function( args ){
		return this.attach('vis').duration( args );
	},

	zoomable: function( args ){
		return this.attach('vis').zoomable( args );
	},

	margin: function( args ){
		return this.attach('vis').margin( args );
	},

	diagonal: function( args ){
		return this.attach('vis').diagonal( args );
	},

	levelGap: function( args ){
		return this.attach('vis').levelGap( args );
	},

	tooltip: function( args ){

		var func = function(d) {
			return d[ args ] || 'no data for ' + args;
		};
		this.attach('tips').text( func );
	},

	resize: function() {
		this.trigger('change:size');
		if ( this.data ) {
			this.draw( this.data );
		}
	},

	initialize: function( options ) {

	  // attach the charts under a specific name to the parent chart
		this.attach("vis",
			this.base
				.chart( options.chart_type , options.chart )
			);

		var tips_options = {
			layer : this.attach('vis'),
			type : options.tooltip.selector,
			text : options.tooltip.text || function(d) {
				return d.name;
			}
		};

		this.attach('tips',
			d3.select('body')
				.chart('TooltipMixinChart', tips_options )
			);
	}
});

var res = getJson()
, count = +res.count
, class_types = ['tree'].concat ( res.class_types.map( function(ct) {
	return ct.replace( /_/g, ' ' );
} ), 'taxon' )

, container = d3.select("#phylogram")
	.style('height', 16 * count + 'px')
	.append("svg")

, text_fn = function(d,i,tip) {
	if ( d.data && d.data.taxon_display_name) {
		return d.data.taxon_display_name;
	}
	if( d.depth ) {
		return class_types[ d.depth ] + ': ' +
			d.name;
	}
	return 'life';
}

, vis = container.chart("TippedVisualisation", {
		chart_type: 'tree.cartesian.diagonal'
		, tooltip: {
			selector: '.node'
			, text: text_fn
		}
	})
, sample_details = d3.selectAll('.js_sample_details')
	.classed('js_hide',true)
;

vis // = container.chart("tree.cartesian.diagonal")
	.margin({ top:20,left:20,right:20,bottom:20 })
	.collapsible(7)
	.diagonal( 'rightAngle' )
	.levelGap( 80 )
	.sortable("_ASC_");

d3.selectAll('.leaf')
	.on('click',function(d,i){
		console.log('Detected a click!');
		sample_details.classed('js_hide', true);
		d3.select('#taxon_oid_' + d.data.taxon_oid)
			.classed('js_hide', false);
	});

d3.selectAll('.js_vis_loading')
	.remove();

vis.draw( res.tree );


/// INSERT STARTS HERE!

var data_table_opts = {
// 	orderFixed: [2, 'asc'],
// 	rowGroup: {
// 		dataSrc: 2
// 	},

//	columnDefs: [ {
//		orderable: false,
//		className: 'select-checkbox',
//		targets:   0
//	} ],
[%
	datatable_cols( 'taxon', results.js.table_cols );
	datatable_buttons('taxon_oid');
	datatable_paging( results.js.arr.size ); %]
	deferRender: true,
	data: res.arr,
	select: {
		style: 'multi'
	},
//	scroller: true,
//	scrollY: "20rem"
}
, label_h = {
	pp_subset: [% data_filters.schema.pp_subset.enum_map.json %]
}
, slug_name = 'phylogram'
, table_id = slug_name + '__table'
, ndx = crossfilter( res.arr )
, xf_dim = new Object()
, filter_h = new Object()
, selecn = new Object()
, table = $('#' + table_id).DataTable(data_table_opts)
, table_filter_dim = 'pp_subset'
, phylo_arr = [ 'domain', 'phylum', 'class', 'order', 'family', 'genus', 'clade' ]
, e
;

for ( e = 0; e < phylo_arr.length; e++ ) {
	xf_dim[ phylo_arr[e] ] = ndx.dimension(function(d){
//		return d[ env_dim_arr[e] ];
		return phylo_arr.slice( 0 , e+1 )
		.map( function(el) { return d[ el ]; } )
		.join('__');
	});
}
xf_dim[ 'pp_subset' ] = ndx.dimension(function(d){ return d.pp_subset });

add_dynamic_filters( slug_name, [ 'pp_subset', phylo_arr ] );

phylo_arr.forEach( function(e) {
	filter_h[e].title(function(d){
//		var x = d.key.split('__').pop();
		return ( d.key == '' ? 'unspecified' : d.key ) + ': ' + d.value;
	});
});

for (var i = 0; i < dc.chartRegistry.list().length; i++) {
	var chartI = dc.chartRegistry.list()[i];
	chartI.on("filtered", refreshTable);
}

table
.on( 'select', function ( e, dt, type, indexes ) {
	if ( type === 'row' ) {
		table.rows( indexes ).ids( true ).each(function(e){
			selecn[e] = 1;
		});
	}
})
.on( 'deselect', function ( e, dt, type, indexes ) {
	if ( type === 'row' ) {
		table.rows( indexes ).ids( true ).each(function(e){
			selecn[e] = 0;
		});
	}
});

refreshTable();
dc.renderAll();

[%	PROCESS standard_functions %]

[%	END # end wrapper %]
