<!--<div style="width: 800px">-->
<div style="width:1024px;">
<h1 >
Average Nucleotide Identity (ANI)<br> 
</h1>

<!--<div class=shadow style="padding: 10px; border: 2px solid #6699cc; border-radius: 10px; text-align:justify; text-justify:inter-word;">-->
<p>
Average Nucleotide Identity (ANI) is a measure of nucleotide-level genomic similarity between the coding regions of two genomes. First, BBHs between a genome pair are computed as pairwise bidirectional best nSimScan hits of genes having 70% or more identity and at least 70% coverage of the shorter gene.
</p>

<table style="padding:10px; border:2px solid #6699cc; border-radius:10px;">
<tr>
<td>The Alignment Fraction (AF) is computed as:</td>
<td></td>
<td>The Average Nucleotide Identity (ANI) is computed as:</td>
</tr>

<tr>
<td>
<img style="width: 300px;"
     src="<TMPL_VAR NAME=base_url>/images/AFformula.png" 
     alt="AF Formula">
</td>
<td style="width:20px"></td>
<td>
<img style="width: 300px;" 
     src="<TMPL_VAR NAME=base_url>/images/ANIformula.png" 
     alt="ANI Formula">
</td>
</tr>
</table>
<!--</div> -->

<h2>Statistics</h2>
<!--<div class=shadow style="padding: 10px; border: 2px solid #6699cc; border-radius: 10px;">-->
<p>
Alignment Fraction (AF), Average Nucleotide Identity (ANI) has been computed for 
<strong><TMPL_VAR NAME=xcount></strong> genomes and 
<strong><TMPL_VAR NAME=ycount></strong> genome pairs.<br/>
<strong><TMPL_VAR NAME=zcount></strong> pairs of these are between genomes assigned to the same taxonomics species.<br/>
Maximal clique enumeration generates 
<strong><TMPL_VAR NAME=acount></strong> clusters, including 
<strong><TMPL_VAR NAME=bcount></strong> 
genomes from 
<strong><TMPL_VAR NAME=ccount></strong> taxonomic species.<br/>
<strong><TMPL_VAR NAME=dcount></strong> genomes from 
<strong><TMPL_VAR NAME=ecount></strong> species are singletons.
</p>
<!-- </div> -->

<p>
<input type="button" onclick="window.open('main.cgi?section=ANI&page=pairwise', '_self')" value="Pairwise ANI" name="Pairwise ANI" class="smdefbutton">
&nbsp;
<input type="button" onclick="window.open('main.cgi?section=ANI&page=doSameSpeciesPlot', '_self')" value="Same Species Plot" name="Same Species Plot" class="smdefbutton">
&nbsp;
<input type="button" onclick="window.open('main.cgi?section=ANI&page=overview', '_self')" value="ANI Cliques" name="ANI Cliques" class="smdefbutton">
</p>

<p>
<span style='font-size:10px;font-style:italic;'>Last updated <TMPL_VAR NAME=date></span>
</p>

</div>
