<h1>IMG: the integrated microbial genomes database and comparative analysis system</h1>

<p>
    <b>Cite Us:</b> <a href='http://nar.oxfordjournals.org/content/40/D1/D115.full'>IMG: the integrated microbial genomes
        database and comparative analysis system</a> Victor M. Markowitz1, I-Min A. Chen, Krishna Palaniappan, Ken Chu, Ernest
    Szeto, Yuri Grechkin, Anna Ratner, Biju Jacob, Jinghua Huang, Peter Williams, Marcel Huntemann, Iain Anderson,
    Konstantinos Mavromatis, Natalia N. Ivanova and Nikos C. Kyrpides
</p>
<p>Biological Data Management and Technology Center, Lawrence Berkeley National Laboratory, 1 Cyclotron Road, Berkeley
    and Microbial Genomics and Metagenomics Program, Department of Energy Joint Genome Institute, 2800 Mitchell Drive, Walnut
    Creek, USA</p>
<p>To whom correspondence should be addressed. Tel: +510 486 7073; Fax: +1 510 486 5812; Email: VMMarkowitz{at}lbl.gov.<br/>
    Correspondence may also be addressed to Nikos C. Kyrpides. Tel: +925 296 5718; Fax: +925 296 5666; Email:
    nckyrpides{at}lbl.gov</p>


<h2>Abstract</h2>
<p>
    The Integrated Microbial Genomes (IMG) system serves as a community resource for comparative analysis of publicly
    available genomes in a comprehensive integrated context. IMG integrates publicly available draft and complete genomes
    from all three domains of life with a large number of plasmids and viruses. IMG provides tools and viewers for analyzing
    and reviewing the annotations of genes and genomes in a comparative context. IMG's data content and analytical
    capabilities have been continuously extended through regular updates since its first release in March 2005. IMG is
    available at <a href='http://img.jgi.doe.gov'>http://img.jgi.doe.gov</a>. Companion IMG systems provide support for
    expert review of genome annotations (IMG/ER: <a href='http://img.jgi.doe.gov/er'>http://img.jgi.doe.gov/er</a>), teaching
    courses and training in microbial genome analysis (IMG/EDU: http://img.jgi.doe.gov/edu) and analysis of genomes related
    to the Human Microbiome Project (IMG/HMP: <a href='http://img.jgi.doe.gov/img_hmp'>http://img.jgi.doe.gov/img_hmp</a>).
</p>