<footer id="footer_frame">
<div id="footer_inner_left">
<a href="https://sites.google.com/a/lbl.gov/img-form/contact-us">Contact us</a><br/>
<a href="http://www.jgi.doe.gov/whoweare/accessibility.html">Accessibility/Section 508</a><br/>
<a href="http://jgi.doe.gov/disclaimer/">Disclaimer</a><br/>
__version_year__ 
<br> 
__server_name__  &nbsp;&nbsp; __build_date__
<br>
&copy; 1997-2015 The Regents of the University of California<br/>
</div>

<div id="footer_inner_right">
<a href="https://www.facebook.com/groups/102889379778794/">
<img style="margin-left: 5px; margin-bottom: 40px;" border="0" alt="facebook logo"
src="__top_base_url__images/Facebook-20.png"></a>
<a href="http://en.wikipedia.org/wiki/Integrated_Microbial_Genomes_System">
<img style="margin-left: 5px; margin-bottom: 40px;" border="0" width="20"
height="20" alt="wikipedia logo" src="__top_base_url__images/wiki.jpeg"></a>
&nbsp;&nbsp;
<a style="text-decoration:none;"  href="http://crd.lbl.gov/departments/computational-science/biosciences-computing/" title='IMG is a collaboration of JGI and Biosciences Computing'>
<img width="77" height="54" border="0" src="__top_base_url__images/img4.jpg" alt="Biosciences Computing" style="padding-bottom: 5px;">
</a>
&nbsp;&nbsp;
<a href="http://www.genomesonline.org/">
<img style="padding-bottom: 20px;" width="65" height="40" border="0" alt="powered by GOLD"
title="Metadata powered by GOLD" 
src="__top_base_url__images/GOLD_logo_part1.png"></a>
&nbsp;&nbsp;
<a href="http://science.energy.gov/">
<img style="padding-bottom: 25px;" width="190" height="34" border="0"
src="__top_base_url__images/doe_sc_logo.gif" alt="DOE logo" ></a>
</div>

<div id="myclear"></div>
</footer>

<script language='javascript' type='text/javascript'>
    var e0 = document.getElementById( "loading" );
    if(e0 == null || e0 == undefined ) {
     // do nothing for now
    } else {
        var oldHTML = e0.innerHTML;
        if(oldHTML.indexOf("ajax-loader") != -1) {
            e0.innerHTML = " loaded. ";
        }
    }
</script>    

<script language='javascript' type="text/javascript">
        messageFile('xml.cgi?section=MessageFile');
</script>

__google_analytics__

__post_javascript__

</body>
</html>
