<h1>Function Alignment Search</h1>
<p>
Find alignments in selected functions and genomes by keyword.
</p>
<form class="alignleft" method="post" action="__main_cgi__" enctype="application/x-www-form-urlencoded" name="mainForm">
<input type="hidden" name='page' value='functionAlignmentSearchForm' />
<table class='img' border="0" width="400">
<tr class='img'>
<th class="subhead">Keyword:</th>
<td>
<input type="text" name="searchTerm" style="min-width:281px" /></td>
</tr>
<tr>
<th class="subhead">Filters:</th>
<td>
__searchFilterOptions__
</td>
</tr>
</table>

__genomeListFilter__
<br/>

<input type='hidden' name='section' value='FunctionAlignment' />
<input id="go" class="smdefbutton" type="submit" name="ffgFunctionAlignment" value="Go" />
<input id="reset" class="smbutton" type="reset" name=".reset" value="Reset" />

__hint__

</form>
<div id='examples'>
<h3>Examples</h3>
<p>
       - "Shikimate kinase" as "All Function names" search will get the alignment of functional prediction for genes with matching COG, KOG, or Pfam functions.<br/>
- "COG3729" as "COG" search will retrieve the alignment of functional prediction for genes that correspond with <i>COG3729</i>.<br/>
- "KOG3729" as "COG" search will retrieve the alignment of functional prediction for genes that correspond with <i>KOG3729</i>.<br/>
- "pfam10261" as "Pfam" search retrieve the alignment of functional prediction for genes that have the pfam domain hits <i>pfam10261</i>.<br/>
- Prefixes for cog and pfam are assumed, above can be shorten to "3729" or "10261".<br/>
</p>
</div>