<div id='genomeFilterArea' style='display:block;'>

<div class='myleft' id='all-isolates' style='display:none; max-width:400px;'>
  <table border="0">
    <tr>
      <td><b>Sequencing Status</b></td>
    </tr>
    <tr>
      <td><select id="seqstatus0" style="width: 290px;" name="seqstatus0">
          <option selected="selected" value="Finished">Finished</option>
          <option value="Permanent Draft">Permanent Draft</option>
          <option value="Draft">Draft</option>
          <option value="both">All Finished, Permanent Draft and Draft</option>
        </select>
      </td>
    </tr>
  </table>
</div>

<div class='myleft' id='domain-only' style='display:none; max-width:400px;'>
  <table border="0">
    <tr>
      <td><b>Sequencing Status</b></td>
      <td><b>Domain</b></td>
    </tr>
    <tr>
      <td><select id="seqstatus0" style="width: 290px;" name="seqstatus0">
          <option selected="selected" value="Finished">Finished</option>
          <option value="Permanent Draft">Permanent Draft</option>
          <option value="Draft">Draft</option>
          <option value="both">All Finished, Permanent Draft and Draft</option>
        </select>
      </td>
      <td><select id="domainfilter0" name="domainfilter0">
          <TMPL_IF NAME=isolate>
            <option value='Archaea' selected="selected">Archaea</option>
            <option value='Bacteria'>Bacteria</option>
            <option value='Eukaryota'>Eukaryota</option>
          </TMPL_IF>
        </select>
      </td>
    </tr>
  </table>
</div>

<div class='myleft' id='one' style='display:block; max-width:400px;'>
  <table border="0">
    <tr>
      <td><b>Sequencing Status</b></td>
      <td><b>Domain</b></td>
    </tr>
    <tr>
      <td><select id="seqstatus" style="width: 290px;" name="seqstatus">
          <option selected="selected" value="Finished">Finished</option>
          <option value="Permanent Draft">Permanent Draft</option>
          <option value="Draft">Draft</option>
          <option value="both">All Finished, Permanent Draft and Draft</option>
        </select>
      </td>
      <td><select id="domainfilter" name="domainfilter">
          <TMPL_IF NAME=isolate>
            <option value='Archaea' selected="selected">Archaea</option>
            <option value='Bacteria'>Bacteria</option>
            <option value='Eukaryota'>Eukaryota</option>
          </TMPL_IF>
          <TMPL_IF NAME=include_metagenomes>
            <option value='*Microbiome'>Metagenome</option>
          </TMPL_IF>
          <TMPL_IF NAME=gfr>
            <option value='GFr'>GFragment</option>
          </TMPL_IF>
          <TMPL_IF NAME=pla>
            <option value='Pla'>Plasmid</option>
          </TMPL_IF>
          <TMPL_IF NAME=vir>
            <option value='Vir'>Viruses</option>
          </TMPL_IF>
          <TMPL_IF NAME=all>
            <option value='All'>All (Slow)</option>
          </TMPL_IF>
          <TMPL_IF NAME=cart>
            <option value='cart'>Genome Cart</option>
          </TMPL_IF>
        </select>
      </td>
    </tr>
    
    <tr>
      <td>
        <input id="displayType1" type="radio" checked="checked"
	       style="vertical-align: text-bottom;"
               value="list" name="displayType"> 
        <b>List</b> 
        <input id="displayType2" type="radio" 
	       style="vertical-align: text-bottom;" value="tree"
               name="displayType"> 
        <b>Tree</b> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <input id='showButton' type="button" value='Show'
               onclick="printSelectType('<TMPL_VAR NAME=xml_cgi>', '<TMPL_VAR NAME=prefix>', 'height: 200px; width: 400px; max-width:400px; overflow:scroll;', '<TMPL_VAR NAME=from>', '<TMPL_VAR NAME=form_id>');">
        <a onmouseout="return nd()" 
           onclick="return overlib('First make slections (Sequencing Status, Domain, List or Tree), then press the show button', RIGHT, STICKY, MOUSEOFF, CAPTION, 'Show Info', FGCOLOR, '#E0FFC2', WIDTH, 400)">
          <img height="15" width="15" border="0" 
               style="cursor:pointer; cursor:hand;" 
               title="show description for this tool" src="https://img.jgi.doe.gov/w/images/question.png">
        </a>
      </td>
      <td><span id="genomeListCounter" style='font-size: 12px;'></span></td>
    </tr>
  </table>
  
  <div id="genomelist" style="width: 400px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
    <div style='width:100%;display:table;'><label style='display:table-cell;white-space: nowrap; width:1%;'>Search for: </label><span style='display:table-cell;padding:0 0 0 5px;' ><input type='text' id='searchField' placeholder='<click show, then enter a genome name to search>' onkeyup='findMatch(this.value)' style='width:99%;' /></span></div>
    <select id='tax' size='10' style="height: 200px; width: 400px; max-width:400px; overflow:scroll;" multiple='multiple'>
    </select>
  </div>

  <TMPL_IF NAME=autocomplete>
    <div id='myAutoCompleteX' style='width:100%;display:table; font-family: Helvetica, Arial, sans-serif; font-size: 12px;'><label style='display:table-cell;white-space: nowrap; width:1%;'>Quick Search: </label><span style='display:table-cell;padding:0 0 0 5px;' ><input type='text' id='myGenomeSearchInput' name='taxonTerm' maxlength='256' placeholder='<enter a genome name to search>' style='width:99%;position:relative;' /></span><div id='myGenomeSearchContainer'></div></div>
  </TMPL_IF>

  <div id="treeDiv1<TMPL_VAR NAME=form_id>" class="whitebg ygtv-checkbox"></div>
  <div id="hiddenlist"></div>
</div>

<div class='myleft' id='two' style="width: 400px;">
  <table border="0">
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td rowspan='2'><strong>Selected Genomes</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><TMPL_VAR NAME=selectedGenome1Title></td>
      <td>
	<span id="selectedGenome1Counter" style='font-size: 12px;'></span>
      </td>
    </tr>
    <tr>
      <td align='center'>
        <input type='button' value='Add &gt' title='Add selected genome(s) on the left to the right' style="width: 100px" onclick="addOption('selectedGenome1', <TMPL_VAR NAME=maxSelected1>, '<TMPL_VAR NAME=domainType1>', '<TMPL_VAR NAME=form_id>', '<TMPL_VAR NAME=autocomplete>')">
        <br/>
        <input type='button' value='Add All &gt&gt' title='Add all genome(s) on the left to the right' style="width: 100px" onclick="addAllOption('selectedGenome1', <TMPL_VAR NAME=maxSelected1>, '<TMPL_VAR NAME=domainType1>', '<TMPL_VAR NAME=form_id>')">
        <br/>
        <br/>
        <input type='button' value='&lt Remove' title='Remove selected genome(s) on the right' style="width: 100px" onclick="removeOption('selectedGenome1', '<TMPL_VAR NAME=form_id>')">
        <br/>
        <input type='button' value='&lt&lt Remove All' title='Remove all genome(s) on the right' style="width: 100px" onclick="removeAllOption('selectedGenome1', '<TMPL_VAR NAME=form_id>')">
        <br/>
	<br/>
	<br/>
      </td>

      <td colspan='2'>
        <div>
          <select id='selectedGenome1' name='selectedGenome1'
		  multiple="multiple" size='10' style="width: 300px;">
          </select>
          
          <TMPL_IF NAME=selectedAssembled1>
            <br/>
            MER-FS Metagenome: &nbsp; 
            <select name="q_data_type" >
              <option value="assembled" > Assembled </option>
              <option value="unassembled" > Unassembled (slow) </option>
              <option value="both" > Both (very slow) </option>
            </select>
          </TMPL_IF>
          
        </div>
        <br/>
        <TMPL_VAR NAME=mySubmitButton>	  
      </td>
    </tr>
  </table>
</div>

<div id='myclear'></div>

</div>

