<div class='myleft' id='one' style="padding-right: 50px; max-width:400px;">
  <TMPL_IF NAME=autocomplete>
    <div id="myAutoCompleteX<TMPL_VAR NAME=form_id>" style='width:100%;display:table; font-family: Helvetica, Arial, sans-serif; font-size: 12px;'><label style='display:table-cell;white-space: nowrap; width:1%;'>Quick Search: </label><span style='display:table-cell;padding:0 0 0 5px;' ><input type='text' id="myGenomeSearchInput<TMPL_VAR NAME=form_id>" name='taxonTerm' maxlength='256' placeholder='<enter a genome name to search>' style='width:99%;position:relative;' /></span><div id="myGenomeSearchContainer<TMPL_VAR NAME=form_id>"></div></div>
  </TMPL_IF>
  <br/>

  <table border="0">
    <tr>
      <td><b>Sequencing Status</b></td>
      <td><b>Domain</b></td>
    </tr>
    <tr>
      <td><select id="seqstatus" style="width: 290px;" name="seqstatus">
          <option selected="selected" value="Finished">Finished</option>
          <option value="Permanent Draft">Permanent Draft</option>
          <option value="Draft">Draft</option>
          <option value="both">All Finished, Permanent Draft and Draft</option>
        </select>
      </td>
      <td><select id="domainfilter" name="domainfilter">
          <TMPL_IF NAME=isolate>
            <option value='Archaea' selected="selected">Archaea</option>
            <option value='Bacteria'>Bacteria</option>
            <option value='Eukaryota'>Eukaryota</option>
          </TMPL_IF>
          <TMPL_IF NAME=include_metagenomes>
            <option value='*Microbiome'>Metagenome</option>
          </TMPL_IF>
          <TMPL_IF NAME=gfr>
            <option value='GFr'>GFragment</option>
          </TMPL_IF>
          <TMPL_IF NAME=pla>
            <option value='Pla'>Plasmid</option>
          </TMPL_IF>
          <TMPL_IF NAME=vir>
            <option value='Vir'>Viruses</option>
          </TMPL_IF>
          <TMPL_IF NAME=all>
            <option value='All'>All (Slow)</option>
          </TMPL_IF>
          <TMPL_IF NAME=cart>
            <option value='cart'>Genome Cart</option>
          </TMPL_IF>
        </select>
    </tr>
    <tr>
      <td><input id="displayType1" type="radio" checked="checked"
		 style="vertical-align: text-bottom;"
                 value="list" name="displayType"> 
        <b>List</b> 
        <input id="displayType2" type="radio"
	       style="vertical-align: text-bottom;" value="tree"
               name="displayType"> 
        <b>Tree</b> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <input id='showButton' type="button" value='Show'
               onclick="printSelectType('<TMPL_VAR NAME=xml_cgi>', '<TMPL_VAR NAME=prefix>', 'height: 200px; width: 400px; max-width:400px; overflow:scroll;', '<TMPL_VAR NAME=from>', '<TMPL_VAR NAME=form_id>');">
        <a onmouseout="return nd()" 
           onclick="return overlib('First make selections (Sequencing Status, Domain, List or Tree), then press the Show button', RIGHT, STICKY, MOUSEOFF, CAPTION, 'Displaying Genomes', FGCOLOR, '#E0FFC2', WIDTH, 400)">
          <img height="15" width="15" border="0" 
               style="cursor:pointer; cursor:hand;" 
               title="how to display genomes" src="https://img.jgi.doe.gov/w/images/question.png">
        </a>
      </td>
      <td><span id="genomeListCounter" style='font-size: 12px;'></span></td>
    </tr>
  </table>
  
  <div id="genomelist" style="">
    <div style='width:100%;display:table; font-family: Helvetica, Arial, sans-serif; font-size: 12px;'><label style='display:table-cell;white-space: nowrap; width:1%;'>Search for: </label><span style='display:table-cell;padding:0 0 0 5px;' ><input type='text' id='searchField' placeholder='<click show, then enter a genome name to search>' onkeyup='findMatch(this.value)' style='width:99%;' /></span></div>
    <select id='tax' size='10' style='height: 200px; width: 400px; max-width:400px;  overflow:scroll;' multiple='multiple'>
    </select>
  </div>
  
  <div id="treeDiv1<TMPL_VAR NAME=form_id>" class="whitebg ygtv-checkbox"></div>
  <div id="hiddenlist"></div>
</div>

<div class='myleft' id='two' style="width: 400px;">
  <strong>Selected Genomes</strong>
  <TMPL_IF NAME=workspace>
    <TMPL_IF NAME=autocomplete>
      <a onmouseout="return nd()"
	 onclick="return overlib('You can Add genomes either by using Quick Search or by selecting from the list of displayed genomes. Alternatively, you can Upload saved genome sets from your workspace.', RIGHT, STICKY, MOUSEOFF, CAPTION, 'Selecting Genome(s)', FGCOLOR, '#E0FFC2', WIDTH, 400)">
	<img height="15" width="15" border="0"
             style="cursor:pointer; cursor:hand;"
             title="how to select" src="https://img.jgi.doe.gov/w/images/question.png"></a>
    </TMPL_IF>
  </TMPL_IF>
  <p>
    <div style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>
      <TMPL_IF NAME=maxSelected1>
	<!-- when more than one item is allowed -->
        <TMPL_VAR NAME=selectedGenome1Title> &nbsp; <span id="selectedGenome1Counter"></span><br/>
          <select id='selectedGenome1' name='selectedGenome1'
		  multiple="multiple" size='10' style="width: 300px;">
          </select>
	  <br/>
          <input type='button' value='Add' onclick="addOption('selectedGenome1', '<TMPL_VAR NAME=maxSelected1>', '<TMPL_VAR NAME=domainType1>', '<TMPL_VAR NAME=form_id>', '<TMPL_VAR NAME=autocomplete>')" /> 

	  <TMPL_IF NAME=workspace>
	  <input type='button' value='Upload Genome Sets' title='You may select genome set(s) from your workspace' onclick="uploadOption('<TMPL_VAR NAME=xml_cgi>', 'selectedGenome1', '<TMPL_VAR NAME=form_id>')">
	  </TMPL_IF>
	  
	  <TMPL_ELSE>
	    <TMPL_VAR NAME=selectedGenome1Title><br/>
              <select id='selectedGenome1' name='selectedGenome1'
		      multiple="multiple" size='1' style="width: 300px;">
              </select>
	      <br/> 
              <input type='button' value='Add' onclick="addOption('selectedGenome1', 1, '<TMPL_VAR NAME=domainType1>', '<TMPL_VAR NAME=form_id>', '<TMPL_VAR NAME=autocomplete>')" /> 
      </TMPL_IF>
      
      <input type='button' value='Remove' title='Please select genome(s) to be removed' onclick="removeOption('selectedGenome1', '<TMPL_VAR NAME=form_id>')">
      
        <a onmouseout="return nd()" 
           onclick="return overlib('To remove a genome, first select it and then press the Remove button', RIGHT, STICKY, MOUSEOFF, CAPTION, 'Removing Genome(s)', FGCOLOR, '#E0FFC2', WIDTH, 400)">
          <img height="15" width="15" border="0" 
               style="cursor:pointer; cursor:hand;" 
               title="how to remove" src="https://img.jgi.doe.gov/w/images/question.png">
        </a>
	
        <TMPL_IF NAME=selectedAssembled1>
          <br/>
          MER-FS Metagenome: &nbsp; 
          <select id="q_data_type" name="q_data_type">
            <option value="assembled" > Assembled </option>
            <option value="unassembled" > Unassembled (slow) </option>
            <option value="both" > Both (very slow) </option>
          </select>
        </TMPL_IF>       
    </div>
    <br/>

    <!-- need div id for yui container -->
    <div id='container' class='yui-skin-sam'>
      <script type='text/javascript'>
        YAHOO.namespace("example.container");
        YAHOO.util.Event.on("two", "click", initDialog("container"));
      </script>
    </div>
    <!-- end container -->

    <div style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>
      <TMPL_VAR NAME=selectedGenome2Title> &nbsp; <span id="selectedGenome2Counter"></span>
	<br/>
        <select id='selectedGenome2' name='selectedGenome2' 
		multiple="multiple" size='10' style="width: 300px;">
        </select>
	<br/>
        <input type='button' value='Add' onclick="addOption('selectedGenome2', <TMPL_VAR NAME=maxSelected2>, '<TMPL_VAR NAME=domainType2>', '<TMPL_VAR NAME=form_id>', '<TMPL_VAR NAME=autocomplete>')"> 

	<TMPL_IF NAME=workspace>
        <input type='button' value='Upload Genome Sets' title='You may select genome set(s) from your workspace' onclick="uploadOption('<TMPL_VAR NAME=xml_cgi>', 'selectedGenome2', '<TMPL_VAR NAME=form_id>')">
        </TMPL_IF>
	
        <input type='button' value='Remove' title='Please select genome(s) to be removed' onclick="removeOption('selectedGenome2', '<TMPL_VAR NAME=form_id>')">

        <TMPL_IF NAME=selectedAssembled2>
          <br/>
          MER-FS Metagenome: &nbsp; 
          <select id="r_data_type" name="r_data_type">
            <option value="assembled" > Assembled </option>
            <option value="unassembled" > Unassembled (slow) </option>
            <option value="both" > Both (very slow) </option>
          </select>
        </TMPL_IF>
    </div>
    
    <TMPL_VAR NAME=mySubmitButton>
</div>
<div id='myclear'></div>
