
__historyMarkup__

__genomeFilterAreaDivStart__

<p>
<span class='boldTitle'>Genome Filter</span>
</p>

<p>
__taxonNote__
</p>

<p>
<table border='0'>
<tr>
<td><b>Seq. Status</b></td>
<td><b>Domain</b></td>
</tr>
<tr >
<td valign='top'>
__seqstatus_list__
</td>
<td valign='top'>
__domain_list__
</td>
</tr>
</table>

<table border='0' style="width:370px;">
<tr>
<td>
__taxonDisplayType__
</td>
<td align='right'>
__taxonChoice__
</td>
</tr>
<tr>
<td colspan='2'>
__hiddenTreeButtons__
</td>
</tr>
</table>
__taxonDisplayArea__
</p>

</div>

<script language="javascript" type="text/javascript">

function genomeCountSelected() {
    var cnt = 0;
    var el = document.mainForm.genomeFilterSelections;
    if(el == null) {
        el = document.mainForm.referenceGenomes;
    }
    if(el == null) {
        el = document.mainForm.genomesToSelect;
    }
    if(el == null) {
        el = document.mainForm.queryGenomes;
    }
    if(el == null) {
        el = document.mainForm.imgBlastDb;
    }
    
    if(el == null) {
        return true;
    }
    
    
    var oList = document.getElementById("genomeListCounter");
    if(oList == null) {
        return true;
    }
    
    for (var i = 0; i < el.options.length; i++) {
        if (el.options[i].selected) {
        cnt++;
        }
    }
    if (cnt > 0)
        oList.innerHTML = "Selected: " + cnt;
    else
        oList.innerHTML = "";
}

function selectRest() {
    var oList = document.getElementById("genomeListCounter");
    if(oList != null) {
        oList.innerHTML = "";
    }
}

</script>