<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>__title__</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="Integrated Microbial Genomes" />
<!-- __gwt.insert__ -->
<style type="text/css">
<!--
@import url("__base_url__/img.css");

@import url("__base_url__/imgdocs.css");

@import url("__base_url__/imgApp.css");
-->
</style>


<link rel="stylesheet" type="text/css" href="img_border_tabs.css" />

<!-- yui 2.5 style sheets -->
<link rel="stylesheet" type="text/css"
	href="__yui_url__/build/container/assets/container.css" />
<link rel="stylesheet" type="text/css"
	href="__yui_url__/examples/treeview/css/check/tree.css" />
<link rel="stylesheet" type="text/css"
	href="__yui_url__/examples/treeview/assets/css/local/tree.css" />
<link rel="stylesheet" type="text/css"
	href="__yui_url__/examples/treeview/assets/css/check/tree.css" />
<link rel="stylesheet" type="text/css"
	href="__yui_url__/build/datatable/assets/skins/sam/datatable.css" />
<link rel="stylesheet" type="text/css"
	href="__yui_url__/build/tabview/assets/tabview.css" />
<link rel="stylesheet" type="text/css"
	href="__yui_url__/build/resize/assets/skins/sam/resize.css" />
<link rel="stylesheet" type="text/css"
	href="__yui_url__/build/container/assets/skins/sam/container.css" />


<script language="javascript" type="text/javascript" src="__base_url__/header.js"></script>

</head>

<body>

<div id="jgilogo"><a href="http://www.jgi.doe.gov"><img
	src="__base_url__/images/jgi_home_logo.gif" width="169" height="93"
	border="0" alt="logo" /></a></div>

<div id="title"><img src="__base_url__/images/jgi_home_header.gif"
	width="800" height="50" border="0"
	alt="IMG: Integrated Microbial Genomes"
	title="IMG: Integrated Microbial Genomes nameplate" /></div>

<div id="header_search">
<form method="post" action="__main_cgi__"
	enctype="application/x-www-form-urlencoded" name="taxonSearchForm">
<input type='hidden' name='page' value='orgsearch' /> <input
	type='hidden' name='section' value='TaxonSearch' />
<p><a href="__base_url__/doc/orgsearch.html" style='color: white;'>
<font style='color: white;'> Quick Genome Search </font> </a>:<br />
<input type="text" maxlength="256" size="12" name="taxonTerm"
	style="width: 110px; height: 20px;" /> <input
	name="_section_TaxonSearch_x" type="image"
	src="__base_url__/images/go.gif" alt="Go" /></p>
</form>
</div>

__set_active_menu__