<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head><title>__title__</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<style type="text/css">
<!--
@import url( "imghome.css");
-->
</style>
</head>
<body>
<div id="jgilogo">
   <a href="http://www.jgi.doe.gov">
   <img src="images/jgi_home_logo.jpg" width="169" height="93" 
     border="0" alt="logo" /></a>
</div>

<div id="title">
   <img src="images/jgi_home_header.gif" width="755" height="101" 
     border="0" alt="IMG: Integrated Microbial Genomes" />
</div>

<div id="search">
   <form method="post"
     action="__main_cgi__"
     enctype="application/x-www-form-urlencoded" name="taxonSearchForm">
   <p>Search for Genomes (
   <a href=__main_cgi__?page=taxonSearchExamples>
     <font color=white>Examples</font>
   </a>):
   <br/>
   <input type="text" maxlength="256" size="25" name="taxonTerm"
    style="width: 175px; height: 20px;" />
   <input name="TaxonSearch" type="image" src="images/go.gif" alt="Go" />
   </p>
</form>
</div>

