<h1>Additional Information</h1>
<p>
Almost there. IMG needs additional information before you can use IMG.
<br/>
<b>NOTE:</b> It can take up to 2 U.S. business days to approve your JGI SSO account for using IMG. 
<br/>
<br/>
Please remember to update <i>Reason(s) for Request</i>.<br>
Fields marked with an <b>* are mandatory</b> and need to be filled comprehensively clearly, without using abbreviations.<br> 
Please provide a <b>clear and detailed reason</b> in English for requesting access to IMG.<br>
Requests that do not comply with these requirements will be <b>disregarded</b>.
</p>


<script>
var countries = <TMPL_VAR NAME=countryArray>;
function validateCountry() {
    var x = document.forms["imgAccountForm"]["country"].value;
    if (x == null || x == "") {
        alert("Country must be filled out");
        return false;
    }
    
    for (i = 0; i < countries.length; i++) { 
        if(x == countries[i]) {
            return true;
        }
    }
    alert("Cannot find country: " + x);
    return false;
}

</script>

<form name="imgAccountForm" method="post" action="https://img.jgi.doe.gov/cgi-bin/submit/request.cgi" onsubmit="return validateCountry()" enctype="multipart/form-data">
<table class='img' border='1'>
<tr class='img' >
  <th class='subhead' align='right'>* Your Name (First Name and Last Name)</th>
  <td class='img'   align='left'><input type='text' name='name' value='<TMPL_VAR NAME=name>' size='80' maxLength='80' required/></td>
</tr>
<tr class='img' >
  <th class='subhead' align='right'>* Title</th>
  <td class='img'   align='left'><input type='text' name='title' value='<TMPL_VAR NAME=title>' size='80' maxLength='80' required/></td>
</tr>
<tr class='img' >
  <th class='subhead' align='right'>* Department or Division</th>
  <td class='img'   align='left'><input type='text' name='department' value='<TMPL_VAR NAME=department>' size='80' maxLength='255' required/></td>
</tr>
<tr class='img' >
  <th class='subhead' align='right'>* Organization or Affiliation</th>
  <td class='img'   align='left'><input type='text' name='organization' value='<TMPL_VAR NAME=organization>' size='80' maxLength='255' required/></td>
</tr>
<tr class='img' >
  <th class='subhead' align='right'>* Your Email</th>
  <td class='img'   align='left'><input type='text' name='email' value='<TMPL_VAR NAME=email>' size='80' maxLength='255' required/></td>
</tr>
<tr class='img' >
  <th class='subhead' align='right'>* Phone Number</th>
  <td class='img'   align='left'><input type='text' name='phone' value='<TMPL_VAR NAME=phone>' size='80' maxLength='80' required/></td>
</tr>
<tr class='img' >
  <th class='subhead' align='right'>Address</th>
  <td class='img'   align='left'><input type='text' name='address' value='<TMPL_VAR NAME=address>' size='80' maxLength='255'/></td>
</tr>
<tr class='img' >
  <th class='subhead' align='right'>* City</th>
  <td class='img'   align='left'><input type='text' name='city' value='<TMPL_VAR NAME=city>' size='80' maxLength='80' required/></td>
</tr>
<tr class='img' >
  <th class='subhead' align='right'>State</th>
  <td class='img'   align='left'><input type='text' name='state' value='<TMPL_VAR NAME=state>' size='80' maxLength='80'/></td>
</tr>
<tr class='img' >
  <th class='subhead' align='right'>* Country</th>
  <td class='img'   align='left'><input type='text' name='country' value='<TMPL_VAR NAME=country>' size='80' maxLength='80' required/></td>
</tr>

<tr class='img' >
  <th class='subhead' align='right'>IMG Group (if known)</th>
  <td class='img'   align='left'><input type='text' name='group_name' value='' size='80' maxLength='80'/></td>
</tr>
<tr class='img' >
  <th class='subhead' align='right'>* Reason(s) for Request</th>
  <td class='img'   align='left'><textarea name='comments' cols='60' rows='10' required></textarea></td>
</tr>
</table>
<p>

<input type='hidden' name='username' value='<TMPL_VAR NAME=username>'/>

<input type="submit" name="_section_requestAcct:submitRequest" value="Submit" class="smdefbutton" />
<input type='hidden' id='submitRequest' name='submitRequest' value='1' />
<input type='hidden' name='page' value='submitRequest' />
<input type='hidden' name='section' value='requestAcct' />
</p>
</form>
