<!-- YUI -->
<link rel="stylesheet" type="text/css" href="__yui_url__/build/button/assets/skins/sam/button.css" />
<link rel="stylesheet" type="text/css" href="__yui_url__/build/container/assets/skins/sam/container.css" />
<script type="text/javascript" src="__yui_url__/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="__yui_url__/build/element/element-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/button/button-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/dragdrop/dragdrop-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/animation/animation-min.js"></script>
<script type="text/javascript" src="__yui_url__/build/container/container-min.js"></script>

<style type="text/css">
.yui-dt input {
    width:3em;
    text-align:right
}

.yui-skin-sam .yui-panel .hd {
    font-size:12px;
}

.yui-skin-sam .yui-dialog .ft .button-group {
    font-size:90%;
    font-weight
}

</style>

<script type="text/javascript">
YAHOO.util.Event.onDOMReady(function () {
	// Define various event handlers for Dialog
	var handleSubmit = function() {
	    if (subValidate()) {
		document.popupForm.submit();
	    }
	};

	var handleCancel = function() {
	    var formSubmit = __popup_visibility__;
	    if (formSubmit) {
		document.popupForm.submit();
	    } else {
		this.cancel();
	    }
	};

    // Remove progressively enhanced content class, just before creating the module
    YAHOO.util.Dom.removeClass("popup_box", "yui-pe-content");

    // Instantiate the Dialog
    var popup_box = new YAHOO.widget.Dialog
                     ("popup_box", 
		      {
			  fixedcenter : true,
			  visible : __popup_visibility__,
			  zIndex : 4,
			  constraintoviewport : true,
			  effect:{effect:YAHOO.widget.ContainerEffect.FADE,duration:0.25},
			  close : !(__popup_visibility__),
			  buttons : [ { text:"Generate", handler:handleSubmit, isDefault:true }]
		      });

    var showCancelButton = !(__popup_visibility__);
    if (showCancelButton) {
	var cancelButton = [{ text:"Generate", handler:handleSubmit, isDefault:true },
			    { text:"Cancel", handler:handleCancel }];
	popup_box.cfg.queueProperty("buttons", cancelButton);
    }	
	
    document.getElementById("popup_box").style["display"] = "block";
    // Render the Dialog
    popup_box.render();
    
    YAHOO.util.Event.addListener("show", "click", popup_box.show, popup_box, true);
});

function subValidate() {
    var kmerParam = __kmer_param_json__;

    for (var i in kmerParam) {
	var min  = kmerParam[i]['min' ];
	var max  = kmerParam[i]['max' ];
	var text = kmerParam[i]['text'];
	var curValue = document.popupForm[i].value;

	if (curValue < min || curValue > max) {
	    alert(text + " needs to be between " + min + " and " + max + "");
	    return false;
	}
    }
    return true;
}
</script>

<div id="popup_box" class="yui-pe-content" style="display:none">
<div class="hd">Change Kmer Settings</div>
<div class="bd">
<form name="popupForm" method="POST" action="__main_cgi__">
__popup_content__
</form>
</div>
</div>
