<div>


<div id=jgissologin style="width:600px; padding-left:20px; ">
<h3>JGI Single Sign On (JGI SSO)</h3>
<p>Sign in to use IMG with your <a href='https://signon.jgi.doe.gov/'>JGI SSO account</a>.
<br><i>This is NOT your IMG account!</i>
</p>
<form id="jgihome" name="jgihome" enctype="multipart/form-data" method="post" action="<TMPL_VAR NAME=sso_url>/signon/create">

    <input type='hidden' name='oldLogin' value='false' /> 
    <input type="hidden" name='redirect' value='' />

<table border='0'>
    <tr>
    <td style="vertical-align: top;">
        <a href='https://signon.jgi.doe.gov/help#username'>JGI SSO Email</a> (username):
        <br> <input id="login" name="login" type="text" size='40' 
                    title='Your JGI SSO username and NOT your IMG username!'
                    style="color:gray;"
                    value="<Your JGI SSO username>"
                    onfocus="if(this.value== '<Your JGI SSO username>'){this.value=''}; this.style.color='black';"
                    form="jgihome" required/>
        <br>
        Password: 
        <br> <input id="password" name="password" type="password" size='40' form="jgihome" required/>
        <br> <input class="smdefbutton" type="submit" name="jgi_sso" value="JGI SSO Sign In"
            title='Sign in with your JGI SSO Account' />
     </td>
    </tr>
</table>
</form>
<p>
    <b><a href='https://signon.jgi.doe.gov/password_resets'
          title='Reset JGI SSO Account Password'
          onClick="_gaq.push(['_trackEvent', 'Password', 'JGI SSO', 'reset']);">Forgot your JGI SSO password</a></b>&nbsp;|&nbsp;
     <a href="https://signon.jgi.doe.gov/help"><b>Help?</b>
     </a>     
    <br> 
    <a href='http://contacts.jgi-psf.org/registration/new'
     onClick="_gaq.push(['_trackEvent', 'Register', 'JGI SSO', 'new user']);">JGI SSO Register now!</a>
   </p>     
</div>


</div>   