
<div>
    <input type='hidden' name='section' value='BcSearch' /> 
    <input type="hidden" name='page' value='npSearchResult' />

<table class='img' border="0" style="min-width:750px">

<tr class='img'>
<th class="subhead">Secondary Metabolite Name</th>
<td>
<input type="text" name="npName" style="min-width:650px" />
</td>
</tr>

<tr>
<th class="subhead">Secondary Metabolite Activity</th>
<td>
<select name="npActivity" style="min-width:650px">
__npActivityOptions__
</select>
</td>
</tr>

<tr>
<th class="subhead" rowspan="2">Phylogenetic Option</th>
<td>
  <table border="0">
    <tr>
      <td><b>Sequencing Status</b></td>
      <td><b>Domain</b></td>
    </tr>
    <tr>
      <td><select id="seqstatus" name="seqstatus">
          <option selected="selected" value="Finished">Finished</option>
          <option value="Permanent Draft">Permanent Draft</option>
          <option value="Draft">Draft</option>
          <option value="both">All Finished, Permanent Draft and Draft</option>
        </select>
      </td>
      <td><select id="domainfilter" name="domainfilter">
          __domainOptions__
        </select>
      __showButton__
      </td>
    </tr>
  </table>
</td>
</tr>

<tr>
<td>
__phylogeneticTree__
</td>
</tr>

<tr>
<th class="subhead">Secondary Metabolite Type</th>
<td>
__npTypeOptions__
</td>
</tr>

<tr class='img'>
<th class="subhead">Formula</th>
<td>
<input type="text" name="formula" style="min-width:650px" />
</td>
</tr>

<tr>
<th class="subhead">Number of Atoms</th>
<td>
From <input type="text" name="from_num_atoms" size='25' onKeyPress='return numbersonly(event, 0)' />
To <input type="text" name="to_num_atoms" size='25' onKeyPress='return numbersonly(event, 0)' />
</td>
</tr>

<tr>
<th class="subhead">Molecular Weight</th>
<td>
From <input type="text" name="from_mol_weight" size='25' onKeyPress='return numbersonly(event, 1)' />
To <input type="text" name="to_mol_weight" size='25' onKeyPress='return numbersonly(event, 1)' />
</td>
</tr>

</table>

<input id="go_np" class="smdefbutton" type="button" name="npSearchResult" value="Go"/>&nbsp;
<input id="reset" class="smbutton" type="reset" name=".reset" value="Reset" onclick="return selectRest();"/>

__hint__

</div>

__javascript__
