	<h1><!-- InstanceBeginEditable name="H1" -->Questions and Comments about IMG<!-- InstanceEndEditable --></h1>
    <!-- InstanceBeginEditable name="content" -->
    <form method="post" action="http://www.jgi.doe.gov/cgi-bin/support/contact_img.pl">
      <input type="hidden" name="inquiry" value="img" />
      <p>
      If you request supplementary IMG materials for educational purposes,<br/>
      please provide your full name, affiliation, address, name of course, and course description.
      <br/>
      <br/>
      Fields marked with an * are required.</p>
      <table class='img' cellspacing="3" cellpadding="5" border="0" width="650">
        <tbody>
          <tr class='img'>
            <th class="subhead" width="200" valign="middle">*Subject: </th>
            <td valign="top"><input type="text" name="subject" value="" size="40" /></td>
          </tr>
          <tr class='img'>
            <th class="subhead" width="200" valign="top">*Message:</th>
            <td valign="top"><textarea name="message" rows="10" cols="60"></textarea></td>
          </tr>
          <tr class='img'>
            <th class="subhead" width="200" valign="middle">Operating System: </th>
            <td valign="top"><select name="os" size="1">
                <option value="">-- Please Select -- </option>
                <option value="win95">Windows 95 </option>
                <option value="win98">Windows 98 </option>
                <option value="winme">Windows ME </option>
                <option value="nt4">Windows NT 4 </option>
                <option value="win2000">Windows 2000 </option>
                <option value="winxp">Windows XP </option>
                <option value="macos">Mac OS 7/8/9 </option>
                <option value="osx">Mac OS X </option>
                <option value="linux">Linux </option>
                <option value="unix">Other Unix </option>
                <option value="other">Other OS </option>
              </select>
            </td>
          </tr>
          <tr class='img'>
            <th class="subhead" width="200" valign="middle">Browser: </th>
            <td valign="top"><select name="browser" size="1">
                <option value="">-- Please Select -- </option>
                <option value="ie5">Internet Explorer &lt;= 5.x </option>
                <option value="ie6">Internet Explorer 6.x </option>
                <option value="nn4">Netscape Navigator 4.x </option>
                <option value="nc4">Netscape Communicator 4.x </option>
                <option value="msn">MSN Explorer </option>
                <option value="ns7">Netscape 7.x </option>
                <option value="opera">Opera </option>
                <option value="konquerer">Konquerer </option>
                <option value="mozilla">Mozilla </option>
                <option value="safari">Safari </option>
                <option value="winother">Other Windows Browser </option>
                <option value="macother">Other Mac Browser </option>
                <option value="unixother">Other Unix Browser </option>
                <option value="other">Other Browser </option>
              </select>
            </td>
          </tr>
          <tr class='img'>
            <th class="subhead" width="200" valign="middle">Connection: </th>
            <td valign="top"><select name="connection" size="1">
                <option value="">-- Please Select -- </option>
                <option value="dialup">56k Dialup </option>
                <option value="dsl">DSL </option>
                <option value="cable">Cable </option>
                <option value="lan">Corporate Lan </option>
                <option value="other">Other </option>
              </select>
            </td>
          </tr>
          <tr class='img'>
            <th class="subhead" width="200" valign="middle">Name: </th>
            <td valign="top"><input type="text" name="name" size="30" /></td>
          </tr>
          <tr class='img'>
            <th class="subhead" width="200" valign="middle">*Email: </th>
            <td valign="top"><input type="email" name="email" size="30" /></td>
          </tr>
        </tbody>
      </table>
      <p>
        <input class="smdefbutton" type="submit" value=" Submit " />
      </p>
    </form>

