<h1>Migrate IMG Account to JGI SSO</h1>
<p>
Please confirm and update your contact information!<br>
<b>All fields are required.</b>
</p>

<form method="post" action="main.cgi" enctype="multipart/form-data">


<table class='img' border='1'>
<tr class='img' >
  <th class='subhead' align='right'>First Name</th>
  <td class='img'   align='left'><input type='text' name='firstname' value='<TMPL_VAR NAME=firstname>' size='80' maxLength='80' required/></td>
</tr>

<tr class='img' >
  <th class='subhead' align='right'>Last Name</th>
  <td class='img'   align='left'><input type='text' name='lastname' value='<TMPL_VAR NAME=lastname>' size='80' maxLength='80' required/></td>
</tr>

<tr class='img' >
  <th class='subhead' align='right'>Email</th>
  <td class='img'   align='left'><input type='email' name='email' value='<TMPL_VAR NAME=email>' size='80' maxLength='80' required/></td>
</tr>

<tr class='img' >
  <th class='subhead' align='right'>Institution</th>
  <td class='img'   align='left'><input type='text' name='institution' value='<TMPL_VAR NAME=institution>' size='80' maxLength='255' required/></td>
</tr>

<tr class='img' >
  <th class='subhead' align='right'>Institution Type</th>
  <td class='img'   align='left'><TMPL_VAR NAME=institutionType></td>
</tr>

<tr class='img' >
  <th class='subhead' align='right'>Phone Number</th>
  <td class='img'   align='left'><input type='tel' name='phone' value='<TMPL_VAR NAME=phone>' size='80' maxLength='80' required/></td>
</tr>


<tr class='img' >
  <th class='subhead' align='right'>Address</th>
  <td class='img'   align='left'><input type='text' name='address_1' value='<TMPL_VAR NAME=address_1>' size='80' maxLength='255' required/></td>
</tr>


<tr class='img' >
  <th class='subhead' align='right'>Postal Code</th>
  <td class='img'   align='left'><input type='text' name='postalCode' value='' size='80' maxLength='80' required /></td>
</tr>


<tr class='img' >
  <th class='subhead' align='right'>City</th>
  <td class='img'   align='left'><input type='text' name='city' value='<TMPL_VAR NAME=city>' size='80' maxLength='80' required/></td>
</tr>

<tr class='img' >
  <th class='subhead' align='right'>State</th>
  <td class='img'   align='left'><input type='text' name='state' value='<TMPL_VAR NAME=state>' size='80' maxLength='80'/></td>
</tr>



<tr class='img' >
  <th class='subhead' align='right'>Country</th>
  <td class='img'   align='left'><TMPL_VAR NAME=country> </td>
</tr>

</table>

<p>

<TMPL_VAR NAME=captcha>

<input class="smdefbutton" type="submit" value="Submit"  />
<input type='hidden' name='page' value='submitMigrate' />
<input type='hidden' name='section' value='Caliban' />

</form>