[%	WRAPPER 'inc/page_wrapper.tt';
	self = results.gene;

	#title = self.display_name;
	title = 'Gene Details';
	class = 'gene-details';


	PROCESS 'inc/title/gene.tt';

	PROCESS 'inc/generic/link.tt';

	BLOCK list_container %]
	<ul class="[% class_name %]__container[%
		IF class_suffix; '--' _ class_suffix; END; %]">
[%	content %]
	</ul>
[%	END;


	BLOCK list_item %]
		<li class="[% class_name %]__item[%
			IF class_suffix; '--' _ class_suffix; END; %]">
[%	content %]
		</li>
[%	END;

%]

<!--
<style>

	/* Hookups for seqData tab group and content box */
 	#tab1_seqData:checked ~ #tabContent1_seqData,
 	#tab2_seqData:checked ~ #tabContent2_seqData {
 		display: block;
  	}

	/* comment this out while working on this to see my dev notes... */
	.noteToSelf {
		display: none;
	}

</style>
 -->

<div class="row">
	<div class="infoBox">

[%		IF self.locus_type == 'CDS' %]
		<div class="infoBoxTitle"><h4>Gene Information</h4></div>

		<div class="tableTitle"><h6>Gene Details</h6></div>
		<table class="condensed">
			<tr><td class="col1">Gene ID</td> 	<td>[% self.gene_oid %]</td></tr>
			<tr><td>Gene Symbol</td><td>[% self.gene_symbol %]</td></tr>
			<tr><td>Locus Type</td>	<td>[% self.locus_type %]</td></tr>
			<tr><td>Locus Tag</td>	<td>[% self.locus_tag %]</td></tr>
			<tr><td>Gene Product Name</td>	<td> [% self.gene_display_name %]</td></tr>
			<tr><td>Pseudogene</td> <td> [% self.is_pseudogene %] </td></tr>
			<tr><td>Estimated Copy</td> <td> [% self.est_copy %] </td></tr>
			<tr><td>DNA Coordinates</td>	<td>[% self.start_coord %] .. [%self.end_coord %] ([% self.strand %]) <div class="noteToSelf"> * </div></td></tr>
			<tr><td>Gene Length</td>	<td>[% self.dna_seq_length %] bp</td></tr>
			<tr><td>Protein Length </td> <td> [% self.aa_seq_length %] aa</td></tr>
			<tr><td>GC Content</td>	<td>[% self.gc_percent %]</td></tr>
			<tr><td>Date Modified</td>	<td> [% self.mod_date %]</td></tr>
		</table>
[%		ELSE %]
		<div class="infoBoxTitle"><h4>RNA Information</h4></div>
[%
#			IF self.gene_display_name.match('^RF');
#				# RFAM link
#			END;

#    if ( $gene_display_name =~ /^RF/ ) {
#        my $url = $rfam_base_url . $gene_display_name;
#        $url = alink( $url, $gene_display_name );
#        printAttrRowRaw( "IMG Product Name", $url );
#    } else {
#        printAttrRowRaw( "IMG Product Name", escHtml($gene_display_name) );
#    }
#    printAttrRowRaw( "Original Gene Product Name", escHtml($product_name) );
#    printAttrRowRaw( "IMG Product Source", escHtml($img_product_source) );

		END; %]



		<div class="tableTitle"><h6>Genome and Scaffold Details</h6></div>
		<table class="condensed">
			<tr>
				<td class="col1">Taxon ID</td>
				<td>[% taxon_id_link( x = {}, obj = self ); %]</td>
			</tr>
			<tr>
				<td>Taxon</td>
				<td>[% taxon_name_link( x = {}, obj = self ); %]</td>
			</tr>
			<tr>
				<td>Scaffold ID</td>
				<td>[% scaffold_id_link( x = {}, obj = self ); %]</td></tr>
			<tr>
				<td>Scaffold</td>
				<td>[% scaffold_name_link( x = {}, obj = self ); %]</td>
			</tr>
		</table>

		<div class="tableTitle"><h6>External Links</h6></div>
		<table class="condensed">
			<tr><td class="col1"> NCBI</td> <td><a>[% self.dt_protein_seq_accid_lc %]</a> <div class="noteToSelf"> * </div></td></tr>
			<tr><td>GI</td> <td><a>124024713</a><div class="noteToSelf"> * </div></td></tr>
			<tr><td>GeneID</td> <td><a>4780657</a><div class="noteToSelf"> * </div></td></tr>
			<tr><td>UniProtKB</td> <td><a>A2BZA4</a> <div class="noteToSelf"> * </div></td></tr>
			</td></tr>
		</table>

	</div> <!-- infoBox -->

<!-- 
    my $sql = qq{
        select distinct db_name, id, custom_url
        from gene_ext_links
        where gene_oid = ?
        order by db_name, id
    };
    my $cur = execSql( $dbh, $sql, $verbose, $gene_oid );
    print "<td class='img'>\n";
    my $count = 0;
    my $s;

    for ( ; ; ) {
        my ( $db_name, $id, $custom_url ) = $cur->fetchrow();
        last if !$id;
        my $dbId = "$db_name:$id";
        if ( $db_name eq "GI" && $ncbi_entrez_base_url ne "" ) {
            my $url = "$ncbi_entrez_base_url$id";
            $s .= alink( $url, "$dbId" );
            $s .= "; ";

        } elsif ( $db_name eq "GenBank" && $ncbi_entrez_base_url ne "" ) {
            my $url = "$ncbi_entrez_base_url$id";
            $s .= alink( $url, "$dbId" );
            $s .= "; ";
        } elsif ( $db_name eq "GeneID" && $geneid_base_url ne "" ) {
            my $url = "$geneid_base_url$id";
            $s .= alink( $url, "$dbId" );
            $s .= "; ";
            if ( $is_big_euk eq "Yes" ) {
                my $url = "$ncbi_mapview_base_url$id";
                $s .= alink( $url, "MapView/$dbId" );
                $s .= "; ";
            }
        } elsif ( $db_name =~ /UniProt/ && $nice_prot_base_url ne "" ) {
            my $url = "$nice_prot_base_url$id";
            $s .= alink( $url, "$dbId" );
            $s .= "; ";
        } elsif ($enable_interpro && $db_name =~ /InterPro/  ) {
            my $url = "$ipr_base_url$id";
            $s .= alink( $url, "$dbId" );
            $s .= "; ";

        } elsif ($enable_interpro && $db_name =~ /SUPERFAMILY/ ) {
            my $url = "$ipr_base_url2$id";
            $s .= alink( $url, "$dbId" );
            $s .= "; ";

        } elsif ($enable_interpro && $db_name =~ /ProSiteProfiles/  ) {
            my $url = "$ipr_base_url3$id";
            $s .= alink( $url, "$dbId" );
            $s .= "; ";

        } elsif ($enable_interpro && $db_name =~ /SMART/  ) {
            my $url = "$ipr_base_url4$id";
            $s .= alink( $url, "$dbId" );
            $s .= "; ";


        } elsif ( $db_name eq "UniGene" ) {
            my ( $org, $id2 ) = split( /\./, $id );
            my $url = "$unigene_base_url?ORG=$org&CID=$id2";
            $s .= alink( $url, "$dbId" );
            $s .= "; ";
        } elsif ( $db_name eq "TAIR" ) {
            my $url = "$tair_base_url$id";
            $s .= alink( $url, "$dbId" );
            $s .= "; ";
        } elsif ( $db_name eq "WormBase" ) {
            my $url = "$wormbase_base_url$id";
            $s .= alink( $url, "$dbId" );
            $s .= "; ";
        } elsif ( $db_name eq "ZFIN" ) {
            my $url = "$zfin_base_url$id";
            $s .= alink( $url, "$dbId" );
            $s .= "; ";
        } elsif ( $db_name eq "FLYBASE" ) {
            my $url = "$flybase_base_url$id.html";
            $s .= alink( $url, "$dbId" );
            $s .= "; ";
        } elsif ( $db_name eq "HGNC" ) {
            my $url = "$hgnc_base_url$id";
            $s .= alink( $url, "$dbId" );
            $s .= "; ";
        } elsif ( $db_name eq "MGI" ) {
            my $url = "$mgi_base_url$id";
            $s .= alink( $url, "$dbId" );
            $s .= "; ";
        } elsif ( $db_name eq "RGD" ) {
            my $url = "$rgd_base_url$id";
            $s .= alink( $url, "$dbId" );
            $s .= "; ";
        } elsif ( $db_name eq "gene_oid" ) {
            my $sql2 = qq{
               select tx2.taxon_display_name
               from gene g2, taxon tx2
               where g2.gene_oid = ?
               and g2.taxon = tx2.taxon_oid
            };
            my $cur2 = execSql( $dbh, $sql2, $verbose, $id );
            my ($pr_taxon_display_name) = $cur2->fetchrow();
            my $x = " [[proxy from $pr_taxon_display_name]]";

            #$cur2->finish();
            my $url = "$main_cgi?section=GeneDetail&page=geneDetail";
            $url .= "&gene_oid=$id";
            $s .= alink( $url, $id ) . "$x; ";
        } elsif ( $db_name eq "read_id" ) {
            $s .= "$id; ";
        } elsif ( $custom_url =~ /^http/ ) {
            $s .= alink( $custom_url, $id ) . "; ";
        }
    }
    chop $s;
    chop $s;
    print "$s\n";
 -->




[%	class_name = 'gene-fn-list'; %]
	<div class="infoBox">
		<div class="infoBoxTitle"><h4>Protein Functional Annotations <div class="noteToSelf"> Dummy Links...</div></h4></div>




	<table class="lined">
		<caption>Protein Functional Annotations</caption>
<!-- CyCOGs -->
	<tbody>
	<tr class="[% class_name %]__trow">
	<td class="[% class_name %]__tcell--title">CyCOGs</td>
	<td class="[% class_name %]__tcell--list">
[%
	IF self.gene_cycog_groups AND self.gene_cycog_groups.size > 0;
		arr = self.gene_cycog_groups;
		WRAPPER list_container;
			FOR fn IN arr;

				WRAPPER list_item;
				PROCESS 'inc/function/cycog.tt';
				END; # end wrapper list_item

			END; # end FOR fn IN arr
		END; # end wrapper list_container
	END; # end IF self.gene_cycog_groups %]
	</td></tr>
[%	FOR xog IN [ 'cog', 'kog' ]; %]
	<tr class="[% class_name %]__trow">
	<td class="[% class_name %]__tcell--title">[% xog | upper %]</td>
	<td class="[% class_name %]__tcell--list">
[%		gxg = xog _ '_terms';
		IF self.$gxg AND self.$gxg.size > 0;
			arr = self.$gxg;
			class_suffix = xog;
			WRAPPER list_container;
				FOR fn IN arr;

					WRAPPER list_item;
					PROCESS 'inc/function/xog.tt';
					END; # end wrapper list__item

				END; # end FOR fn IN arr
			END; # end wrapper list__container
		END; # end IF self.$gxg %]
	</td></tr>
[%	END; # end for xog

# COG
# gene_cog_groups.cog
# {	db => 'cog',
# 	xref => cog.cog_id,
# 	link_text => cog.cog_id,
# 	post_text => cog.cog_name _ ', ' _ cog.description
# }
#
# # KOG
# # gene_kog_groups.kog
# {	db => 'kog',
# 	xref => kog.kog_id,
# 	link_text => kog.kog_id,
# 	post_text => kog.kog_name _ ', ' _ kog.kog_description
# }

%]
		<td>Enzyme</td>
		<td> <a>EC:2.7.7.7</a>: DNA-directed DNA polymerase </td></tr>
[%#
#GENE_ENZYMES.enzymes
#{	db => 'enzyme',
#	xref => ec_number,
#	link => enzyme.ec_number,
#	post_test => enzyme.enzyme_name
#}


%]
		<tr><td>Pfam</td>
			<td>
				<a>pfam00712</a>: DNA_pol3_beta <br>
				<a>pfam02767</a>: DNA_pol3_beta_2 <br>
				<a>pfam02768</a>: DNA_pol3_beta_3 <br>
			</td>
		</tr>
[%
# arr = {
# 	db => 'tigrfam',
# 	xref => tigrfam.ext_accession,
# 	link_text => tigrfam.ext_accession,
# 	post_text => tigrfam.expanded_name
# };

# gene_tigrfams.ext_accession
# tigrfam.expanded_name
%]
		<tr><td>TIGRfam</td>
			<td>
				<a>TIGR00663</a>:  DNA polymerase III, beta subunit<br>
			</td>
		</tr>
[%

# gene.gene_img_interpro_hits
%]
		<tr><td>InterPro</td>
			<td>
				<a>IPR001001</a>:  DNA polymerase III, beta chain (SMART SM00480)<br>
				<a>IPR022634</a>:  DNA polymerase III, beta chain, N-terminal (Pfam PF00712)<br>
				<a>IPR022635</a>:  DNA polymerase III, beta chain, C-terminal (Pfam PF02768)<br>
				<a>IPR022637</a>:  DNA polymerase III, beta chain, central (Pfam PF02767)<br>
				<a>IPR024693</a>:  DNA polymerase III beta, domain (Gene3D G3DSA:3.10.150.10)<br>
			</td>
		</tr>
		<tr><td>GO Terms</td>
		<td>

[%
	IF self.go_terms;
		class_suffix = 'go_term';
		WRAPPER list_container;
			FOR fn IN self.go_terms;

				WRAPPER list_item;
				PROCESS 'inc/function/go_term.tt';
				END; # end wrapper list_item

			END;
		END; # end wrapper list_container

	END;


# {	gene_xref_families:
#   "GENE_OID" TEXT,
#   "DB_NAME" TEXT,
#   "ID" TEXT,
#   "DESCRIPTION" TEXT,
#   "XREF" TEXT,
#   "TAXON" TEXT,
#   "SCAFFOLD" TEXT

%]
		</td></tr>
		<tr><td>PANTHER</td>
			<td>
				<a>PTHR30478</a> <br>
			</td>
		</tr>


		<tr><td>Superfamily</td>
			<td>
				<a>SSF55979</a>:  DNA clamp<br>
			</td>
		</tr>
[%
# gene_seed_names
# {	db => 'seed',
# 	xref => product_name,??
# 	link_text => gene_seed_names.product_name,
# 	post_text => gene_seed_names.source _ ' ' _ gene_seed_names.subsystem
# }

%]
		<tr><td>SEED</td> 	<td> [DNA polymerase III beta subunit (EC 2.7.7.7)]   fig|167555.5.peg.1   </td></tr>
[%	# PROCESS 'inc/function/img_term.tt' %]
		<tr><td>IMG Term</td> <td> DNA polymerase III, beta subunit (EC 2.7.7.7) (IMG_PIPELINE 2015-09-04)</td></tr>

		</tbody>
		</table>

	</div> <!-- infoBox -->


</div> <!-- row -->

<div class="row">

<h3>Pathway Annotations</h3>





	<div class="infoBox">
	<div class="infoBoxTitle"><h4>Pathway Annotations <div class="noteToSelf"> Dummy Links...</div></h4></div>
		<table class="lined">

[%

# ko_term
# 	IF self.gene_ko_terms;
#
# 		class_suffix = 'ko_term'
# 		WRAPPER list_container;
# 			FOR fn IN self.gene_ko_terms;
#
# 				WRAPPER list_item;
# 				PROCESS 'inc/function/ko_term.tt';
# 				END; # end wrapper list__item
#
# 			END;
# 		END; # end wrapper list__container
#
# 	END;
%]
		<tr><td class="col1">KEGG Orthology</td>
			<td> <a>KO:K02338</a>: DPO3B, dnaN DNA polymerase III subunit beta [EC:2.7.7.7] </td></tr>
		<tr><td>KEGG Pathways</td>
			<td>
				<a>DNA replication</a><br>
				<a>Homologous recombination</a><br>
				<a>Mismatch repair</a><br>
				<a>Purine metabolism</a><br>
				<a>Pyrimidine metabolism</a><br>
			</td>
		</tr>
		<tr><td>KEGG Modules</td>
			<td>
				<a>DNA polymerase III complex, bacteria</a><br>
			</td>
		</tr>
		<tr><td>MetaCyc Pathways</td>
			<td>

			</td>
		</tr>
		<tr><td>IMG Pathways</td>
			<td>
				<a>Bacterial replication sliding clamp</a> (not asserted)<br>
				<a>Leading strand DNA replication</a> (not asserted)
			</td>
		</tr>

		</table>
	</div> <!-- infobox -->

	<div class="infoBox">
	<div class="infoBoxTitle"><h4>Gene Sequence</h4></div>

		<div class="nav_tabs nav_tabs_minimal">
			<input type="radio" name="seqData" id="tab1_seqData" checked >
			<label for="tab1_seqData">DNA</label>

			<input type="radio" name="seqData" id="tab2_seqData">
			<label for="tab2_seqData">Amino Acid</label>


			<div id="tabContent1_seqData" class="tabContent">
				<!-- <h4> DNA </h4> -->
				<div class="textDisplay">
				<code> <span style="color: blue">>640083263 DNA polymerase III, beta subunit (EC 2.7.7.7) [Prochlorococcus marinus str. NATL1A: NC_008819] (+)strand</span>
				ATGAAATTAAATTGTTCTCAATCTGAATTAAATAATGCTCTTCAATTGGT
				TAGTAGAGCTGTTTCTAATCGACCGACGCACCCTGTATTAGCTAATGTTT
				TGCTCGCTGCTGATGAGGTAACTGGAAAACTTCGCCTAACTGGTTTTGAC
				TTAAGTTTAGGAATACAAACTTCAATATCTGCTTCTATAGAGAGCAGTGG
				TGCCATAACTTTGCCTGCTAAGTTATTTGGTGAAATTGTTTCGAAATTAT
				CTAACGACTCACCTCTAGTTCTGACATCAGATGAAACTAGTCAACAAGTC
				GAGTTGACTAGTAAAAGTGGAACGTATCAAGTAAGAGGGATGGTGTCTGA
				TGATTTTCCTGATTTACCTTTGGTAGAAAGCGGTAATTCATTTAAATTGA
				ATCCATTATTATTATCTAATGCAATTAAATCAACTTTATTTGCAAGCAGT
				ACTGATGAGGCTAAACAATTACTTACTGGTGTTAATCTTACTTTTGACGG
				ATATGGGATTGAATCTGCAGCAACTGACGGACATAGATTAGCTGTTCTTA
				ATTTAAATAATATATTATCTGATTCAAAAGAGATAGATAGTTCTACTAAA
				TTCGAAAAATTTTCTATTACATTACCTTCCAAATCTTTAAGAGAAGTGGA
				AAAATTTTTAAGTACTTGTGATATTAGTCAGCCAATTAATTTTTTTGTTG
				ATAAAGGACAAGTAGTTTTTATATCAGTAGAAGATATTATAACTATAAGA
				GCTTTAGAAGGTTCTTATCCAAATTATTCGCAATTATTACCTGATACTTT
				TGAAAATGAATTAGAGTTTGATAGGAAAGAATTTATATCTTCATTAGAAC
				GAATTGCTGTTTTAGCAGATCAGCATAATAATGTTATAAAGGTAACGACT
				GACGGCTCTGCAAATTTAATCAAAATTAGTACGGATGCCCAAGATATTGG
				AACAGGTTATGAGTCACTACCTGTCTCTTATAAAGGGGATTCATTTCAAA
				TAGCATTTAATGTTAGATATTTATTAGATGGACTTAAAGTCATAGATTCA
				AACTTGATTAAATTAAGTTGTAATTCTCCAACTACACCTGCGGTTTTCTC
				ACCTATTAATAGTGACGTTAATTTCACTTATCTAGTAATGCCCATACAAA
				TACGAAATTAA
				</code>
				</div>
			</div>

			<div id="tabContent2_seqData" class="tabContent">
				<div class="textDisplay">
				<code> <span style="color: blue">>640083263 YP_001013829 DNA polymerase III, beta subunit (EC 2.7.7.7) [Prochlorococcus marinus str. NATL1A: NC_008819]</span>
				[% self.aa_residue %]
				</code>
				</div>
			</div>

		</div>

	</div> <!-- infoBox -->

</div>	<!-- row -->



[%	END %]





