[%	WRAPPER 'inc/page_wrapper.tt';
	title = self.display_name;
	self = results.taxon;

	PROCESS 'inc/generic/container_macros.tt';
	PROCESS 'inc/generic/attr_value_table.tt';
	PROCESS 'inc/generic/labels.tt';

	BLOCK nat_iso_info;

		iso_data = {
			obj => self,
			class => 'taxon_isolation_details',
			arr => [
				'proport_isolation',
				'latlong',
				'depth',
				'geo_location',
				'proport_ocean',
				'longhurst',
				'date_collected'
			]
		};
		attr_value_dl( iso_data );

		eco_data = {
			caption => 'Ecosystem Hierarchy',
			class => 'taxon_ecosystem',
			obj => self,
			arr =>
			[	'ecosystem',
				'ecosystem_category',
				'ecosystem_type',
				'ecosystem_subtype',
				'specific_ecosystem'
			]
		};
		attr_value_dl( eco_data );

		IF self.ecosystem == 'Host-associated';

			eco_extras = {
				caption => 'Host species',
				class => 'taxon_host',
				obj => self,
				arr => [
					'host_name',
					[ 'host_gender', 1],
					[ 'host_ncbi_taxid', 1 ]
				]
			};
			attr_value_dl( eco_extras );

		END;


	END; # end block nat_iso_info


	BLOCK gene_counts;

	cats = [ 'protein_coding', 'with_function', 'without_function', 'fused', 'signalp', 'transmembrane', 'rna', 'rrna', '5s_rrna', '16s_rrna', '23s_rrna', 'trna', 'xrna', 'pseudogene' ];

	cat_count = {
		protein_coding => 'cds_genes',
		with_function => 'genes_w_func_pred',
		without_function => 'without_function',
		fused => 'fused_genes',
		signalp => 'genes_signalp',
		transmembrane => 'genes_transmembrane',
		rna => 'rna_genes',
		rrna => 'rrna_genes',
		'5s_rrna'  => 'rrna5s_genes',
		'16s_rrna' => 'rrna16s_genes',
		'23s_rrna' => 'rrna23s_genes',
		trna => 'trna_genes',
		xrna => 'other_rna_genes',
		pseudogene => 'pseudo_genes'
	};

	%]

<table class="condensed">
	<tbody>
	<tr class="taxon-gene-list__row--total">
	<td class="taxon-gene-list__attr--total">Total Genes</td>
	<td class="taxon-gene-list__val"><a href="[% link( 'list', { domain => 'gene', taxon_oid => self.taxon_oid } ) %]">[% self.taxon_stats.total_gene_count %]</a></td></tr>
[%

	FOR c IN cats; %]
<tr class="taxon-gene-list__row--[% c %]">
	<td class="taxon-gene-list__attr--[% c %]">[% data_filters.full_schema.category.enum_map.$c %]</td>
	<td class="taxon-gene-list__val">
	[%	IF self.taxon_stats.${cat_count.$c} && self.taxon_stats.${cat_count.$c} > 0; %]
		<a href="[% link( 'list', { domain = 'gene', taxon_oid => self.taxon_oid, category => c } ) %]">[% self.taxon_stats.${cat_count.$c} %]</a>
	[%	ELSE;
			'0';
		END; %]
	</td>
</tr>
[%	END %]
<tr><td>Chromosomal cassettes</td>
<td class="taxon-gene-list__val"><!-- a href="[% link( 'chr_cassette_genes', { taxon_oid => self.taxon_oid } ) %]"-->[% self.taxon_stats.total_cassettes %]</td></tr>
<tr><td>Genes in chromosomal cassettes</td>
<td class="taxon-gene-list__val"><!-- a href="[% link( 'list', { domain => 'gene', taxon_oid => self.taxon_oid, category => 'cassette' } ) %]" -->[% self.taxon_stats.genes_in_cassettes %]
</td></tr>

	<tr>
	<td class="taxon-gene-list__attr--[% c %]">Biosynthetic clusters</td>
	<td class="taxon-gene-list__val"><!-- a href="[% link( 'biosyn_cluster_genes', { taxon_oid => self.taxon_oid } ) %]" -->[% self.taxon_stats.total_biosynthetic %]<!-- /a --></td></tr>
	<tr>
	<td class="taxon-gene-list__attr--[% c %]">Genes in biosynthetic clusters</td>
	<td class="taxon-gene-list__val"><a href="[% link( 'list', { domain => 'gene', taxon_oid => self.taxon_oid, category => 'biosynthetic_cluster' } ) %]">[% self.taxon_stats.genes_in_biosynthetic %]</a></td></tr>
</tbody>
</table>

[%	END; # end block genes

	BLOCK environment;

		IF self.has_woa_measurements;
			woa_fields = {
				caption => 'World Ocean Atlas Averages',
				class => 'taxon_woa_data',
				obj => self,
				prefix => 'proport_woa_',
				with_units => 1,
				prefix_arr => self.woa_measurements
			};
			attr_value_dl( woa_fields );
		END;

		IF self.has_direct_measurements;
			env_meas = {
				caption => 'Direct Measurements',
				class => 'taxon_direct_measurements',
				obj => self,
				with_units => 1,
				arr => self.direct_measurements
			};
			attr_value_dl( env_meas );
		END;

	END; # end block environment

	BLOCK phyl_info;

		IF self.genome_type == 'isolate';

			taxon_disp_name = {
				obj => self,
				class => 'taxon_display_name',
				arr => [ 'taxon_display_name' ]
			};
			attr_value_dl( taxon_disp_name );

			clade_eco = {
				obj => self,
				class => 'taxon_clade_ecotype',
				arr =>
				[	'strain',
					'clade',
					'ecotype'
				]
			};
			attr_value_dl( clade_eco );

			ncbi_tax = {
				caption => 'NCBI Taxonomy',
				class => 'taxon_ncbi_taxonomy',
				obj => self,
				prefix_arr => [ 'kingdom', 'order', 'phylum', 'class', 'family', 'genus', 'species' ],
				prefix => 'ncbi_'
			};

			attr_value_dl( ncbi_tax );

		END; # end if self.genome_type == 'isolate'

	END; # end block phyl_info

	BLOCK id_ext_links;

		basic_data = {
			obj => self,
			arr => [
				'taxon_oid',
				'project_status'
			]
		};
		attr_value_dl( basic_data );
%]

		<h6 class="tableTitle">GOLD Details</h6>
		[%	gold_details = {
				obj => self,
				arr => [
					'study_gold_id',
					'gold_id',
					'analysis_project_id'
				]
			};
		%]
		<dl class="tabular">
[%			FOR e IN gold_details.arr; %]
			<dt>[% labeller( e ) %]</dt>
			<dd>[%
				IF self.$e;
					linker( e, self );
				END; %]
			</dd>
[%			END; %]
		</dl>


		<dl class="tabular">
			<dt>Study ID</dt>
			<dd>[%	IF self.study_gold_id %]
					<a rel="external" href="[% ext_link('gold_base_url_study') %][% self.study_gold_id %]">[% self.study_gold_id %]</a>
					[%	END %]
			</dd>
			<dt>Sequencing Project ID</dt>
			<dd>
				<a rel="external" href="[% ext_link('gold_base_url_project') %][% self.gold_id %]">[% self.gold_id %]</a>
			</dd>
			<dt>Analysis Project ID</dt>
			<dd>[% IF self.analysis_project_id %]
				<a rel="external" href="[% ext_link('gold_base_url_analysis') %][% self.analysis_project_id %]">[% self.analysis_project_id %]</a>
				[%	END; %]
			</dd>
		</dl>

		<h6 class="tableTitle">External Links</h6>
		<dl class="tabular">
			[%	ext_urls = [
				'bioproject_accession',
				'biosample_accession',
				'ncbi_taxon_id',
				'ncbi_project_id',
			];
			FOR e in ext_urls; %]
			<dt>[% labeller( e ) %]</dt><dd>[%
				IF self.$e;
					IF results.label_data.$e && results.label_data.$e.ext_link;
						link_url = results.label_data.$e.ext_link;
						%]
						<a rel="external" href="[% ext_link( results.label_data.$e.ext_link ) %][% self.$e %]">[% self.$e %]</a>
				[%	ELSE;
						self.$e;
					END;
				END; %]
			</dd>
[%			END;
			IF self.taxon_ext_links && self.taxon_ext_links.size > 0;
				FOR e IN self.taxon_ext_links; %]
			<dt>[% e.db_name %]</dt><dd>[%
					IF e.custom_url; %]
	<a rel="external" href="[% e.custom_url %]">[% e.db_name %]:[% e.id %]</a>
[%					ELSE;
					external_link({ db => e.db_name, xref => e.id });
					END;
				END;
			END %]
			<dt>Genome publications</dt>
[%			IF self.gold_sp_genome_publications.size > 0;
				FOR p IN self.gold_sp_genome_publications %]
				<dd>"[% p.title %]" in [% p.journal_name %][%
					IF p.publication_date; " " _ p.publication_date; END;
					IF p.volume; " volume " _ p.volume; END;
					IF p.issue; " issue " _ p.issue; END;
					IF p.page; " pages " _ p.page; END;

					IF p.pubmed_id; %]
						<a href="[% ext_link('pubmed') %][% p.pubmed_id %]" rel="external">PMID:[% p.pubmed_id %]</a>
		[% 			END;

					IF p.doi %]
						<a href="[% ext_link('doi') %][% p.doi %]" rel="external">doi:[% p.doi %]</a>
					[% END;
				'</dd>';
				END; # end FOR loop
			ELSE; %]
			<dd>none</dd>
[%			END; %]
		</dl>

[%	END; # end block id_ext_links


	BLOCK seq_info;

		culture_type = {
			obj => self,
			arr =>
			[	'cultured',
				'culture_type',
				'uncultured_type',
				'seq_quality',
				'is_public'
			]
		};

		attr_value_dl( culture_type );
%]
		<h6 class="tableTitle">Sequencing Details</h6>
		<dl class="tabular">
			<dt>Sequencing Status</dt>
			<dd>[% self.seq_status || 'Not specified' %]</dd>
			<dt>Sequencing Center</dt>[%
		IF self.gold_sp_seq_centers.size > 0;
			FOR sc IN self.gold_sp_seq_centers;
			%]<dd>[%
				IF sc.url; %]<a href="[% sc.url %]" rel="external">[% sc.name %]</a>[%
				ELSE; sc.name;
				END;
				IF sc.country; ', ' _ sc.country; END; %]</dd>[%
			END;
		ELSE;
			%]<dd>Not specified</dd>[%
		END; %]
			<dt>Sequencing Method</dt>[%
			IF self.gold_sp_seq_methods.size > 0;
				FOR m IN self.gold_sp_seq_methods;
				%]<dd>[% m.seq_method %]</dd>[%
				END;
			ELSE;
		%]<dd>Not specified</dd>[%
			END; %]
		</dl>
[%
		cur_deets = {
			obj => self,
			caption => 'Curation Details',
			arr =>
			[	'submission_type',
				'img_version',
				'release_date',
				'add_date',
				[ 'mod_date', 1 ],
				'distmatrix_date'
			]
		};
		attr_value_dl( cur_deets );

		IF self.scaffolds && self.scaffolds.size > 0; %]
		<h6 class="tableTitle">Scaffolds</h6>
		<ul>
[%			FOR s IN self.scaffolds; %]
				<li>[% scaffold_name_link ( {}, s ) %]</li>
[%			END; %]
		</ul>
[%		END; %]
		</ul>
[%	END; # end block seq_info

	## PAGE LAYOUT

	PROCESS 'inc/title/taxon.tt';

	titles = {
		nat_iso_info => 'Natural Isolation Information',
		gene_counts => 'Genes',
		environment => 'Environmental Measures',
		phyl_info => 'Phylogenetic Information',
		id_ext_links => 'Identification and External Links',
		seq_info => 'Sequence Information'
	};

	include_block = {
		nat_iso_info => 1,
		gene_counts => 1,
		environment => 1,
		phyl_info => 1,
		id_ext_links => 1,
		seq_info => 1
	};

	block_order = [ 'nat_iso_info', 'gene_counts', 'environment', 'phyl_info', 'id_ext_links', 'seq_info' ];

	IF self.genome_type == 'metagenome';
		include_block.phyl_info = 0;
	END;

	IF self.has_woa_measurements || self.has_direct_measurements;
		include_block.environment = 1;
	END;

	sections = [];
	FOR x IN block_order;
		IF include_block.$x == 1;
			sections.push( { id => x, title => titles.$x } );
		END;
	END;

	# page layout

	TRY;
		layout_page( sections );
	CATCH;
		error;
	END; %]

<p><a href="https://img.jgi.doe.gov/cgi-bin/m/main.cgi?section=TaxonDetail&page=taxonDetail&taxon_oid=[% self.taxon_oid %]">IMG original</a></p>

[%	END; # end wrapper %]
