[%	# CyCOGs

	PROCESS 'inc/generic/link.tt';
	# gene_cycog_groups.cycog_oid = cycog.cycog_oid


	function_link( x = { db => 'cycog', xref => fn.id, text => 'CyCOG:' _ fn.id } );
	': ' _ fn.description;

%]
