[%	# Enzymes
	# gene.gene_enzymes
	# gene_ko_enzymes.enzymes = enzyme.ec_number

	PROCESS 'inc/generic/link.tt';

# GENE_ENZYMES.enzymes
# {	db => 'enzyme',
# 	xref => ec_number,
# 	link => enzyme.ec_number,
# 	post_test => enzyme.enzyme_name
# }

	function_link( x = { db => 'enzyme', xref => enzyme.ec_number, text => enzyme.ec_number } ) _ ': ' _ enzyme.enzyme_name;

%]
