[%	# GO Terms
	# gene.gene_go_terms
	# gene_go_terms.go_id = go_term.go_id

	PROCESS 'inc/generic/link.tt';

# 	TODO: need to grep out the molecular function terms

	function_link( x = { db => 'go_term', xref => fn.go_id, text => fn.go_id } ) _ ': ' _ fn.go_term;
	IF fn.go_evidence != '';
		' [evidence:' _ fn.go_evidence _ ', ref: ' _ fn.reference _ ']';
	END;
%]
