[%	# SEED
	PROCESS 'inc/generic/link.tt';
	x = {
		text => 'SEED:' _ fn.source,
		xref => fn.source,
		db => 'SEED'
	};
	TRY;
		external_link( x );
	CATCH;
		USE Dumper( Indent => 1 );
		'<pre>link error: ' _ Dumper.dump( x ) _ '</pre>';
		error;
	END;

	': ' _ ( fn.product_name || 'N/A' ) _', ' _ fn.subsystem;

%]
