[%
	WRAPPER 'inc/page_wrapper.tt';
	title = 'News';
%]

<div class="cf">
<h2 class="underline">News</h2>
	<br>
	<a class="twitter-timeline" href="https://twitter.com/IMG_ProPortal">Tweets by IMG ProPortal</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>
[%	END; %]
