/** other useful colours */
.primary-colour-bg {
  background: #648caa; }

.secondary-colour-bg {
  background: #d3691b; }

/**
	swatches for patternlab
*/
.jgi-palette .swatch--black {
  background: #343434; }
.jgi-palette .swatch--dk_grey {
  background: #5a5a5a; }
.jgi-palette .swatch--midgrey {
  background: #919090; }
.jgi-palette .swatch--reddish {
  background: #d3691b; }
.jgi-palette .swatch--dk_blue {
  background: #648caa; }
.jgi-palette .swatch--green {
  background: #99bd3c; }
.jgi-palette .swatch--lite_or {
  background: #fdba57; }
.jgi-palette .swatch--primary {
  background: #648caa; }
.jgi-palette .swatch--secondary {
  background: #d3691b; }
.jgi-palette .swatch--valid {
  background: #99bd3c; }
.jgi-palette .swatch--error {
  background: #d3080c; }
.jgi-palette .swatch--warning {
  background: #fdba57; }
.jgi-palette .swatch--info {
  background: #a6bdce; }

.centre-hv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.typeface-page-text {
  font-family: "Karla", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

.typeface-display {
  font-family: "Myriad Pro", "Open Sans", "Lucida Sans", "Lucida Grande", sans-serif; }

.typeface-fixed-width {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", Monaco, monospace; }

/*
60rem: narrower
80rem: full width nav


*/
/* css reset plus some sensible default styling. */
*, *:after, *:before {
  box-sizing: border-box; }

/* BASE */
html {
  height: 100%;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent; }

body {
  min-height: 100%;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font: 1rem / 1.5 "Karla", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #444;
  background-color: #fff; }

html, body,
address, article, aside, footer, header, hgroup, nav, section,
p, blockquote, pre, div,
dl, dt, dd, ol, ul, li,
figcaption, figure, main,
abbr, cite, dfn, em, q, s, small, span, strong, time, var,
code, kbd, samp,
b, u, i,
del, ins, mark,
sub, sup,
table, caption, col, colgroup, tbody, tfoot, thead, tr, th, td,
img,
embed, iframe, object, audio, video,
a, map, area,
fieldset, form, label, legend, meter, progress,
details, summary,
canvas, template
 {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

button, input, optgroup, select, textarea {
  padding: 0;
  vertical-align: baseline; }

html, body,
address, article, aside, footer, header, hgroup, nav, section,
p, blockquote, pre, div,
dl, dt, dd, ol, ul,
figcaption, figure, main,
table, caption, col, colgroup, tbody, tfoot, thead, tr, th, td,
img,
embed, iframe, object, audio, video,
fieldset, form, label, legend,
input, textarea,
details, summary,
canvas, template {
  /*    font-size: $font-size; */
  line-height: 1.5rem; }

html, body {
  font-size: 1rem; }

img {
  max-width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

/* CODE */
pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

pre, code, kbd, samp {
  font: 1rem / 1.5 Menlo, Consolas, "DejaVu Sans Mono", Monaco, monospace; }

p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, menu, details, summary {
  margin: 0 0 1.5rem; }

/* TABLES */
table {
  border-width: 0;
  margin-bottom: 1.5rem;
  empty-cells: show; }

th, td {
  padding: 0 0.75rem;
  border-bottom: 0 solid; }

th {
  padding: 0.75rem;
  text-align: center;
  font-weight: bold; }

/* QUOTES */
blockquote {
  quotes: none; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

blockquote, q, cite {
  font-style: italic; }

blockquote {
  padding-left: 1.5rem;
  border-left: 0.25em solid #666; }

blockquote > p {
  padding: 0; }

/* LISTS */
ul {
  list-style: square outside; }

ol {
  list-style: decimal outside; }

ul, ol {
  margin: 0 0 1.5rem 2rem; }

li ul, li ol {
  margin-bottom: 0; }

.noDot, nav ul {
  list-style: none;
  margin: 0; }

dd + dt, dt + dt {
  margin-top: 1.5rem; }

/* ABBREVIATION */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #444;
  cursor: help; }

/* MARKED/INSERTED/DELETED AND SELECTED TEXT */
ins, mark {
  text-decoration: none; }

ins {
  background: deepskyblue; }

del {
  text-decoration: line-through; }

/* selected text */
::selection, ::-moz-selection {
  background: #444;
  color: #04A4CC;
  text-shadow: none; }

/* OTHERS */
strong, b, dt {
  font-weight: bold; }

var, address {
  font-style: normal; }

/* Best available ampersand */
.amp {
  font-family: Adobe Caslon Pro,Baskerville,"Goudy Old Style","Palatino","Palatino Linotype","Book Antiqua",Georgia,"Times New Roman",Times,serif;
  font-style: italic;
  font-size: 110%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* modules/typo */
h1, h2, h3, h4, h5, h6, caption, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Myriad Pro", "Open Sans", "Lucida Sans", "Lucida Grande", sans-serif;
  padding: 0;
  margin: 0; }

/** "Golden rhythm" font sizes
$h1-font-size: 4.25rem; // 68px
$h1-lines: 3;
$h1-line-height: $line-ht * $h1-lines;

$h2-font-size: 2.625rem;	// 42px
$h2-lines: 2;
$h2-line-height: $line-ht * $h2-lines;

$h3-font-size: 1.625rem;	// 26px
$h3-lines: 2;
$h3-line-height: $line-ht * $h3-lines;

$h4-font-size: 1.25rem; 	// 20px
$h4-lines: 1;
$h4-line-height: $line-ht * $h4-lines;
*/
h1 {
  font-size: 3rem;
  line-height: 1;
  text-align: center; }

h2, .h2 {
  font-size: 2.25rem;
  line-height: 3rem; }

h3, .h3 {
  font-size: 1.75rem;
  line-height: 3rem; }

h4, caption, .h4 {
  font-size: 1.5rem;
  line-height: 3rem; }

h5, .h5 {
  font-size: 1.3333333333rem;
  line-height: 1.5rem; }

h6, .h6 {
  font-size: 1.125rem;
  line-height: 1.5rem; }

small, .small, pre.debug {
  font-size: .75rem;
  line-height: 1.5rem; }

.underline {
  border-bottom: 1px solid silver; }

/* standard text size is 16px */
/**
@media only screen and (max-width: 479px) {
	h1 { @include adjust-font-size-to(36px); }
	h2 { @include adjust-font-size-to(30px); }
	h3 { @include adjust-font-size-to(24px); }
	h4 { @include adjust-font-size-to(22px); }
	h5 { @include adjust-font-size-to(20px); }
	h6 { @include adjust-font-size-to(18px); }
}
*/
/* partials/utils */
.floatR {
  float: right;
  padding: 0 0 0.75rem 0.75rem; }

.floatL {
  float: left;
  padding: 0 0.75rem 0.75rem 0; }

.L {
  text-align: left; }

.C {
  text-align: center; }

.R {
  text-align: right; }

.clearR {
  clear: right; }

.clearL {
  clear: left; }

.clear {
  clear: both; }

.ib {
  display: inline-block; }

.screen-reader {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.hide, .js_hide {
  display: none; }

.cf {
  *zoom: 1; }
  .cf:before, .cf:after {
    content: " ";
    display: table; }
  .cf:after {
    clear: both; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* partials/wrapper */
.wrapper {
  max-width: 90rem;
  padding: 0 0.75rem;
  margin: 0 auto; }

/* partials/layout */
article {
  *zoom: 1;
  clear: both; }
  article:before, article:after {
    content: " ";
    display: table; }
  article:after {
    clear: both; }

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -10px;
  margin-bottom: 10px; }
  .row .row:last-child {
    margin-bottom: 0; }
  .row [class*="col-"] {
    padding: 10px;
    width: 100%; }

#pageHeader {
  display: table;
  padding: 0 10px;
  margin-top: 20px;
  width: 100%; }

#main {
  padding: 0 10px;
  margin-top: 20px;
  width: 100%; }

@media only screen and (max-width: 479px) {
  #about, #user-guide, #news, .content, #tool-input__section, #tool-info__section {
    width: 100%;
    padding: 0; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #about {
    width: 100%; }

  #user-guide, #news, #tool-input__section, #tool-info__section {
    width: 50%;
    float: left; } }
@media only screen and (min-width: 768px) {
  .content {
    width: 80%;
    float: right;
    padding: 1.5rem 0.75rem; }

  .content.full {
    width: 100%; }

  .sidebar {
    width: 20%;
    float: left; }

  .footer {
    clear: both; }

  #about, #user-guide, #news {
    width: 33.3%;
    padding: 0;
    float: left;
    padding: 0 0.75rem; }

  #primary, .page-intro {
    float: left;
    width: 66.6%;
    padding: 0 0.75rem;
    margin-bottom: 1.5rem; }

  #info, .filters {
    width: 33.3%;
    float: right;
    padding-left: 0.75rem;
    margin-bottom: 1.5rem; }

  #tool-input__section, #tool-info__section {
    float: left;
    width: 50%;
    padding: 0 0.75rem;
    margin-bottom: 1.5rem; } }
/* partials/headers */
.wrapper {
  position: relative; }

header {
  margin-bottom: 1.5rem; }

#jgi-logo {
  max-height: 70px;
  max-width: 480px; }

@media only screen and (min-width: 768px) {
  #jgi-logo {
    float: left; }

  #jgi-nav, .user-links {
    margin-left: 530px; } }
.user-links {
  float: right;
  margin-top: 3rem; }

.user-links__item {
  display: inline-block; }

.user-links__item + .user-links__item {
  margin-left: 0.75rem; }

/* partials/footer */
.footer {
  clear: both;
  border-top: 0.25rem solid #648caa;
  padding-top: 0.75rem; }
  .footer ul {
    list-style: none;
    margin-left: 0; }
  .footer .img {
    padding: .5rem; }

.collab {
  margin: 0; }
  .collab__link {
    display: block;
    float: right;
    margin: 0 .5rem .5rem;
    background: url(../images/sprites.png) no-repeat;
    height: 30px; }
    .collab__link--text {
      font-size: .5rem;
      visibility: hidden; }
    .collab__link.logo-doe-sc {
      width: 175px;
      background-size: 403px auto;
      background-position: 0 0; }
      .collab__link.logo-doe-sc:hover, .collab__link.logo-doe-sc:focus, .collab__link.logo-doe-sc:active {
        background-position: 0 -37.5px; }
    .collab__link.logo-moore-fnd {
      width: 78px;
      background-size: 403px auto;
      background-position: -285px 0; }
      .collab__link.logo-moore-fnd:hover, .collab__link.logo-moore-fnd:focus, .collab__link.logo-moore-fnd:active {
        background-position: -285px -37.5px; }
    .collab__link.logo-mit {
      width: 56px;
      background-position: -750px 0; }
      .collab__link.logo-mit:hover, .collab__link.logo-mit:focus, .collab__link.logo-mit:active {
        background-position: -750px -30px; }
    .collab__link.logo-chisholm-lab {
      width: 199px;
      background-position: -360px 0; }
      .collab__link.logo-chisholm-lab:hover, .collab__link.logo-chisholm-lab:focus, .collab__link.logo-chisholm-lab:active {
        background-position: -360px -75px; }

/* partials/message */
/* Message box at the top of the page */
.site-message {
  margin: 1.5rem;
  padding: 1.25rem;
  border: 0.25rem solid #d3080c; }
  .site-message__p {
    margin-bottom: 0; }

/* FORMS */
form {
  overflow: auto; }

form ol, form ul {
  list-style: none;
  margin: 0; }

legend {
  padding-bottom: 1.5rem; }

input[type="select"], select {
  height: 1.5rem;
  border-width: 0;
  padding: 0; }

textarea {
  vertical-align: baseline;
  display: block;
  border: 1px solid #333; }

input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="tel"], input[type="url"] {
  font-size: inherit;
  padding: 0 .25rem; }

input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="tel"], input[type="url"], textarea {
  color: #ced5d9; }
  input[type="text"]:focus, input[type="text"]:active, input[type="email"]:focus, input[type="email"]:active, input[type="password"]:focus, input[type="password"]:active, input[type="search"]:focus, input[type="search"]:active, input[type="tel"]:focus, input[type="tel"]:active, input[type="url"]:focus, input[type="url"]:active, textarea:focus, textarea:active {
    color: #666; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  border: none;
  background: #d3691b;
  padding: 0 0.75rem;
  margin: 0.75rem 0;
  color: white;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 1.5rem; }

.test-button {
  padding: 10px 20px;
  font-size: 75%;
  border: 2px solid #d3691b; }

.test-button-outline {
  padding: 10px 20px;
  font-size: 75%;
  background: white;
  color: #d3691b;
  border: 2px solid #d3691b; }
  .test-button-outline:hover {
    color: #a65315;
    background: white;
    border: 2px solid #a65315; }

.nav-trigger {
  display: none; }

/* inline form */
.inline-form {
  display: inline-block;
  margin: 0; }

/* login form */
.login__fields {
  margin: 0; }

.login__label--name, .login__label--password {
  display: block;
  margin-bottom: 0.75rem; }

.login__input--name, .login__input--password {
  width: 100%;
  max-width: 20rem;
  display: block; }

.login__input--name, .login__input--password {
  margin-bottom: 1.5rem; }

.login__submit {
  display: block;
  padding: 0.75rem 1.5rem;
  margin: 0; }
  @media only screen and (max-width: 20rem) {
    .login__submit {
      width: 100%;
      max-width: 20rem;
      margin: 0 auto; } }
  @media only screen and (min-width: 20rem) {
    .login__submit {
      width: 10rem;
      margin-left: 5rem; } }

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0; }
  table th, table td {
    padding: 0.75rem;
    padding-left: 0;
    text-align: left; }
  table .clearStyle {
    border: 0; }

table.condensed td {
  padding: 6px 0px 6px 0px; }

table.lined td {
  border-bottom: 1px solid silver; }

.col1 {
  width: 200px; }

.subheader {
  margin-top: 10px; }

.indent1 {
  text-indent: 30px; }

.indent2 {
  text-indent: 60px; }

.indent3 {
  text-indent: 90px; }

div.tableTitle {
  width: 100%;
  padding: 30px 0 10px 0;
  margin-bottom: 6px;
  border-bottom: 1px solid silver; }

caption {
  text-align: left;
  padding: 0 0.75rem 0; }

thead tr {
  background-color: white; }

tbody tr:nth-child(even) {
  background-color: #fff; }

tbody tr:nth-child(odd) {
  background-color: white; }

/* partials/nav */
/** checkbox replacement

p > input[type=checkbox], p > input[type=radio] {
    position: absolute;
    left: 0;
    opacity: 0;
}
input[type=checkbox] + label, input[type=radio] + label {
    padding-left: 20px!important;
}

p:not(#foo) {
    > input + label {
        background: image-url('fancyCheckbox.png') 0 -1px no-repeat;
        height: 16px;
    }
    > input[type=radio] + label {
        background-position: 0 -161px;
    }
    // Checked styles
    > input[type=radio]:checked {
        + label {
            background-position: 0 -241px;
        }
        &:hover + label, &:focus + label, + label:hover{
            background-position: 0 -261px;
        }
    }
    > input[type=checkbox]:checked {
        + label {
            background-position: 0 -81px;
        }
        &:hover + label, &:focus + label, + label:hover{
            background-position: 0 -101px;
        }
    }
    // Hover & Focus styles
    > input[type=checkbox] {
        &:hover + label, &:focus + label, + label:hover{
            background-position: 0 -21px;
        }
    }
    > input[type=radio] {
        &:hover + label, &:focus + label, + label:hover{
            background-position: 0 -181px;
        }
    }
    // Active styles
    > input[type=checkbox]{
        &:active + label, + label:hover:active{
            background-position: 0 -41px;
        }
    }
    > input[type=radio]{
        &:active + label, + label:hover:active{
            background-position: 0 -201px;
        }
    }
    > input[type=checkbox]:checked {
        &:active + label, + label:hover:active{
            background-position: 0 -121px;
        }
    }
    > input[type=radio]:checked {
        &:active + label, + label:hover:active{
            background-position: 0 -281px;
        }
    }
    // Disabled styles
    > input[type=checkbox]:disabled{
        + label, &:hover + label, &:focus + label, + label:hover, + label:hover:active{
            background-position: 0 -61px;
        }
    }
    > input[type=radio]:disabled{
        + label, &:hover + label, &:focus + label, + label:hover, + label:hover:active{
            background-position: 0 -221px;
        }
    }
    > input[type=checkbox]:checked{
        &:disabled + label, &:hover:disabled + label, &:focus:disabled + label, &:disabled + label:hover, &:disabled + label:hover:active{
            background-position: 0 -141px;
        }
    }
    > input[type=radio]:checked{
        &:disabled + label, &:hover:disabled + label, &:focus:disabled + label, &:disabled + label:hover, &:disabled + label:hover:active{
            background-position: 0 -301px;
        }
    }
}
*/
.toggle-me, .sidebar {
  transition: max-height .5s; }

.content {
  transition: width .5s; }

.nav-toggle {
  display: none; }
  .nav-toggle ~ label {
    float: right;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../images/sprite.svg);
    background-size: 32px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik05Ljg5IDIxLjIybDYuMTEtNi4xMSA2LjExIDYuMTEgMS44OS0xLjg5LTgtOC04IDh6Ii8+PC9zdmc+"); }
  .nav-toggle:checked ~ label {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik05Ljg4NyAxMS42MTNsNi4xMTMgNi4xMTMgNi4xMTMtNi4xMTMgMS44ODcgMS44ODctOCA4LTgtOHoiLz48L3N2Zz4="); }
  .nav-toggle:checked ~ .toggle-me {
    max-height: 9999rem;
    overflow: visible; }

/* navigation layout */
/* --------------------------------------

			NAVIGATION TABS

-----------------------------------------

*** nav_tabs ***

The base style for nav_tabs.  Use together with (nav_tabs_std), nav_tabs_minimal 
and nav_tabs_pill to define the style of the tabs.

IMPORTANT! Using this class requires that you put some local style code onto the 
html page you are coding to prevent "cross-talk" between multiple instances of tab
groups.  See the following example for a tab group called "boxA":

INCLUDE THIS IN THE HTML HEAD:
	<style>
		#tab1_boxA:checked ~ #tabContent1_boxA,
		#tab2_boxA:checked ~ #tabContent2_boxA {
			display: block;
		}
	</style>	

HTML BODY CODE SNIPPET:
	<input type="radio" name="boxA" id="tab1_boxA" checked >
	<label for="tab1_boxA">Tab1</label>

	<input type="radio" name="boxA" id="tab2_boxA">
	<label for="tab2_boxA">Tab2</label>

	<div id="tabContent1_boxA" class="tabContent">
		<p> Tab1 content here. </p>
	</div>

	<div id="tabContent2_boxA" class="tabContent">
		<p> Tab1 content here. </p>
	</div>	

*/
.nav_tabs {
  float: none;
  list-style: none;
  position: relative;
  min-height: 200px;
  margin: 25px 0; }
  .nav_tabs > label {
    display: block;
    float: left;
    position: relative;
    padding: 10px 20px;
    margin-right: 10px;
    top: 1px;
    vertical-align: middle;
    line-height: 1.5rem;
    font-size: 14px;
    text-transform: uppercase;
    background: white;
    color: #5a5a5a;
    border-bottom: 2px solid transparent; }
    .nav_tabs > label:hover {
      color: black; }
  .nav_tabs > input[type=radio] {
    display: none; }
  .nav_tabs > .tabContent {
    display: none;
    width: 100%;
    float: left;
    border-top: 2px solid #5a5a5a;
    background: white;
    padding: 20px 0; }

.nav_tabs_std > label {
  color: #5a5a5a;
  border: 2px solid #5a5a5a;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }
.nav_tabs_std > [id^="tab"]:checked + label {
  border-bottom: 2px solid transparent; }

.nav_tabs_minimal > [id^="tab"]:checked + label {
  color: black;
  border-bottom: 4px solid black; }

.nav_tabs_pill > label {
  margin: 0 10px 10px 0; }
.nav_tabs_pill > [id^="tab"]:checked + label {
  background: #648caa;
  color: white;
  border-radius: 3px; }

/* partials/jgi-links */
.jgi-links {
  /* set bg while developing */
  background: #fff; }
  .jgi-links__item {
    display: block; }

/*
.menu__link--l1 {
	padding-left: $line-ht;
}
.menu__link--l2 {
	padding-left: $line-ht*2;
}
.menu__link--l3 {
	padding-left: $line-ht*3;
}
.menu__link--l4 {
	padding-left: $line-ht*4;
}
*/
.nav-toggle ~ .mart-list-menu {
  max-height: 0;
  overflow: hidden; }
.nav-toggle:checked ~ .mart-list-menu {
  max-height: 9999rem;
  overflow: visible; }

.mart-list__toggle {
  background-position: 50% 50%;
  background-size: 80%;
  /** width-sensitive! */
  width: 3rem; }

.header-search__input {
  margin-bottom: 0;
  width: 3rem; }
  .header-search__input:active, .header-search__input:focus {
    width: 20rem; }
.header-search__submit {
  padding: 0 0.75rem; }

.mart-list-menu__link {
  display: block;
  padding: 0.75rem 0.375rem;
  border: 0 solid transparent;
  border-width: 0 0.375rem;
  font-size: 1rem;
  background: #fff; }

/**

// is this needed???
@include minw( $med ) {
	.jgi-links {
		@include ht-max;
	}
}

*/
@media only screen and (max-width: 767px) {
  .jgi-links {
    position: static;
    max-height: 0;
    overflow: hidden; }
    .jgi-links__toggle, .jgi-links-menu__item,
    .jgi-links .mart-list__toggle, .jgi-links .mart-list-menu__item {
      display: block; }
    .jgi-links-menu__item,
    .jgi-links .mart-list-menu__item {
      border-top: 1px solid #95b1c5; }
    .jgi-links__toggle,
    .jgi-links .mart-list__toggle {
      padding: 0.75rem; }
    .jgi-links-menu__link,
    .jgi-links .mart-list-menu__link {
      width: 100%;
      display: block;
      padding: 0.75rem 0.375rem;
      border: 0 solid transparent;
      border-width: 0 0.375rem; }

  .horiz-global-toggle:checked ~ .jgi-links {
    max-height: 9999rem;
    overflow: visible; } }
@media only screen and (min-width: 768px) {
  .jgi-links {
    position: absolute;
    top: 0;
    right: 0.75rem;
    margin-top: 0.75rem; }
    .jgi-links__toggle {
      display: none; }
    .jgi-links-menu {
      padding: 0; }
      .jgi-links-menu__item {
        display: inline-block;
        text-transform: uppercase;
        list-style-type: none;
        font-size: .8rem;
        line-height: 1.5rem;
        color: #5a5a5a; }
        .jgi-links-menu__item a {
          color: #5a5a5a;
          text-decoration: underline; }
          .jgi-links-menu__item a:hover, .jgi-links-menu__item a:focus, .jgi-links-menu__item a:active {
            color: #fdba57;
            text-decoration: underline; }
        .jgi-links-menu__item + .jgi-links-menu__item {
          margin-left: 0.75rem; }

  .mart-list {
    position: relative; }
    .mart-list-menu.menu--l0 {
      max-height: 0;
      overflow: hidden;
      background: #fff;
      position: absolute;
      display: block;
      min-width: 12rem;
      right: 0;
      z-index: 2;
      padding: 0 0.75rem;
      text-transform: none; }
      .mart-list-menu.menu--l0__item {
        display: block;
        padding-left: 0;
        text-transform: none; }
    .mart-list-menu__item.menu__link--l1 {
      padding-left: 0.75rem; } }
/* partials/horiz-bar */
/* main IMG menu */
.horiz-bar {
  background: #648caa;
  margin: 0; }
  .horiz-bar-menu {
    background: inherit; }
    .horiz-bar-menu.menu--l1 {
      z-index: 2; }
    .horiz-bar-menu__item {
      border-top: 1px solid #95b1c5;
      background: inherit; }
      .horiz-bar-menu__item.parent.menu__item--l0 {
        background: linear-gradient(to right, #fdf6f0 0, #fdf6f0 0.375rem, #4e728d 0.375rem, #4e728d 100%); }
      .horiz-bar-menu__item.parent.menu__item--l1 {
        background: linear-gradient(to right, #f7d9c3 0, #f7d9c3 0.375rem, #4e728d 0.375rem, #4e728d 100%); }
      .horiz-bar-menu__item.parent.menu__item--l2 {
        background: linear-gradient(to right, #f2bd96 0, #f2bd96 0.375rem, #4e728d 0.375rem, #4e728d 100%); }
      .horiz-bar-menu__item.current {
        background: linear-gradient(to right, #e6843b 0, #e6843b 0.375rem, #4e728d 0.375rem, #4e728d 100%); }
    .horiz-bar-menu__link {
      /** width-sensitive! */
      display: block;
      padding: 0.75rem 0.375rem;
      border: 0 solid transparent;
      border-width: 0 0.375rem;
      color: #eee; }
      .horiz-bar-menu__link.menu__link--l1 {
        padding-left: 0.75rem; }
      .horiz-bar-menu__link.menu__link--l2 {
        padding-left: 1.5rem; }
      .horiz-bar-menu__link.menu__link--l3 {
        padding-left: 2.25rem; }
      .horiz-bar-menu__link.menu__link--l4 {
        padding-left: 3rem; }
      .horiz-bar-menu__link:link, .horiz-bar-menu__link:visited {
        color: #eee; }
      .horiz-bar-menu__link:hover, .horiz-bar-menu__link:focus, .horiz-bar-menu__link:active {
        color: #fff;
        background-color: #85a4bc;
        border-left-color: #d3691b; }
  .horiz-bar__toggle {
    background-position: 50% 50%;
    /** width-sensitive! */
    display: block;
    padding: 0.75rem 0.375rem;
    border: 0 solid transparent;
    border-width: 0 0.375rem;
    width: 3rem;
    /**	// Uncomment for link + label to share styling
    
    		&:hover + .horiz-bar-menu__link, &:focus + .horiz-bar-menu__link, &:active + .horiz-bar-menu__link {
    			color: $horiz-bar__link--hfa;
    			background-color: $horiz-bar__bg--hfa;
    			border-left-color: $horiz-bar__border--hfa;
    		}
    */ }
    .horiz-bar__toggle:hover, .horiz-bar__toggle:focus, .horiz-bar__toggle:active {
      color: #fff;
      background-color: #85a4bc; }
  .horiz-bar-toggle__container {
    text-align: center;
    background: inherit; }
  .horiz-bar-toggle__label {
    background-color: #648caa;
    display: block;
    padding: 0.75rem 0.375rem;
    border: 0 solid transparent;
    border-width: 0 0.375rem;
    background-repeat: no-repeat;
    background-image: url(../images/sprite.svg);
    background-size: 32px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik05Ljg4NyAxMS42MTNsNi4xMTMgNi4xMTMgNi4xMTMtNi4xMTMgMS44ODcgMS44ODctOCA4LTgtOHoiLz48L3N2Zz4=");
    background-position: 100% 50%;
    color: #eee; }
    .horiz-bar-toggle__label:hover, .horiz-bar-toggle__label:focus, .horiz-bar-toggle__label:active {
      color: #fff; }

.nav-trigger:checked ~ .horiz-bar-toggle__container .horiz-bar-toggle__label {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik05Ljg5IDIxLjIybDYuMTEtNi4xMSA2LjExIDYuMTEgMS44OS0xLjg5LTgtOC04IDh6Ii8+PC9zdmc+"); }

@media only screen and (min-width: 768px) {
  .horiz-global-toggle {
    display: none; }

  .horiz-bar {
    margin-top: 0.75rem; }
    .horiz-bar-menu.menu--l0 {
      float: left; }
    .horiz-bar-menu.menu--l1 {
      max-height: 0;
      overflow: hidden;
      position: absolute;
      left: auto;
      top: 3rem;
      width: 15rem; }
    .horiz-bar-menu.menu--l2 {
      max-height: 0;
      overflow: hidden; }
    .horiz-bar-menu__item.menu__item--l0 {
      overflow: visible;
      position: relative;
      float: left; }
      .horiz-bar-menu__item.menu__item--l0:last-child > ul {
        right: 0; }
    .horiz-bar-menu__item.parent.menu__item--l0 > label {
      border-right-color: #d3691b; }
    .horiz-bar-menu__item.parent.menu__item--l0 > a {
      border-left-color: #d3691b; }
    .horiz-bar-menu__item.parent.menu__item--l0 .menu--l1 {
      background: linear-gradient(to right, #fdf6f0 0, #fdf6f0 0.375rem, #4e728d 0.375rem, #4e728d 100%); }
    .horiz-bar-menu__link.menu__link--l0 {
      margin-right: 3rem;
      padding-right: 0;
      border-right: 0; }
    .horiz-bar-toggle__container {
      display: none; } }
@media only screen and (min-width: 768px) and (max-width: 79.99rem) {
  .horiz-bar .extra-text {
    display: none; }
  .horiz-bar-menu__item.parent.menu__item--l0 {
    background: linear-gradient(to right, #fdf6f0 0, #fdf6f0 0.25rem, #4e728d 0.25rem, #4e728d 100%); }
  .horiz-bar-menu__item.parent.menu__item--l1 {
    background: linear-gradient(to right, #f7d9c3 0, #f7d9c3 0.25rem, #4e728d 0.25rem, #4e728d 100%); }
  .horiz-bar-menu__item.parent.menu__item--l2 {
    background: linear-gradient(to right, #f2bd96 0, #f2bd96 0.25rem, #4e728d 0.25rem, #4e728d 100%); }
  .horiz-bar-menu__item.parent.menu__item .menu--l1 {
    background: linear-gradient(to right, #fdf6f0 0, #fdf6f0 0.25rem, #4e728d 0.25rem, #4e728d 100%); }
  .horiz-bar-menu__item.current {
    background: linear-gradient(to right, #e6843b 0, #e6843b 0.25rem, #4e728d 0.25rem, #4e728d 100%); }
  .horiz-bar-menu__link {
    /** width-sensitive! */
    display: block;
    padding: 0.75rem 0.25rem;
    border: 0 solid transparent;
    border-width: 0 0.25rem; }
    .horiz-bar-menu__link.menu__link--l0 {
      margin-right: 2rem; }
  .horiz-bar__toggle {
    /** width-sensitive! */
    display: block;
    padding: 0.75rem 0.25rem;
    border: 0 solid transparent;
    border-width: 0 0.25rem;
    width: 2rem; } }
@media only screen and (min-width: 768px) and (max-width: 59.99rem) {
  .horiz-bar {
    font-size: .85rem; } }
@media only screen and (max-width: 767px) {
  .horiz-bar {
    font-size: 1rem;
    max-height: 0;
    overflow: hidden; }
    .horiz-bar-menu {
      max-height: 0;
      overflow: hidden; }
      .horiz-bar-menu__item {
        display: block; }

  .horiz-global-toggle:checked ~ .horiz-bar,
  .horiz-global-toggle:checked ~ .horiz-bar > .horiz-bar-menu {
    max-height: 9999rem;
    overflow: visible; } }
/* partials/sidebar */
.sidebar-toggle__container {
  float: left;
  width: 20%;
  margin: 0;
  background-repeat: no-repeat;
  background-image: url(../images/sprite.svg);
  background-size: 32px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0yMC41NSAyMi40NWwtNi4xMS02LjExIDYuMTEtNi4xMS0xLjg5LTEuODktOCA4IDggOHoiLz48L3N2Zz4="); }
  .sidebar-toggle__container:hover, .sidebar-toggle__container:focus, .sidebar-toggle__container:active {
    color: #eee;
    background-color: #648caa;
    background-position: 0 50%; }
.sidebar-toggle__label {
  display: block;
  margin: 0;
  padding: .75rem;
  text-align: center; }

@media only screen and (max-width: 767px) {
  .sidebar {
    display: none; }

  .sidebar-toggle__container {
    display: none; } }
/**
@include minw( $med ) {
	.sidebar-toggle__container {
		display: block;
	}
}
*/
.nav-toggle:checked ~ .sidebar-toggle__container {
  background-repeat: no-repeat;
  background-image: url(../images/sprite.svg);
  background-size: 32px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0xMS40NSAyMi42MWw2LjExLTYuMTEtNi4xMS02LjExIDEuODktMS44OSA4IDgtOCA4eiIvPjwvc3ZnPg==");
  background-position: 100% 50%; }
.nav-toggle:checked ~ .sidebar {
  margin-left: -20%;
  max-height: 0;
  overflow: hidden; }

@media only screen and (min-width: 768px) {
  .nav-toggle:checked ~ .content {
    width: 100%; } }
.sidebar-menu__link {
  display: block;
  padding: .5rem;
  border-left: .25rem solid transparent;
  border-bottom: 1px dotted #9a9a9a; }
  .sidebar-menu__link.menu__link--l1 {
    padding-left: 0.75rem; }
  .sidebar-menu__link.menu__link--l2 {
    padding-left: 1.5rem; }
  .sidebar-menu__link.menu__link--l3 {
    padding-left: 2.25rem; }
  .sidebar-menu__link.menu__link--l4 {
    padding-left: 3rem; }
  .sidebar-menu__link:hover, .sidebar-menu__link:focus, .sidebar-menu__link:active {
    border-bottom-style: solid;
    border-left-color: #d3691b; }

.parent.menu__item--l0 .sidebar-menu__link {
  border-left-color: #f7d9c3; }
.parent.menu__item--l1 .sidebar-menu__link {
  border-left-color: #f2bd96; }
.parent.menu__item--l2 .sidebar-menu__link {
  border-left-color: #eca068; }

.sidebar-menu__item.current .sidebar-menu__link {
  border-left-color: #d3691b; }

/* partials/nav */
.breadcrumbs {
  margin-left: 20%; }

@media only screen and (max-width: 767px) {
  .breadcrumbs {
    margin-left: 0; } }
.breadcrumbs-menu {
  margin: .75rem; }
.breadcrumbs-menu__item {
  font-size: .8rem;
  display: inline; }
.breadcrumbs-menu__item + .breadcrumbs-menu__item {
  margin-left: .5rem; }
.breadcrumbs-menu__item + .breadcrumbs-menu__item:before {
  content: '>>';
  padding-right: .5rem; }

/* partials/links */
/* LINKS */
a {
  text-decoration: none;
  color: #648caa; }
  a:hover, a:focus {
    text-decoration: none; }
  a:focus {
    outline: thin dotted; }
  a:visited {
    color: #3c586d; }
  a .img {
    border: 1px dotted #648caa;
    display: block; }

article a {
  border-bottom: 1px dotted #648caa; }
  article a:hover, article a:focus, article a:active {
    border-bottom: 1px solid; }

/* partials/extras */
/* remove instructions on pages where clicking brings up info */
.instructions {
  display: none; }

.init .instructions {
  display: block; }

.noteToSelf {
  background-color: #FFFF99;
  font-style: italic;
  padding: 0.3em 1em 0.3em 1em;
  display: inline; }

.help {
  background-color: #8899dd;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  padding: 0.1em 0.3em 0.1em 0.3em;
  /* margin: 0.2em; */
  display: inline;
  float: right; }

/* partials/graph */
.resizable {
  position: relative;
  margin: 0;
  padding: 0; }
  .resizable svg {
    width: 100%;
    height: 100%; }
  .resizable .resizer--x, .resizable .resizer--y {
    overflow: hidden; }

.chart__container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

/* clade graph */
@media only screen and (min-width: 768px) {
  .populated.visualisation {
    float: left;
    width: 66.6%;
    padding: 0 0.75rem;
    margin-bottom: 1.5rem; }
  .populated.clade-data {
    width: 33.3%;
    float: right;
    padding-left: 0.75rem;
    margin-bottom: 1.5rem; } }
/* Partition graph */
.partition rect {
  cursor: pointer;
  stroke: #eee; }
.partition text {
  pointer-events: none;
  font-size: .75rem;
  fill: black; }

.resizer--x, .resizer--y {
  position: absolute;
  background: #919090;
  font-size: .5rem;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle; }
  .resizer--x:hover, .resizer--y:hover {
    background: #648caa; }

.resizer--x {
  height: 100%;
  width: 0.75rem;
  right: 0;
  cursor: ew-resize; }

.resizer--y {
  width: 100%;
  height: 0.75rem;
  bottom: 0;
  cursor: ns-resize; }

.active {
  stroke: red; }

.axis .domain {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges; }

.c.axis {
  fill: none;
  stroke: #999;
  stroke-dasharray: 1,4; }

/** phylogram colours */
.node {
  cursor: pointer; }

.node circle {
  fill: #fff;
  stroke: #648caa;
  stroke-width: 1.5px; }

.node.expandable circle {
  fill: #069; }

.node text {
  font-size: .675rem; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px; }

.matrix .qundefined-9 {
  fill: white; }

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 0.75rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 0.1875rem;
  pointer-events: none;
  max-width: 40rem; }

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none; }

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center; }

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px; }

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center; }

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%; }

.tooltip text {
  fill: white;
  stroke: none; }

.tooltip line {
  stroke: white;
  fill: white; }

/* partials/phyloviewer */
.phylo_viewer__container {
  /* 		=========  TOOLBAR ELEMENTS  =========  */
  /*
  	.Distance Ruler
  	Distance Labels
  	Internal Nodes
  	Leaf
  	Leaf Color
  	Leaf Node Size
  */ }
  .phylo_viewer__container #wrapper {
    width: 1220px; }
  .phylo_viewer__container #toolbar {
    width: 220px;
    height: 100%;
    float: left;
    background: white;
    z-index: 1; }
  .phylo_viewer__container #toolbar * {
    font-size: 12px; }
  .phylo_viewer__container #phyloWrapper {
    margin-left: 220px; }
  .phylo_viewer__container #phylogram {
    width: 100%;
    margin-left: 220px;
    /* makes room for left toolbar */
    display: inline-block;
    /* keeps this from wrapping under toolbar */
    float: right;
    position: relative; }
  .phylo_viewer__container #footer {
    clear: both; }
  .phylo_viewer__container #title {
    margin: 0px;
    padding: 20px; }
  .phylo_viewer__container .optionBox {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 10px 0px 10px 15px; }
  .phylo_viewer__container .optionTitle {
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    background: whitesmoke;
    font-weight: bold;
    float: left;
    margin: 0px; }
  .phylo_viewer__container .optionSubtitle {
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    background: whitesmoke;
    font-weight: bold;
    float: left;
    margin: 0px; }
  .phylo_viewer__container .optionBox * {
    float: left; }
  .phylo_viewer__container .optionBox .label {
    width: 110px; }
  .phylo_viewer__container .optionBox .labelShort {
    width: 80px; }
  .phylo_viewer__container .optionBox input {
    float: left; }
  .phylo_viewer__container .optionBox input[type="range"] {
    width: 57px; }
  .phylo_viewer__container .optionBox input[type="radio"] {
    margin-left: 25px;
    margin-right: 5px; }
  .phylo_viewer__container .optionBox input[type="checkbox"] {
    margin-right: 5px;
    position: absolute;
    /* these three lines center the element vertically in the <li> */
    top: 35%;
    transform: translateY(-50%); }
  .phylo_viewer__container .optionBox input[type="submit"] {
    float: right;
    width: 40px;
    border-radius: 3px;
    margin: 2px; }
  .phylo_viewer__container .optionBox select {
    float: right;
    margin: 2px;
    width: 90px; }
  .phylo_viewer__container #toolbar li {
    list-style: none;
    display: inline;
    position: relative; }
  .phylo_viewer__container .optionBox .colorPicker {
    width: 24px;
    height: 24px;
    /* 			background: cyan; */
    font-size: 8px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px dotted grey;
    margin-right: 8px;
    float: right; }
  .phylo_viewer__container .leafnode_label {
    opacity: 0; }
  .phylo_viewer__container .show_leafnode_labels .leafnode_label {
    opacity: 1; }
  .phylo_viewer__container .branchLengths {
    font-size: 10px;
    fill: #ccc;
    opacity: 0; }
  .phylo_viewer__container .show_branchLengths .branchLengths {
    opacity: 1; }
  .phylo_viewer__container .distTicks {
    opacity: 0; }
  .phylo_viewer__container .show_distTicks .distTicks {
    opacity: 1; }
  .phylo_viewer__container .matrix {
    white-space: nowrap;
    font-size: 8px; }
  .phylo_viewer__container .legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: start; }
  .phylo_viewer__container .link {
    /* tree branches */
    stroke: grey; }
  .phylo_viewer__container .leafnode circle {
    r: 4.5;
    stroke: grey;
    fill: white;
    stroke-width: 2px; }
  .phylo_viewer__container .leafnode:hover circle {
    r: 7;
    stroke: orange; }
  .phylo_viewer__container .leafnode:hover rect {
    stroke: orange; }
  .phylo_viewer__container .rootnode circle {
    r: 4.5;
    stroke: #369;
    fill: steelblue;
    stroke-width: 2px; }

.subset-filters {
  list-style: none;
  margin: 0; }

.sample-data__classification--level {
  clear: left;
  float: left;
  width: 10rem;
  margin: 0; }
.sample-data__classification--value {
  float: left;
  max-width: 42rem;
  margin: 0 0 0 0.75rem; }
.sample-data__labeltxt--checked {
  display: none; }
.sample-data__cbox:checked ~ .sample-data__label .sample-data__labeltxt--unchecked {
  display: none; }
.sample-data__cbox:checked ~ .sample-data__label .sample-data__labeltxt--checked {
  display: inline; }

/* partials/infoBox
found on details pages 
*/
.infoBox {
  padding: 0 20px 20px 20px;
  /* this may need to be defined somewhere else... */
  /* Small screen */
  /* Large screen */ }
  .infoBox .textDisplay {
    width: 100%;
    height: 450px;
    padding: 10px 20px;
    overflow: auto;
    border: 2px solid silver; }
  .infoBox > .infoBoxTitle {
    margin: 10px 0 5px 0;
    border-bottom: 2px solid #5a5a5a; }
  @media all and (max-width: 1023px) {
    .infoBox {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }
  @media all and (min-width: 1024px) {
    .infoBox {
      width: 50%; } }

/* partials/pageTitle
page title for a details page	
*/
#pageTitle {
  float: left;
  width: 100%;
  border-bottom: 2px solid #5a5a5a; }
  #pageTitle .normal {
    font-weight: normal; }

/* partials/buttonBar
button bar usually found under pageTitle	
*/
#buttonBar {
  float: right;
  clear: both; }
  #buttonBar button {
    padding: 10px;
    font-size: 75%; }

/* partials/grid
grid of cards found on auto-generated pages 
*/
div.grid {
  float: left; }

a.grid:link, a.grid:visited {
  background: #648caa;
  color: white;
  width: 230px;
  height: 250px;
  padding: 25px;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  border: 0;
  clear: both; }

a.grid:hover, a.grid:active {
  background: white;
  color: #648caa;
  border: 2px solid #648caa;
  cursor: pointer; }

/* 
/list/ page elements, including item table header and footer.
*/
.itemList_controls {
  float: left;
  width: 100%;
  margin: 15px 0; }

.left-elements {
  float: left;
  text-align: left;
  vertical-align: middle; }

.right-elements {
  float: right;
  text-align: right; }

.top {
  border-bottom: 1px solid gray; }

.bottom {
  border-top: 1px solid gray; }

.itemList_body {
  float: left;
  width: 100%;
  clear: both; }

/* partials/print
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  nav {
    display: none; } }

/*# sourceMappingURL=proportal.css.map */
